<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.ClassesMapper">

    <insert id="addClasses" parameterType="Classes">
		insert into Classes(ify_num,ify_name)
		values(#{ify_num},#{ify_name});
	</insert>

	<select id="queryAllClasses" resultType="Classes">
        select * from `Classes`
    </select>

    <select id="queryClasses" resultType="Classes"  parameterType="int">
        select * from `Classes` where ify_num = #{ify_num};
    </select>

	<delete id="deleteClasses">
        delete from Classes where ify_num = #{ify_num};
    </delete>

    <update id="updaleClasses" parameterType="Classes">
        update Classes set ify_name = #{ify_name} where ify_num = #{ify_num};
    </update>
</mapper>