<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.ReviewMapper">

    <insert id="addReview" parameterType="Review">
		insert into review(news_num,review_text,review_author_num,review_date)
		values(#{news_num},#{review_text},#{review_author_num},#{review_date});
	</insert>

	<select id="queryNewsByNum" resultType="Review">
        select * from `review` where news_num = #{news_num};
    </select>

</mapper>