
/*reset*/
html, body {
	height: 100% !important;
}


.navbar-toggler {
	background-color: #fff;
	color: #fff;
}


.row.col-spacing {
	margin-left: -25px;
	margin-right: -25px;
}

.row.col-spacing [class^="col-"] {
	padding-left: 25px;
	padding-right: 25px;
}

.overlay {
	background-color: #000;
	opacity: .85;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*navbar*/
.navbar.main-navbar {
	background-color: rgba(0, 0, 0, 0.8) !important;
	position: fixed;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 5;
}

.navbar.main-navbar.bg-dark {
	background-color: #000 !important;
}

.navbar.main-navbar .navbar-brand {
	width: 110px;
	padding: 0;
	line-height: 0;
}

.navbar.main-navbar .navbar-brand img {
	width: 100%;
}

.navbar.main-navbar .nav-link {
	color: #aaffff;
	padding: 0 20px;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255,255,255,.75);
	position: relative;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:after {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	height: 2px;
	width: 0;
	background-color: #fff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}

.navbar.main-navbar .nav-link:hover {
	color: #fff;
}

.navbar.main-navbar .nav-link:hover:after {
	width: 20px;
}

.navbar.main-navbar .nav-item.active .nav-link {
	color: #fff;
}

.navbar.main-navbar .nav-item.active .nav-link:after {
	width: 20px;
}

.navbar.main-navbar .form-inline {
	margin-left: 15px;
}

.navbar.main-navbar .form-inline .btn {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: transparent;
	border-color: #fff;
}

.navbar.main-navbar .form-inline .btn:hover {
	background-color: #fff;
	color: #000;
	opacity: 1;
}

/*hero*/
.hero {
	height: 100%;
	color: #fff;
	position: relative;
}

.hero .text {
	position: absolute;
	top: 60%;
	left: 300px;
	right: 300px;
	transform: translateY(-60%);
	-webkit-transform: translateY(-60%);
	-moz-transform: translateY(-60%);
	-o-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	z-index: 1;
	text-align: center;
}

.hero .text h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 300;
	letter-spacing: .5px;
	line-height: 1.3em;
}

.hero .text h1 .bold {
	font-weight: 600;
}

.hero .text p.lead {
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 0;
	font-size: 16px;
}

.hero .cta {
	margin-top: 40px;
}

.hero .cta .btn {
	padding: 15px 20px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1.3px;
	font-weight: 600;
}

.hero .cta .btn.btn-primary {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.hero .cta .btn.btn-link {
	color: #fff;
}

.hero .cta .btn.btn-link i {
	margin-right: 5px;
}

.hero .cta .link {
	margin-top: 15px;
}

.hero .cta .link a {
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
	text-transform: none;
	color: #999;
	font-weight: 600;
	letter-spacing: .3px;
}
.image-slider{
	padding:60px 0px;
}
.content_top {
    background: #000000;
    padding: 50px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.content_top h1 a {
    color: #ffffff;
    padding-bottom: 14px;
}
.content_top h1 a:hover {
    text-decoration: none;
}
.content_top p {
    font-size: 1em;
    line-height: 1.8em;
    color: #ffffff;
    margin-bottom: 24px;
    margin: 14px 0px 24px 0px;
}
.wrap {
    width: 80%;
    margin: 0 auto;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
}
@media only screen and (max-width: 1366px) and (min-width: 1280px)
.wrap {
    width: 90%;
}
.content_top span a {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
	text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.content_top span a:hover{
	background-color: #6d0000;
    color: #ffffff;
}
.content_top:after {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border:25px solid #FFF;
    border-top: 0 solid rgba(0, 0, 0, 0)!important;
    border-right: 15px solid rgba(0, 0, 0, 0)!important;
    border-left: 15px solid rgba(0, 0, 0, 0)!important;
    left: 0%;
    top: 30px;
    margin-left: -10px;
}
.content-grids {
	padding:50px 0;
	background:#FFF;
}
.clear {
    clear: both;
}	
.grid{
	float: left;
	width: 30%;
	background: #fff;
	border: 1px solid #EBEBEB;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 3%;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.grid h3{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom: 8px;
	font-size: 1.6em;
	color:#00B895;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}

.button{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color:#00B895;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #222;
}
/*-----specials-heading----*/
.specials{
	background:#EDEAE6;
	padding-top:50px;
	position:relative;
}
.specials:after{
	content: '';
	position:absolute;
	width: 0;
	height: 0;
	border:20px solid #FFF;
	border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
	border-right: 15px solid rgba(0, 0, 0, 0)!important;
	border-left: 15px solid rgba(0, 0, 0, 0)!important;
	left:50%;
	top:0px;
	margin-left: -10px;
}
.specials-heading h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	color:#6C6C6D;
	text-align: center;
	text-transform: uppercase;
}
/*----special-grid------*/
.special-grid {
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}
.special-grid img{
	width:100%;
}
.special-grid a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	color:#5F5F5F;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	padding: 0.3em 0;
	display: block;
}
.special-grid a:hover{
	color: #009175;
}
.special-grid p{
	font-size: 0.875em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.5em;
}
.spe-grid{
	margin: 0px;
}
.specials-grids {
	padding: 50px 0;
}
img {
    max-width: 100%;
}
/*article*/
article.card {
	border: none;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
	margin-bottom: 60px;
}

article.card .card-img-top {
	height: 290px;
	
}

article.card .card-title {
	font-size: 20px;
	line-height: 28px;
}

article.card .card-title a {
	color: #000;
	text-decoration: none;
}

article.card .card-text {
	color: #666;
	line-height: 26px;
}
article.card .card-more {
	text-transform: uppercase;
	font-weight: 800;
	text-transform: 2px;
	color: #000;
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
}


.about-header h3{
	font-family: 'Roboto', sans-serif;
	    font-size: 2em;
	    color: #012231;
	    text-align: center;
	    text-transform: uppercase;
}
.about-us {
    padding: 50px 0;
}
.about-info a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: #009175;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    padding: 1em 0 0.5em 0;
    display: block;
}
.about-info a:hover {
    text-decoration: none;
}
.about-info p {
    font-size: 0.875em;
    color: rgba(85, 81, 81, 0.84);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}
.rslides{
	max-height: 500px;
}
.testmonials {
    text-align: center;
    background: #FFF;
    padding: 30px 0;
}
.testmonial-grid h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: #323A45;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0 0.5em 0;
}
.testmonial-grid p {
    font-size: 0.875em;
    color: #8A8A8A;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
    margin: 0 auto;
    width: 80%;
    line-height: 1.8em;
}


.services {
	padding: 50px 0px;
}
.services-header h5{
	float: left;
	width: 40%;
	height: 1px;
	background: #D1D1D1;
	margin: 24px 0px 0px 0px;
}
.services-header h3{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: #012231;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0 0.5em 0;
}
.section {
	clear: both;
	padding: 0px;
	margin-left: 50px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.listview_1_of_2{
	display: block;
	float:left;
	margin: 0% 0 4% 0%;
}
.grid2{
	border-top: 1px solid rgba(192, 192, 192, 0.39);
}
.listimg{
	display: block;
	float:left;
}
.text{
	display: block;
	float:left;
	margin: 0% 0 0% 3.6%;
}
.listview_1_of_2:first-child { margin-left: 0;} 

.images_1_of_2 {
	width: 46.96%;
	padding:1.5%; 
}
.listimg_2_of_1 {
	width: 18.2%;
}
.list_2_of_1 {
	width: 70.2%;
}
.images_1_of_2  img {
	max-width:100%;
	display:block;
	padding-top: 25px;
}
.list_2_of_1  h3{
	font-family: 'Roboto', sans-serif;
	font-size:1.6em;
	color: #626262;
	text-transform:uppercase;
	text-align: left;
}
.list_2_of_1 h3 span{
	color:#00B895;
}
.list_2_of_1  p{
	font-size:0.85em;
	color:#949191;
	line-height:1.8em;
	margin: 0px 0px 16px 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.list_2_of_1 h4{
	color:#A8A8A8;
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	padding: 5px 0px;
}
@media screen and (max-width: 768px) {
	.hero .text {
		left: 20px;
		right: 20px;
	}
	.navbar.main-navbar .navbar-collapse {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.navbar.main-navbar .navbar-nav .nav-item a {
		display: inline-block;
		padding: 10px 0;
	}
	.navbar.main-navbar .navbar-nav .nav-item a:after {
		display: none;
	}
	.navbar.main-navbar .form-inline {
		margin-left: 0;
	}
	
	/*----special-grid------*/
	.special-grid {
		float: left;
		width: 350px;
		margin-right: 30px;
		text-align: center;
	}
	.grid{
		float: left;
		width: 350px;
		background: #fff;
		border: 1px solid #EBEBEB;
		padding: 19px 18px 25px;
		color: #7e7e7e;
		text-align: center;
		margin-right: 30px;
		-webkit-box-shadow: 0px 56px 36px -60px #121D12;
		-moz-box-shadow: 0px 56px 36px -60px #121D12;
		-o-box-shadow: 0px 56px 36px -60px #121D12;
	}
	.image-slider{
		padding:30px 0px;
	}
	.rslides{
		max-height: 250px;
	}
	.section{
		margin:0px;
	}
}

@media screen and (max-width: 576px) {
	.hero .text h1 {
		font-size: 34px;
	}
	.hero .text p.lead {
		line-height: normal;
	}
	.projects-picture {
		margin-bottom: 40px;
	}
	.maps {
		margin-bottom: 40px;
		width: 100%;
		height: 250px;
	}
	section.callout .text {
		text-align: center;
		margin-bottom: 20px;
	}
	section.callout .cta {
		text-align: center;
	}
	.row.col-spacing {
		margin-left: -15px;
		margin-right: -15px;
	}
	.row.col-spacing [class^="col-"] {
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-item {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 320px) {

	.article-read .article-read-inner {
		width: 50%;
	}
}
#footer{
	background-color: #2f2f2f;
	color: white;
	padding: 30px 0;
}
#footer .contact {
	background-color: #222222;
	text-align: right;
	height: 50px;
}
.container h3{
	line-height: 40px;
	margin-right:10px;
}
.container h5{
	line-height: 80px;
	margin-right:10px;
}
.container{
	padding-right: 105px;
	padding-left: 105px;
	margin: 35px;
	margin-right: auto;
	margin-left: auto;
}
.contact a{
	line-height: 50px;
	font-size: 18px;
	margin-right:10px;
	color: #bbd1b8;
}

#scroll-top .to-top a {
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.05);
  background: black;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  height: 53px;
  width: 53px;
  line-height: 53px;
  position: fixed;
  text-align: center;
  top: 87.7%;
  right: 45px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  z-index: 999;
}
.to-top a i:before {
  margin: 0;
  font-size: 16px;
}
.to-top a i:hover {
  text-decoration: none;
}
.view-more-btn{
	background: #2d136a;
	height: 58px;
	padding: 0 50PX;
	display: inline-block;
	text-align: center;
	line-height: 58px;
	color: #ffffff;
	font-weight: 500;
	font-size: 16px;
	margin-top: 4px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.title a{
	 text-decoration: none;	
}
.view-more-btn:hover{
	background: #1e90ff;
}
.section-content p {
  font-weight: 400;
}
.dark-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
.price-hv3-section {
    background: url(../img/hv3-pricing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dark-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #1D5DF9;
    content: "";
    z-index: -1;
    opacity: .5;
}
.section-title{
	
    padding-top: 120px;
	padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
}
 .testimonial-area {
    position: relative;
    margin-top: 50px;
    box-shadow: none;
    background: #1e90ff;
    border-radius: 5px;
}
.item-img {
    display: inline-block;
    position: absolute;
    top: -44px;
    left: 50%;
    transform: translate(-50%);
}
.slide-head p{
	position: unset;
	margin-top: 60px;
    color:#ffffff;
	font-weight: 700;
	font-size: 24px;
	position: relative;
    width: 100%;
}
.slide-head p span {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
}
 .testimonial-area {
    padding: 30px 60px;
    box-shadow: 0px 1px 40px 0px rgba(45, 19, 106, 0.1);
    margin: 30px 0px;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}