<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.commentMapper">

    <select id="queryCommentById" resultType="comment">
        select * from comment where video_id = #{id}
        ORDER BY creation_time
    </select>

    <insert id="addComment" parameterType="comment">
        insert into comment
        values(#{id},#{content},#{user_id},#{video_id},#{creation_time});
    </insert>

    <delete id="deleteComment">
        delete from comment where id = #{id};
    </delete>
</mapper>