<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<title>国际要闻</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<style>
		body{
			background: #e8e8e8;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
							<div class="site-navigation">
							    <nav id="main-navigation" class="main-navigation">
							        <div class="menu-menu-1-container">
							            <ul id="primary-menu" class="menu">
							                <li><a href="../index.html">首页</a></li>
							                <li><a style="color: red;" href="">国际要闻</a></li>
							                <li><a href="gjzx.html">国际资讯</a></li>
							                <li><a href="wyds.html">文娱大事</a></li>
							                <li><a href="msdt.html">民生动态</a></li>
							            </ul>
							        </div>
							    </nav>
							</div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="login.html">登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	<div id="site-content" class="site-content">
		<div class="container">
			<div class="row">
				<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
					<main id="main" class="site-main row big-posts">
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/dzzh.jpg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">陕西发布地质灾害气象黄色预警</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际要闻</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">9日，陕西省自然资源厅与陕西省气象局联合发布地质灾害气象预报预警：预计10月9日8时至10日8时，延安、铜川、咸阳、宝鸡、汉中大部，榆林米脂、佳县、子洲、临潼，安康宁陕，商洛柞水发生滑坡、崩塌、泥石流等地质灾害的可能性较大(黄色预警)。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/szs.jpg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">台风“狮子山”登陆海南 强度为热带风暴级</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际要闻</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据中国气象网报道据了解，台风“狮子山”登陆海南琼海时，中心附近最大风力为8级。根据在线视频，在暴风雨中，路边的树木被吹得变形，剧烈摇晃，海南市民在暴风雨中艰难行走。值得注意的是，由于台风“狮子山”的影响，海南今天仍有强风暴。海南气象台预测，海南岛西部阴天将有大雨和局部大雨；海南岛北部阴天有...</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/tns.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">突尼斯两列火车相撞致33伤</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际要闻</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">CNN援引突尼斯媒体的话说，当地时间7日晚，两列客车在突尼斯首都的一处车站相撞，造成至少33人受伤。突尼斯国家铁路局的一位发言人说，当天，一列正在运行的火车与停在车站的火车相撞。十多辆救护车和救援部队已赶赴现场，事故原因正在调查中。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/qy.jpg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">日本千叶县发生地震 东京都足立区震度达到5强</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际要闻</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据日本气象厅观测，地震震中位于北纬35.6度、东经140.1度，震源深度80公里。整个东京圈，包括千叶县、斋玉县、东京都和神奈川县，都受到了强烈的影响。东京大都会港区的震级为4级，窗户和墙壁剧烈摇晃。据日本警方和消防部门称，截至目前，已有20多人因突然刹车、摔倒等原因在地震中受伤。</p>
									</div>
								</div>
							</article>
						</div>
					</main>
				</div>

				<div class="page-inner">
					<a href="#" class="n">&lt; 上一页</a>

						<strong><span class="pc">1</span></strong>
						<a href="#"><span class="pc">2</span></a>
						<a href="#"><span class="pc">3</span></a>
						<a href="#"><span class="pc">4</span></a>
						<a href="#"><span class="pc">5</span></a>
						<a href="#"><span class="pc">6</span></a>
						<a href="#"><span class="pc">7</span></a>
						<a href="#"><span class="pc">8</span></a>
						<a href="#"><span class="pc">9</span></a>

					<a href="#" class="n">下一页 &gt;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
</html>
