<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<title>国际资讯</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<style>
		body{
			background: #e8e8e8;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
							<div class="site-navigation">
							    <nav id="main-navigation" class="main-navigation">
							        <div class="menu-menu-1-container">
							            <ul id="primary-menu" class="menu">
							                <li><a href="../index.html">首页</a></li>
							                <li><a href="gjyw.html">国际要闻</a></li>
							                <li><a style="color: red;" href="">国际资讯</a></li>
							                <li><a href="wyds.html">文娱大事</a></li>
							                <li><a href="msdt.html">民生动态</a></li>
							            </ul>
							        </div>
							    </nav>
							</div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="login.html">登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	<div id="site-content" class="site-content">
		<div class="container">
			<div class="row">
				<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
					<main id="main" class="site-main row big-posts">
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/tsl.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">特斯拉歧视黑人被罚</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际资讯</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据迪亚兹说，在他工作的这一年里，他的主管和几个同事对他进行了口头侮辱。他还说，一些员工在工厂周围留下歧视性漫画，特斯拉不仅没有解决问题，而且对此视而不见，让他在充满敌意的环境中工作。他的儿子在特斯拉工厂同样受到歧视。2016年5月，迪亚兹辞职后，他带着儿子和另一名非裔美国前雇员将特斯拉告上法庭。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/zc.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">前德甲中场涉嫌谋杀被捕</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际资讯</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据土耳其媒体《民族报》报道，厄兹图尔克因故意杀人罪被调查。目前，他到处被通缉。另一家土耳其媒体Fanatik说，尽管警方尚未发布正式声明，但他已因谋杀罪被拘留。这位35岁的球员在勒沃库森开始了他的足球生涯。他为纽伦堡、费内巴切效力，最后在贝西克塔斯退役。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/ygsy.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">英国各大城市多达九成加油站宣告燃油售罄</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际资讯</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据9月28日报道，截至27日，英国主要城市多达90%的加油站已宣布燃料已售罄。英国政府不得不呼吁人们“不要匆忙购买和不储存石油”，甚至考虑暂时培训士兵作为燃料卡车司机，以缓解“燃料紧迫性” 。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/wlzx.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">美国一物流中心突发大火</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">国际资讯</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据美国媒体报道，当地时间9月30日下午，洛杉矶县一物流中心发生火灾，现场浓烟滚滚。据报道，装货码头附近的几辆卡车、拖车和集装箱似乎也被烧毁。一名员工在接受采访时说，一桶洗手液爆炸，并认为这是起火的原因。“我们出去后卸下拖车，然后听到一声巨大的爆炸声。”该员工说，“爆炸的是一个桶。然后我们回头一看，看到了一团巨大的火焰。”报道说，视频显示数百个托盘使火焰燃烧得更猛烈。</p>
									</div>
								</div>
							</article>
						</div>
					</main>
				</div>

				<div class="page-inner">
					<a href="#" class="n">&lt; 上一页</a>

						<strong><span class="pc">1</span></strong>
						<a href="#"><span class="pc">2</span></a>
						<a href="#"><span class="pc">3</span></a>
						<a href="#"><span class="pc">4</span></a>
						<a href="#"><span class="pc">5</span></a>
						<a href="#"><span class="pc">6</span></a>
						<a href="#"><span class="pc">7</span></a>
						<a href="#"><span class="pc">8</span></a>
						<a href="#"><span class="pc">9</span></a>

					<a href="#" class="n">下一页 &gt;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
</html>
