<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<title>民生动态</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<style>
		body{
			background: #e8e8e8;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
							<div class="site-navigation">
							    <nav id="main-navigation" class="main-navigation">
							        <div class="menu-menu-1-container">
							            <ul id="primary-menu" class="menu">
							                <li><a href="../index.html">首页</a></li>
							                <li><a href="gjyw.html">国际要闻</a></li>
							                <li><a href="gjzx.html">国际资讯</a></li>
							                <li><a href="wyds.html">文娱大事</a></li>
							                <li><a style="color: red;" href="">民生动态</a></li>
							            </ul>
							        </div>
							    </nav>
							</div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="login.html">登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	<div id="site-content" class="site-content">
		<div class="container">
			<div class="row">
				<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
					<main id="main" class="site-main row big-posts">
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/zr.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">猪肉价格大跌 意味着生猪供给也在增加</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">民生动态</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">最近，饲料行业迎来了一波“涨价潮”。新希望、正邦科技、通威股份、正大集团、大北农等饲料企业相继发布涨价通知，每吨涨价50元至100元，涉及浓缩饲料、乳猪料、鸡料、鱼料等多条饲料产品线。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/gyc.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">女子长期吃隔夜菜晕倒 一下子就没有意识了</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">民生动态</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据媒体报道，武汉汉口的胡女士独居，生活俭朴。为了省事，她总是一次煮两天饭，每次要吃时就拿出来加热一下。最近，她总是感到虚弱，甚至晕倒在家里。在被邻居送往武汉市中心医院后，她发现严重贫血。原因是长期吃隔夜菜造成的。胡女士说：“我走路的时候有点喘不过气来，然后感到头晕，一下子就没有意识了。”</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/djnh.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">独居女孩被中介杀害 嫌疑人曾攀爬窗户入室抢劫</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">民生动态</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">经过查证，死者是外地来厦人员(女，25岁)，今年8月通过怡某佳房产中介公司租房搬至该小区居住。经过全力攻坚，2日上午10时许，专案组在泉州市安溪县成功抓获了犯罪嫌疑人王某锋(男，31岁)。经过审查，王某锋因欠债无力偿还，物色独居受害人为作案目标，于1日晚攀爬窗户抢劫，因担心被害人报警而将其杀害后潜逃。现，犯罪嫌疑人王某锋已被警方依法刑事拘留，案件正在进一步侦查中。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/sgq.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">87岁老人连续19年升国旗 精神仍然饱满</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">民生动态</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据一段视频显示，虽然朱宗鹤老人87岁了，但他身体强壮，精力充沛。他已经升旗7000多次，拇指粗的旗绳断了8条，老人通常站立的地方已经下降了3厘米，国旗换到了第31面。今天，老人再次升起五星红旗。令他高兴的是,这已不是他自己的升旗仪式，因为镇里和村里的党员干部、附近的村民也自发过来参加升旗仪式。</p>
									</div>
								</div>
							</article>
						</div>
					</main>
				</div>

				<div class="page-inner">
					<a href="#" class="n">&lt; 上一页</a>

						<strong><span class="pc">1</span></strong>
						<a href="#"><span class="pc">2</span></a>
						<a href="#"><span class="pc">3</span></a>
						<a href="#"><span class="pc">4</span></a>
						<a href="#"><span class="pc">5</span></a>
						<a href="#"><span class="pc">6</span></a>
						<a href="#"><span class="pc">7</span></a>
						<a href="#"><span class="pc">8</span></a>
						<a href="#"><span class="pc">9</span></a>

					<a href="#" class="n">下一页 &gt;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
</html>
