<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<title>文章管理</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<style>
		body{
			background: #e8e8e8;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
	                        <div class="site-navigation">
	                            <nav id="main-navigation" class="main-navigation">
	                                <div class="menu-menu-1-container">
	                                    <ul id="primary-menu" class="menu">
	                                        <li><a href="news.html">编写文章</a></li>
	                                        <li><a style="color: red;" href="#">文章管理</a></li>
	                                        <li><a href="userManage.html">用户信息管理</a></li>
	                                    </ul>
	                                </div>
	                            </nav>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="../index.html">退出登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		<div id="site-content" class="site-content">
			<div class="container">
				<div class="row">
					<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
						<main id="main" class="site-main row big-posts">
							<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
								<article class="styled">
									<header class="entry-header">
										<a href="" >
											<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
												<img width="100%" height="100%" class="lazyload" src="../img/qy.jpg" />
												<figcaption>
												</figcaption>
											</figure>
										</a>
									</header>
									<div class="entry-content">
										<div class="post-heading">
											<h3 class="entry-title"><a href="" rel="bookmark">日本千叶县发生地震 东京都足立区震度达到5强</a></h3>
											<ul class="post-meta entry-meta">
												<li class="author">作者：<a href="#">锕U</a></li>
												<li>发布时间:2021-10-10</li>
												<li class="author">分类：<a href="#">国际要闻</a></li>
												<li><a href="">编辑</a></li>
												<li><a href="">删除</a></li>							
											</ul>
										</div>
										<div class="post-excerpt">
											<p class="note">据日本气象厅观测，地震震中位于北纬35.6度、东经140.1度，震源深度80公里。整个东京圈，包括千叶县、斋玉县、东京都和神奈川县，都受到了强烈的影响。东京大都会港区的震级为4级，窗户和墙壁剧烈摇晃。据日本警方和消防部门称，截至目前，已有20多人因突然刹车、摔倒等原因在地震中受伤。</p>
										</div>
									</div>
								</article>
								<article class="styled">
									<header class="entry-header">
										<a href="" >
											<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
												<img width="100%" height="100%" class="lazyload" src="../img/sgq.jpeg" />
												<figcaption>
												</figcaption>
											</figure>
										</a>
									</header>
									<div class="entry-content">
										<div class="post-heading">
											<h3 class="entry-title"><a href="" rel="bookmark">87岁老人连续19年升国旗 精神仍然饱满</a></h3>
											<ul class="post-meta entry-meta">
												<li class="author">作者：<a href="#">锕U</a></li>
												<li>发布时间:2021-10-10</li>
												<li class="author">分类：<a href="#">民生动态</a></li>
												<li><a href="">编辑</a></li>
												<li><a href="">删除</a></li>		
											</ul>
										</div>
										<div class="post-excerpt">
											<p class="note">据一段视频显示，虽然朱宗鹤老人87岁了，但他身体强壮，精力充沛。他已经升旗7000多次，拇指粗的旗绳断了8条，老人通常站立的地方已经下降了3厘米，国旗换到了第31面。今天，老人再次升起五星红旗。令他高兴的是,这已不是他自己的升旗仪式，因为镇里和村里的党员干部、附近的村民也自发过来参加升旗仪式。</p>
										</div>
									</div>
								</article>
								<article class="styled">
									<header class="entry-header">
										<a href="" >
											<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
												<img width="100%" height="100%" class="lazyload" src="../img/wlzx.jpeg" />
												<figcaption>
												</figcaption>
											</figure>
										</a>
									</header>
									<div class="entry-content">
										<div class="post-heading">
											<h3 class="entry-title"><a href="" rel="bookmark">美国一物流中心突发大火</a></h3>
											<ul class="post-meta entry-meta">
												<li class="author">作者：<a href="#">锕U</a></li>
												<li>发布时间:2021-10-10</li>
												<li class="author">分类：<a href="#">国际资讯</a></li>
												<li><a href="">编辑</a></li>
												<li><a href="">删除</a></li>
											</ul>
										</div>
										<div class="post-excerpt">
											<p class="note">据美国媒体报道，当地时间9月30日下午，洛杉矶县一物流中心发生火灾，现场浓烟滚滚。据报道，装货码头附近的几辆卡车、拖车和集装箱似乎也被烧毁。一名员工在接受采访时说，一桶洗手液爆炸，并认为这是起火的原因。“我们出去后卸下拖车，然后听到一声巨大的爆炸声。”该员工说，“爆炸的是一个桶。然后我们回头一看，看到了一团巨大的火焰。”报道说，视频显示数百个托盘使火焰燃烧得更猛烈。</p>
										</div>
									</div>
								</article>
								<article class="styled">
									<header class="entry-header">
										<a href="" >
											<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
												<img width="100%" height="100%" class="lazyload" src="../img/tns.jpeg" />
												<figcaption>
												</figcaption>
											</figure>
										</a>
									</header>
									<div class="entry-content">
										<div class="post-heading">
											<h3 class="entry-title"><a href="" rel="bookmark">突尼斯两列火车相撞致33伤</a></h3>
											<ul class="post-meta entry-meta">
												<li class="author">作者：<a href="#">锕U</a></li>
												<li>发布时间:2021-10-10</li>
												<li class="author">分类：<a href="#">国际要闻</a></li>
												<li><a href="">编辑</a></li>
												<li><a href="">删除</a></li>
											</ul>
										</div>
										<div class="post-excerpt">
											<p class="note">CNN援引突尼斯媒体的话说，当地时间7日晚，两列客车在突尼斯首都的一处车站相撞，造成至少33人受伤。突尼斯国家铁路局的一位发言人说，当天，一列正在运行的火车与停在车站的火车相撞。十多辆救护车和救援部队已赶赴现场，事故原因正在调查中。</p>
										</div>
									</div>
								</article>
								
							</div>
						</main>
					</div>
					
					<div class="page-inner">
						<a href="#" class="n">&lt; 上一页</a>
					
							<strong><span class="pc">1</span></strong>
							<a href="#"><span class="pc">2</span></a>
							<a href="#"><span class="pc">3</span></a>
							<a href="#"><span class="pc">4</span></a>
							<a href="#"><span class="pc">5</span></a>
							<a href="#"><span class="pc">6</span></a>
							<a href="#"><span class="pc">7</span></a>
							<a href="#"><span class="pc">8</span></a>
							<a href="#"><span class="pc">9</span></a>
					
						<a href="#" class="n">下一页 &gt;</a>
					</div>
				</div>
			</div>
		</div>

		<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
</html>
