<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<link rel="stylesheet" href="../js/editormd/css/editormd.css" />
	<title>文章编写</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<script type='text/javascript' src="../js/editormd/editormd.js"></script>
	<style>
		body{
			background: #e8e8e8;
		}
		.edit{
			height: 500px;
			z-index: 10;
			font-size: 20px;
			resize: none;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
	                        <div class="site-navigation">
	                            <nav id="main-navigation" class="main-navigation">
	                                <div class="menu-menu-1-container">
	                                    <ul id="primary-menu" class="menu">
	                                        <li><a style="color: red;" href="#">编写文章</a></li>
	                                        <li><a href="newManage.html">文章管理</a></li>
	                                        <li><a href="userManage.html">用户信息管理</a></li>
	                                    </ul>
	                                </div>
	                            </nav>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="../index.html">退出登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		
		<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
			<article class="styled">
				<h3 style="text-align: center;">文章标题</h3>
				<input style="width: 400px;height: 40px;line-height: 40px;margin: auto" name="btn" class="form-control" type="text" id="btn"/>
				<h3 style="text-align: center;">文章内容</h3>						
				<div class="edit">
					<div id="test-editor">
						<textarea style="display:none;" name="text"></textarea>
					</div>
				</div>
				
				<div class="form-group" style="margin-left: 675px ;margin-top: 20px;">
					<button type="submit" name="editor"> 发布文章 </button>
				</div>
			</article>
		</div>
		<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
		<script type="text/javascript">
			$(function() {
				var editor = editormd("test-editor", {
					path   : "../js/editormd/lib/"
				});
			});
		</script>
</html>
