<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<title>文娱大事</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	<script type='text/javascript' src='../js/common.js'></script>
	<style>
		body{
			background: #e8e8e8;
		}
	</style>
</head>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
							<div class="site-navigation">
							    <nav id="main-navigation" class="main-navigation">
							        <div class="menu-menu-1-container">
							            <ul id="primary-menu" class="menu">
							                <li><a href="../index.html">首页</a></li>
							                <li><a href="gjyw.html">国际要闻</a></li>
							                <li><a href="gjzx.html">国际资讯</a></li>
							                <li><a style="color: red;" href="">文娱大事</a></li>
							                <li><a href="msdt.html">民生动态</a></li>
							            </ul>
							        </div>
							    </nav>
							</div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="login.html">登录</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	<div id="site-content" class="site-content">
		<div class="container">
			<div class="row">
				<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
					<main id="main" class="site-main row big-posts">
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/jzy.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">姜子牙票房破10亿 中国电影市场最快破十亿的动画电影</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">文娱大事</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">专业版“猫眼”见证了10月4日17:31:29，《姜子牙》的票房突破10亿，用时3天9小时31分，成为中国动画片市场最快突破10亿的影片！《姜子牙》在打破中国动画片市场的首日票房纪录后，再次让我们大吃一惊。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/nbej.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">古尔纳得知获诺奖以为是恶作剧</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">文娱大事</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">据悉，在获得诺贝尔文学奖后第一时间接受了一次电话采访，采访者是亚当·史密斯，诺贝尔奖外联部首席科学官。不仅是中国作家们对古尔纳获奖深感意外，古尔纳自己在获奖后也感到很“懵”，他说：“我以为这是个恶作剧。”</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/cl.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">黄金配角陈龙去世！曾与李小龙合作过《龙争虎斗》《精武门》</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">文娱大事</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">陈龙别名陈会龙，1942年6月4日出生于中国香港，中国香港电影演员。陈龙曾出演《六指琴魔》《怒海威龙》《天下无双》等，演出生涯中最为影迷所熟悉的莫过于是《赌侠II上海滩赌圣》的“雷老虎”、1993年《方世玉》中李连杰的仆人以及1994年《六指琴魔》中的“迟来大师”，武打之中渗出浓烈的喜感，在不少观众中留下深刻印象。</p>
									</div>
								</div>
							</article>
						</div>
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled">
								<header class="entry-header">
									<a href="" >
										<figure style="width: 250px;height:138px;" class="post-image animated-overlay overlay-alt">
											<img width="100%" height="100%" class="lazyload" src="../img/lsh.jpeg" />
											<figcaption>
											</figcaption>
										</figure>
									</a>
								</header>
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a href="" rel="bookmark">李少红的母亲，演员、导演金淑琪去世，享年91岁</a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#">锕U</a></li>
											<li>发布时间:2021-10-10</li>
											<li class="author">分类：<a href="#">文娱大事</a></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note">10月2日，上海电影(集团)有限公司发布讣告，上海电影制片厂离休干部金淑琪因病于10月1日逝世，享年91岁。金淑琪1930年出生，山东蓬莱人，1946年开始从事文艺工作。她生前参加过大歌舞《东方红》的拍摄， 担任话剧电影《淮海战役》总导演。演艺生涯代表作包括《金色的教鞭》《三亲家》《钱这个东西》。 金淑琪也是著名导演李少红的母亲。</p>
									</div>
								</div>
							</article>
						</div>
					</main>
				</div>

				<div class="page-inner">
					<a href="#" class="n">&lt; 上一页</a>

						<strong><span class="pc">1</span></strong>
						<a href="#"><span class="pc">2</span></a>
						<a href="#"><span class="pc">3</span></a>
						<a href="#"><span class="pc">4</span></a>
						<a href="#"><span class="pc">5</span></a>
						<a href="#"><span class="pc">6</span></a>
						<a href="#"><span class="pc">7</span></a>
						<a href="#"><span class="pc">8</span></a>
						<a href="#"><span class="pc">9</span></a>

					<a href="#" class="n">下一页 &gt;</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer site-footer footer-one">
	        <div class="footer-bottom">
	            <div class="container">
	                <nav class="footer-navigation">
	                    <ul id="footer-menu" class="menu">
	                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
	                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
	                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
	                                target="_blank" rel="noopener noreferrer" href="#">关于天下知</a></li>
	                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
	                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
	                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
	                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
	                    </ul>
	                </nav>
	                <div class="copyright-text"> www.天下知.com 2021 - All Rights Reserved.</div>
	            </div>
	        </div>
	    </div>
</div>

</body>
</html>
