#banner_nav {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    /* opacity: 0.8; */
    position: relative;
    z-index: 500;
}
input {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #dddddd;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
}
.mart-05 {
    margin-top: 5px;
}
.buybox>div {
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    width: 150px;
    display: inline-block;
    cursor: pointer;
}
#banner_nav .banner_nav_ul>li {
    float: left;
    color: #333;
    line-height: 100px;
    cursor: pointer;
    font-size: 12px;
}
#banner_nav .banner_nav_ul>li>a {
    color: #333;
	font-size: 15px;
}
.shopcartNum {
    top: 23px;
    right: 33px;
}
.cbebeb {
    border-color: #ebebeb;
}

.ubb {
    border-bottom: 1px solid #ebebeb;
}
.bgfff {
    background-color: #fff;
}
.pad20 {
    padding: 20px;
}
.adpic .big_pic {
    width: 430px;
    height: 430px;
}
.small_box .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 2;
    cursor: move;
}
.small_box .float_layer {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.5);
    display: none;
}
 .adpic .big_pic>img {
    width: 100%;
    height: 100%;
}
.detailpicchoose {
    border: 3px solid #CD3F3A;
}
.supplierbox {
    height: 79px;
    background-color: #b5b463;
    text-align: center;
    position: relative;
    padding: 2px 15px;
    color: #ffffff;
    z-index: 999;
    width: 150px;
    line-height: 39px;
}
.clearfix:after {
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    content: "";
}
.supplierbox:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 9px solid #b5b463;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    left: 75px;
    top: -15px;
}
.big_box {
    position: absolute;
    left: 430px;
    top: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: none;
    z-index: 99999999999;
}
.big_box img {
    position: absolute;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container .swiper-slide {
    text-align: center;
    background: #fff;
    width: 58px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.detail {
    width: 643px;
}
.detail .good_price {
    background-color: #f6f6f6;
}
.marr10 {
    margin-right: 10px;
}
.swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}
.detail .good_ac_price {
    padding: 4px 8px;
}
.detail .good_ac_price .ac_color {
    color: #8b3734;
}
.detail .good_shop_price .left_span {
    color: #b8b8b8;
    font-size: 12px;
    margin-left: 20px;
}
.detail .good_shop_price .right_span {
    color: #333;
    font-size: 14px;
}
.goods_condition .condtion_title {
    width: 100px;
    color: #999;
}
.goods_condition>ul>li {
    margin-bottom: 15px;
}
.tx_c {
    text-align: center!important;
}
#todayCommand {
    padding: 10px;
}

#todayCommand {
    margin-top: 10px;
}
#todayCommand .swiper-slide {
    width: 250px;
    margin-right: 15px;
}
#DetailComment .outbox {
    background-color: #ffffff;
 }
 #DetailComment {
     background-color: #ffffff;
     margin-top: 20px;
 }
 .layui-tab-card>.layui-tab-title {
     background-color: #f2f2f2;
 }
 .layui-tab-card>.layui-tab-title .layui-this {
     background-color: #fff;
 }
 
.layui-tab-card > .layui-tab-title li {
    width: 130px;
}
 .layui-tab-card>.layui-tab-title .layui-this:after {
     border-top: none;
     border-width: 1px;
     border-bottom-color: #fff;
 }
 .layui-tab-content {
     padding: 10px;
 }
 .c999 {
     color: #999;
 }
 .bgfff {
     background-color: #fff;
 }
 .mart-10 {
     margin-top: 10px;
 }
 .w100 {
     width: 100%;
 }
 .w40 {
     width: 40%;
 }
 .layui-show .detail{
	 width: 100%;
 }
 .condtion_type>div {
     border-bottom: 1px dashed #ccc;
 }
 .padtb20 {
     padding: 20px 0;
 }
 .mart-20 {
     margin-top: 20px;
 }
 .condtion_type {
     background-color: #fff;
 }
 .condtion_type .brand_name {
     float: left;
     width: 100px;
     padding-left: 10px;
     line-height: 34px;
	 font-size: 12px;
     white-space: nowrap;
     color: #999;
     overflow: hidden;
 }
 .condtion_type .sl-value {
     margin-left: 110px;
     padding-left: 10px;
     overflow: hidden;
     zoom: 1;
     background: #fff;
 }
 .condtion_type .sl-v-list {
     overflow: hidden;
     zoom: 1;
     padding-top: 4px;
 }
 .condtion_type .sl-v-list ul {
     float: left;
     overflow: hidden;
     zoom: 1;
     position: relative;
     height: 30px;
 }
 .sl-v-list li {
     float: left;
     _display: inline;
     /* margin-right: .5rem; */
     margin-bottom: 4px;
     height: 26px;
     line-height: 26px;
 }
 .sl-v-list li a {
     float: left;
     white-space: nowrap;
     zoom: 1;
     color: #333;
 }
 
 .sl-v-list li a {
     /* width: 1.3rem; */
     padding: 0 20px;
     display: inline-block;
	 font-size: 12px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 .arr_div {
     display: inline-block;
     margin-bottom: -1px;
 }
 .arr_div img:nth-child(1) {
     display: block;
     margin-bottom: 1.8px;
 }
 .arr_div img {
     display: block;
 }
 .layui-input, .layui-select, .layui-textarea {
     height: 38px;
     line-height: 1.3;
     border-width: 1px;
     border-style: solid;
     background-color: #fff;
     border-radius: 2px;
 }
 .layui-input, .layui-textarea {
     display: block;
     width: 100%;
     padding-left: 10px;
 }
 .layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
     border-color: #e6e6e6;
 }
 .layui-btn {
     display: inline-block;
     height: 38px;
     line-height: 38px;
     padding: 0 18px;
     background-color: #009688;
     color: #fff;
     white-space: nowrap;
     text-align: center;
     font-size: 14px;
     border: none;
     border-radius: 2px;
     cursor: pointer;
 }
 .layui-btn, .layui-input, .layui-select, .layui-textarea, .layui-upload-button {
     outline: 0;
     -webkit-appearance: none;
     transition: all .3s;
     -webkit-transition: all .3s;
     box-sizing: border-box;
 }
 #c_goodslist>li {
     float: left;
     width: 255px;
     height: 374px;
     margin-right: 48px;
     margin-bottom: 20px;
 }
 #c_goodslist>li .imgpic {
     width: 255px;
     height: 255px;
 }
 #c_goodslist>li .imgpic img.addfoucus {
     position: absolute;
     bottom: 20px;
     right: 10px;
 }
 #c_goodslist>li .imgpic img.goodpic {
     width: 100%;
     height: 100%;
 }
 #c_goodslist>li .imgpic img.addshopcar {
     position: absolute;
     bottom: 80px;
     right: 10px;
 }
 
 #c_goodslist>li .goods_detail {
     background-color: #fff;
     padding: 20px;
     height: 60px;
 }
 .fts16 {
     font-size: 16px;
 }
 #c_goodslist>li:nth-child(4n) {
     margin-right: 0;
 }
 .layui-laypage button {
     background-color: #8b3734!important;
     color: #fff!important;
 }
 #left_nav>li.p_menu {
     width: 79%;
     background-color: #fafafa;
     height: 34px;
     line-height: 34px;
     font-size:12px;
     color: #999;
     padding-left: 50px;
 }
 #left_nav {
     width: 236px;
 }
 #left_nav>li.c_menu a {
     width: 100%;
     height: 60px;
     line-height: 60px;
     padding-left: 50px;
     color: #666;
     font-size: 16px;
     display: block;
 }
 #left_nav>li.c_menu a.choosed {
     color: #8B3734;
     border-left: 3px solid #8B3734;
     height: 60px;
 }
 #Model {
     width: 907px;
     min-height: 1059px;
     background: white;
 }
 .order_table {
     border: 1px solid #EBEBEB;
     margin-top: 15px;
 }
 .textleft {
     text-align: left!important;
     padding-left: 20px;
 }
 .order_table td {
     vertical-align: middle;
     text-align: center;
 }
 .layui-form {
     height: 40px;
 }
 p {
     font-size: 13px!important;
 }
 .img_wh {
     width: 70px;
     height: 70px;
 }