html{
	background: url(../images/sign-dish.jpg) no-repeat;
	background-size: 100% 100%;	
	font: verdana;
}
.content{
	border: #000000 2px solid;
	padding: 25px;
}

.nav {
	position: relative;
	width: 100%;
}
.nav .left{
	position: relative;
}
.nav .right{
    position: absolute;
    right: 0px;
}
.nav .left:hover,.nav .right:hover{
	background-color: lightgreen;
	
}
.list table{
	text-align: center;	
	margin: 0 auto;
}
.dish .introduction{
	width: 600px;
	margin: 0 auto;
}