html{
	background: url(../images/kitten-wallpaper.png);
	background-size: 100% 100%;
	font: verdana;
}
.title{
	color: yellow;
	font-size: 1.6em;
	font-family: arial;
	text-align:center;
	line-height: 100px;
}
.home:hover{
	background-color: #ff8205 ;
	color: yellow;
}