html{
	background: url(../images/sign-dish-main.jpg) no-repeat;
	background-size: 100% 100%;	
	font: verdana;
}
a{
	text-decoration: none;
}
.content{
	border: #000000 2px solid;
	padding: 25px;
}
.title{
	height: 50px;
	line-height: 50px;
	width: 100%;
	font-size: 25px;
	font-family: 'Times New Roman';
	text-align: center;
	background-color: blue;
	color: white;
	font-weight: 900;
	border-radius: 5px;
}
.Dishes{
	margin-top: 30px;
	text-align: center;
}
.Dishes ul li{
	list-style: none;
	display: inline;
	padding: 10px;
	background-color: #000000;
	color: white;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-radius: 4px;
	margin: 10px;
}
.Dishes ul li:hover{
	background-color: #ff0191;
	color: #F1DB00;
}
.text{
	font-family: "trebuchet ms";
	font-size: 1.2em;
	font-style: italic;
}
.text .first{
	font-size: 2.4em;
	color:#8A2BE2;
}

.text img{
	float: right; 
	border-radius: 50%;
	width: 350px;
	height: 400px;
	border: lightyellow 15px dotted;
}

.footer{
	text-align: center;
	position: relative;
	bottom: 4px;
	font-family: "trebuchet ms";
	font-size: 1.2em;
	height: 15px;
	line-height: 15px;
	color: green;
	background-color: gold;
	font-variant:small-caps;
	padding: 15px;
	border-radius: 4px;
	
}