<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.CollectMapper">
	<insert id="insert">
		insert into `collect`
		values(#{id},#{userId},#{ikonId},#{collectTime});
	</insert>
	<select id="getCollect" resultType="Integer">
		SELECT id
		FROM `collect`
		WHERE user_id = #{userId}
		AND ikon_id = #{ikonId}
	</select>

	<delete id="unCollect">
		Delete FROM collect where id = #{id}
	</delete>
</mapper>