<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.wordMapper">

    <insert id="addWord">
        insert into `word`
        VALUES (#{id},#{path},#{video_id},#{user_id})
    </insert>

    <select id="getWord" resultType="word">
    select *
    from `word`
    where `user_id` = #{user_id} and
        video_id = #{id}
    </select>

    <select id="getWordById" resultType="String">
        select `path`
        from `word`
        where id = #{id}
    </select>

    <select id="listWordById" resultType="word">
        select *
        from `word`
        where video_id = #{id}
    </select>
</mapper>