<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="../css/common.css" type="text/css">
		<link rel="stylesheet" href="../css/stisla.css" type="text/css">
		<title>百年历程</title>
		<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	</head>
	<body>
	<div id="page" class="hfeed site layout-fullwidth">
		<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
	                        <div class="site-navigation">
	                            <nav id="main-navigation" class="main-navigation">
	                                <div class="menu-menu-1-container">
	                                    <ul id="primary-menu" class="menu">
	                                        <li><a href="../index.html">首页</a></li>
	                                        <li><a style="color: red;" href="#">百年历程</a></li>
	                                    </ul>
	                                </div>
	                            </nav>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
		
		
	<div class="image-slider">
		<!-- Slideshow 1 -->
		<ul class="rslides" id="slider1" style="background-image: url(../img/slider1.jpg);background-repeat: no-repeat;background-size: 100% 100%;" >
		  </ul>
	</div>
	
	<div class="specials" id="history">
		<div class="wrap">
			<div class="specials-heading">
				<h3>建党百年，重大历史事件</h3>
			</div>
			<div class="specials-grids">
				<div class="special-grid">
					<img src="../img/img_09.jpeg" height="220" title="image-name" />
					<a href="gcd.html">中国共产党成立</a>
					<p>国共产党创建于1921年7月23日，是中国工人阶级的先锋队，同时是中国人民和中华民族的先锋队，是中国特色社会主义事业的领导核心，代表中国先进生产力的发展要求，代表中国先进文化的前进方向，代表中国最广大人民的根本利益，是中国的唯一执政党。</p>
				</div>
				<div class="special-grid">
					<img src="../img/img_10.jpg" height="220"  title="image-name" />
					<a href="#">第一次国共合作</a>
					<p>1924年1月20日至30日，中国国民党第一次全国代表大会在广东召开。大会通过了新的党章，改组了国民党组织，选举了有共产党员参加的新一届中国国民党中央领导机构，重新解释了三民主义，形成了“联俄、联共、扶助农工”等重大政策，实现了第一次国共合作，也是国共合作的首发地。</p>
				</div>
				<div class="special-grid spe-grid">
					<img src="../img/img_11.jpg" height="220"  title="image-name" />
					<a href="#">南昌起义</a>
					<p>1927年8月1日，中国共产党领导部分国民革命军在江西省南昌市举行的武装起义。起义由周恩来、贺龙、李立三、叶挺、朱德、刘伯承、谭平山领导。1933年7月11日，中华苏维埃共和国临时中央政府根据中央革命军事委员会6月30日的建议，决定8月1日为中国工农红军成立纪念日。从此，8月1日成为中国工农红军和后来的中国人民解放军的建军节。</p>
				</div>
				<div class="special-grid">
					<img src="../img/img_12.jpg" height="220" title="image-name" />
					<a href="#">遵义会议</a>
					<p>遵义会议是指1935年1月中共中央政治局在贵州遵义召开的独立自主地解决中国革命问题的一次极其重要的扩大会议。是在红军第五次反“围剿”失败和长征初期严重受挫的情况下，为了纠正博古、王明、李德等人“左”倾领导在军事指挥上的错误而召开的。</p>
				</div>
				<div class="special-grid">
					<img src="../img/img_13.jpg" height="220"  title="image-name" />
					<a href="#">长征</a>
					<p>长征是人类历史上的伟大奇迹，中央红军共进行了380余次战斗，攻占700多座县城，走过荒草地，翻过雪山，行程约二万五千里，红一方面军于1935年10月到达陕北，与陕北红军胜利会师。1936年10月，红二、四方面军到达甘肃会宁地区，同红一方面军会师。红军三大主力会师，标志着万里长征的胜利结束。</p>
				</div>
				<div class="special-grid spe-grid">
					<img src="../img/img_14.jpg" height="220" title="image-name" />
					<a href="#">"九一八" 事变</a>
					<p>1931年9月18日夜，盘踞在中国东北的日本关东军按照精心策划的阴谋，由铁道“守备队”炸毁沈阳柳条湖附近日本修筑的南满铁路路轨，并嫁祸于中国军队，日军以此为借口，炮轰中国东北军北大营，制造了震惊中外的“九一八事变”。次日，日军侵占沈阳，又陆续侵占了东北三省。</p>
				</div>
				<div class="clear"> </div>
			</div>
	    </div>
	</div>	
		
	<div id="footer" style="margin-top: 50px;">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
			<div class="row">
				<div class="col-md-4">
					<h3><bold>Address</bold></h3>
					<h5>xxxxxxxxxxxx</h5>
				</div>
				<div class="col-md-4">
					<h3><bold>Send Us A Message:</bold></h3>
					<h5>xxxxxxxxxxxx</h5>
				</div>
				<div class="col-md-4">
					<h3><bold>QQ：</bold></h3>
					<h5>xxxxxxxxxxxx</h5>
				</div>
			</div>
		</div>
		<div class="contact">
			<div class="container">
				<a href="#">寻求帮助吗?</a>
			</div>
		</div>
	</div>
		
	</body>
	
	<script>
		let count = 2
		$(function(){ 
			setInterval(function(){
				$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
				count = count >= 3 ? 1 : count + 1;
			},3000);
		})
	</script>
</html>
