body{
	margin: 0;
	padding: 0;
}
p{	
	margin: 0;
	padding: 0;
}
a {
    font: inherit;
    color: inherit;
	text-decoration: none;
}
.fullmeasureOuterContentPage{
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.fk-formPack {
    display: flex;
    flex-direction: column;
}
.elemZone {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1;
}
.fullmeasureContent {
    padding: 50px 0 50px 0;
	width: 1200px;
	height: 944px;
    overflow: hidden;
    margin: 0 auto;
}
.mainTitle458 {
    font-size: 30px;
    padding-top: 0px;
    font-weight: normal;
    font-family: 微软雅黑;
    color: #c40000;
}
 .bannerTextOutWrap {
    display: block;
    padding: 25px 0;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    overflow: hidden;
    font-size: 0;
    line-height: normal;
}
.auxiliaryTitle {
    color: #737373;
    font-size: 14px;
    line-height: 14px;
}
.subTitleWrap {
    text-align: center;
}
.mainTitleWrap {
    margin-bottom: 10px;
}
.dividingLine {
    background: #f0f0f0;
}
.titleInnerAidLine0 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
.titleInnerAidLine1 {
    display: block;
    width: 8px;
    height: 8px;
    margin: 18px auto 0 auto;
    background: #f0f0f0;
    transform: rotate(
45deg);
}
.mulColPadding {
    padding-right: 2px;
}
td.mulColLayout {
    vertical-align: top;
    position: relative;
    height: 100%;
}
.formMiddle {
    position: relative;
    clear: both;
    display: table;
    box-sizing: border-box;
    padding: 0;
    border-spacing: 0;
    width: 100%;
    *width: auto!important;
    table-layout: fixed;
    font-size: 12px;
}
.textImg1 {
    float: left;
    margin: 5px 10px 5px 5px;
    position: relative;
}
.richImg {
    width: 40px;
    height: 40px;
}
table.mulMColContentTable {
    table-layout: fixed;
    height: 100%;
    _overflow: visible;
}

element.style {
}
.richContent1 {
    width: auto;
    _float: left;
}
.richContent {
    line-height: 1.4;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.richContent1 {
    width: auto;
    _float: left;
}
#webFooterTable {
    background: url(../img/wIwAzjHAQ.jpg) repeat-x top,#4b4b4b;
	height: 220px;
}
#fk-webFooterZone {
    width: 1200px;
    margin-left: -600.0px;
}
.fk-moduleZone.elemZone {
    position: absolute;
    width: 960px;
    height: inherit;
}