<!DOCTYPE html>
<head>
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>首页</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/stisla.css">
<link rel="stylesheet" href="../css/responsiveslides.css">
<style>

.rslides{
	width: 100%;
	position:relative;
	z-index:3;
}
.rslides img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	margin:auto;
	z-index: -1;
	*zoom:1;
}
.rslides:before {
	content: "";
	display: inline-block;
	padding-bottom: 100%;
	width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
	vertical-align: middle;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg main-navbar">
	<div class="container-fluid">			
	  <a class="navbar-brand" href="#">
	  </a>
	  <button class="navbar-toggler" type="button">
		
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		  
		  <div class="mr-auto"></div>
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="#">首页</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="#blog">历任主席</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="#history">百年历史</a>
		  </li>
		</ul>
	  </div>
  </div>
</nav>

<div class="image-slider">
	<!-- Slideshow 1 -->
	<ul class="rslides" id="slider1" style="background-image: url(../img/slider1.jpg);background-repeat: no-repeat;background-size: 100% 100%;" >
	  </ul>
</div>
		<div class="content">
	<div class="container">
			<div class="content_top">
					<div class="wrap">
						
						<h1><a href="#">庆建党百年，忆红色初心</a></h1>
						<p>今年，中国共产党将迎来建党100周年。100年来，中国社会沧桑巨变。从石库门到天安门，从兴业路到复兴路，从站起来、富起来到强起来……中国共产党与时代同步伐、与人民共命运，跨过一道又一道沟坎，取得一个又一个辉煌胜利。历史是一面镜子，它照亮现实，也照亮未来。学习党的历史，了解我们的过去才能看清前进的方向。如何学好党史、用好党史我觉得应该做到两个“牢记”和两个“必须”。</p>
						<span><a class="learnmore" href="#">了解更多</a></span>
					</div>
					
					</div>
			
			</div>
		<section class="padding bg-grey" id="blog">
	<div class="container">
		<h2 class="section-title">历任主席</h2>
		<div class="section-body">
			<div class="row col-spacing">
				<div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_01.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">毛泽东</a></h4>
						<p class="card-text">1949至1976年，毛泽东担任中华人民共和国最高领导人。他对马克思列宁主义的发展、军事理论的贡献以及对共产党的理论贡献被称为毛泽东思想。因毛泽东担任过的主要职务几乎全部称为主席，所以也被人们尊称为“毛主席”。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
			  </div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_02.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">刘少奇</a></h4>
						<p class="card-text">刘少奇，生于湖南省宁乡县，是伟大的马克思主义者，伟大的无产阶级革命家、政治家、理论家，党和国家主要领导人之一，中华人民共和国开国元勋，是以毛泽东同志为核心的党的第一代中央领导集体的重要成员，受到全国各族人民衷心爱戴。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_03.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">宋庆龄</a></h4>
						<p class="card-text">宋庆龄（1893年1月27日-1981年5月29日），中华人民共和国的缔造者之一、国家名誉主席，伟大的爱国主义、民主主义、国际主义和共产主义战士，举世闻名的二十世纪的伟大女性。为妇女儿童的卫生保健和文化教育福利事业，做出了不可磨灭的贡献。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
			  </div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_04.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">李先念</a></h4>
						<p class="card-text">李先念（1909年6月23日-1992年6月21日），生于湖北黄安（今红安）李家大屋。9岁读私塾。12岁起先后在家乡和汉口学木工。1926年10月参加农民运动，任乡农民协会执行委员。1927年11月率领家乡农民参加黄（安）麻（城）起义，12月加入中国共产党。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_05.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">杨尚昆</a></h4>
						<p class="card-text">杨尚昆，男，四川省潼南县双江镇（今属重庆）人。1925年加入中国共产主义青年团，1926年转入中国共产党，并入上海大学学习。曾任中华人民共和国主席。杨尚昆同志是伟大的无产阶级革命家、政治家、军事家，坚定的马克思主义者，党、国家和人民军队的卓越领导人。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
			  </div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_06.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">江泽民</a></h4>
						<p class="card-text">江泽民，男，汉族，1926年08月17日出生，江苏省扬州市人。1946年04月加入中国共产党，1947年毕业于上海交通大学电机系。曾任中国共产党中央委员会总书记，中国共产党中央军事委员会主席，中华人民共和国主席，中华人民共和国中央军事委员会主席。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_07.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">胡锦涛</a></h4>
						<p class="card-text">胡锦涛，1942年12月生，安徽绩溪人，1964年4月加入中国共产党，1965年7月参加工作，清华大学水利工程系河川枢纽电站专业毕业，大学学历，工程师。曾任中国共产党中央委员会总书记，中华人民共和国主席，中共中央军事委员会主席，中华人民共和国中央军事委员会主席，中央政治局常委。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_08.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">习近平</a></h4>
						<p class="card-text">习近平，1953年6月生，陕西富平人，1969年1月参加工作，1974年1月加入中国共产党，清华大学人文社会学院马克思主义理论与思想政治教育专业毕业，在职研究生学历，法学博士学位。现任中国共产党中央委员会总书记，中共中央军事委员会主席，中华人民共和国主席，中华人民共和国中央军事委员会主席。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
			</div>	
		</div>
		
	</div>
</section>

			<div class="specials" id="history">
				<div class="wrap">
					<div class="specials-heading">
						<h3>建党百年，重大历史事件</h3>
					</div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="../img/img_09.jpeg" height="220" title="image-name" />
							<a href="#">中国共产党成立</a>
							<p>国共产党创建于1921年7月23日，是中国工人阶级的先锋队，同时是中国人民和中华民族的先锋队，是中国特色社会主义事业的领导核心，代表中国先进生产力的发展要求，代表中国先进文化的前进方向，代表中国最广大人民的根本利益，是中国的唯一执政党。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_10.jpg" height="220"  title="image-name" />
							<a href="#">第一次国共合作</a>
							<p>1924年1月20日至30日，中国国民党第一次全国代表大会在广东召开。大会通过了新的党章，改组了国民党组织，选举了有共产党员参加的新一届中国国民党中央领导机构，重新解释了三民主义，形成了“联俄、联共、扶助农工”等重大政策，实现了第一次国共合作，也是国共合作的首发地。</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="../img/img_11.jpg" height="220"  title="image-name" />
							<a href="#">南昌起义</a>
							<p>1927年8月1日，中国共产党领导部分国民革命军在江西省南昌市举行的武装起义。起义由周恩来、贺龙、李立三、叶挺、朱德、刘伯承、谭平山领导。1933年7月11日，中华苏维埃共和国临时中央政府根据中央革命军事委员会6月30日的建议，决定8月1日为中国工农红军成立纪念日。从此，8月1日成为中国工农红军和后来的中国人民解放军的建军节。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_12.jpg" height="220" title="image-name" />
							<a href="#">遵义会议</a>
							<p>遵义会议是指1935年1月中共中央政治局在贵州遵义召开的独立自主地解决中国革命问题的一次极其重要的扩大会议。是在红军第五次反“围剿”失败和长征初期严重受挫的情况下，为了纠正博古、王明、李德等人“左”倾领导在军事指挥上的错误而召开的。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_13.jpg" height="220"  title="image-name" />
							<a href="#">长征</a>
							<p>长征是人类历史上的伟大奇迹，中央红军共进行了380余次战斗，攻占700多座县城，走过荒草地，翻过雪山，行程约二万五千里，红一方面军于1935年10月到达陕北，与陕北红军胜利会师。1936年10月，红二、四方面军到达甘肃会宁地区，同红一方面军会师。红军三大主力会师，标志着万里长征的胜利结束。</p>
						</div>
						<div class="special-grid spe-grid">
							<video src="../video/video.mp4" controls="controls"  height="220"></video>
							<a href="#">"九一八" 事变</a>
							<p>1931年9月18日夜，盘踞在中国东北的日本关东军按照精心策划的阴谋，由铁道“守备队”炸毁沈阳柳条湖附近日本修筑的南满铁路路轨，并嫁祸于中国军队，日军以此为借口，炮轰中国东北军北大营，制造了震惊中外的“九一八事变”。次日，日军侵占沈阳，又陆续侵占了东北三省。</p>
						</div>
						<div class="clear"> </div>
					</div>
			    </div>
			</div>	
			
			
		</div>
	<div id="footer">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
            <div class="row">
                <div class="col-md-4">
                    <h3><bold>Address</bold></h3>
                    <h5>福建省厦门市集美区xxx号</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>Send Us A Message:</bold></h3>
                    <h5>xxx@qq.com</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>QQ：</bold></h3>
                    <h5>xxxxxxxxxxxx</h5>
                </div>
			</div>
		</div>
		<div class="contact">
			<div class="container">
				<a href="#">寻求帮助吗?</a>
			</div>
		</div>
	</div>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		let count = 2
		$(function(){ 
			setInterval(function(){
				$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
				count = count >= 3 ? 1 : count + 1;
			},3000);
		
			$(".navbar-toggler").click(function(){
				$("#navbarNav").toggle("collapse")
			})
		})
		
		
	</script>
</body>
</html>