body{
	margin: 0px;
	padding: 0px;
    background-color: #f5f5f5;
	height: 680px;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
a:hover {
    text-decoration: underline;
}
.top{
	border-color: #d21c1c;
	background-image:url(../img/39bg.png);
	background-color: #FE2501;
	background-size: 100% 100%;
	height: 60px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	left: 0;
	top: 0;
}
.top .logo {
	width:105px;
	padding-left: 80px;
}
.top .bar{
	width: 180px;
	height: 34px;
	padding: 0 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-radius: 6.25rem;
	background-color: rgba(255,238,224,0.3);
	position: absolute;
	top: 12px;
	left: 200px;
}
.bar .woo-input-main{
	background: transparent;
	border: none;
    width: 80%;
    font-size: 14px;
	color:#f0f1f4 ;
}
input::-webkit-input-placeholder{
	color:#f0f1f4 ;
}
.boxs{
	position: absolute;
	top: -15px;
	left: 230px;
	width: 550px;
	height: 60px;
	
}
.box{
	float: left;
	top: 0px;
    height: 100%;
    margin: 0 20px;
    width: 70px;
	text-align: center;
	line-height: 60px;
	padding: 11px 0px ;
}
.box .an{
	cursor: pointer;
	height: 38px;
	text-align: center;
    width: 70px;
    border-radius: 4px;
}
.box .an:hover{
	background-color: rgba(240, 241, 244, 0.3);
}
.box .new{
	position: absolute;
	transform: none;
	right: auto;
	left: 60px;
	top: 15px;
	background-color: #FF9c5D;
	display: inline-block;
	font-size: 16px;
    height: 0.9375rem;
	border-radius: 0.9375rem;
	border-bottom-left-radius: 0.25rem;
	box-sizing: border-box;
	line-height: calc( 0.9375rem - 0.125rem);
	color: white;
    font-weight: 700;
}
.box:after {
	content: ' ';
	position: absolute;
	left: 385px;
	top: 59px;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	height: 2px;
	width: 70px;
	background-color: #ffc800;
	transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
}
.top .tbs{
	position: absolute;
	top: 0px;
	left: 920px;
	width: 310px;
	height: 60px;
}
.tbs .tb{
	width: 30px;
	height: 30px;
	background-color: rgba(240, 241, 244, 0.3);
	border-radius: 50%;
	text-align: center;
	padding-top:4px;
	float: left;
	cursor: pointer;
}
.tbs .tb:hover{
	background-color: rgba(240, 241, 244, 0.6);
	
}
.woo-divider-shadow{
	float: left;
	width: 1px;
	height: 30px;
	background-color: rgba(240, 241, 244,0.3);
}
.Aria_btn_3caTr {
    width: 66px;
    padding: 0;
    background-color: rgba(240, 241, 244,0.3);
	height: 30px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    color: #333;
    color: white;
    cursor: pointer;
}
.main{
	position: relative;
	margin-top: 56px;
	max-width: 1122px;
	height: 100%;
	margin: auto;
}
.main .left{
	position: absolute;
	top: 70px;
	width: 182px;
	margin-right: 8px;
	height: 100%;
	background-color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	box-sizing: border-box;
}

.left .title {
    margin: 0;
    padding: 10px 16px;
    line-height: 26px;
    font-size: 22px;
    font-weight: 500;
}
.left .leftBox{
	
    display: flex;
    font-weight: 500;
	position: relative;
	padding: 10px 16px;
	border-radius: 2px;
	cursor: pointer;
	
    align-items: center;
}
.leftBox .text{	
	line-height: 20px;
	font-size: 14px;
    color: #333;
}
.active .text{ 
	color: #ff8200 !important;
}
.home{
	position: absolute;
	top: 70px;
	left: 200px;
    width: 642px;
}
.home .head{
	height: 44px;
	background-color: white;
    margin-bottom: 8px;
}

.home .content{
	height: 134px;
	background-color: white;
    margin-bottom: 8px;
	
}
.text_boxs{
	margin: 8px 0px;
	padding: 5px 16px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 14px;
	float: left;
	margin-left: 10px;
}
.text_boxs:hover{
    background-color: rgba(255, 130, 0,0.1);
	color: rgba(255, 130, 0);
}
.text_boxs .text{
	
	height: 20px;
}
.content .comment{
    padding: 20px 20px 0;
}
.comment .header {
	width: 100%;
	height: 50px;
	
}
.comment .header img{
	float: left;
	border-radius: 50%;
	margin-right: 10px;
	width: 50px;
}
.header .msg{
	height: 50px;
	float: left;
}
.msg .name{
	
    font-weight: bolder;
	font-size: 14px;
	color: black;
	cursor: pointer;
    line-height: 30px;
}
.msg .date{
    color: #939393;
    font-size: 12px;
}
.comment .feed_content{	
	padding-left: 60px;
	overflow: hidden;
}
.feed_content a{
	  color: #eb7340;
}
.comment .footer{
	
    height: 40px;	
    line-height: 40px;
	margin: 0 15px;
}
.footer .item{
	float: left;
	text-align: center;
	padding: 0;
	font-size: 13px;
	color: #8a8a8a;
	font-weight: 400;
	height: auto;
	width: 180px;
}
.main .right{
	position: absolute;
	top: 70px;
	left: 858px;
	width: 282px;
	height: 530px;
	background-color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	box-sizing: border-box;
}
.right .right_title{	
	height: 40px;
	padding: 0 18px;

	font-size: 14px;
	line-height: 38px;
}
.right_title .clean{
	margin-left: 105px;
    font-size: 12px;
    line-height: 16px;
	
    color: #939393;
}
.right_title .clean img{
	margin-bottom: -5px;
}
.right .pane{
	margin: 25px 0px;
	color: #333333;
	font-size: 16px;
    padding: 0 18px;
	width: 100%;
}
.pane img {
	margin-bottom: -3px;
}
.pane p {
	color: #333333;
	font-size: 16px;
	font-size: 12px;
	line-height: 16px;
}
.pane .num {
    font-size: 16px;
    font-weight: 700;
    color: #f26d5f;
}
.wz{
	text-align: center;
	width: 100%;
	height: 40px;	
	font-size: 12px;
	line-height: 16px;
    color: #939393;
}