<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.ProjectMapper">

    <insert id="insertProject">
        insert INTO `project` VALUES
        (#{id},#{title},#{content},#{submitterId},#{checkDepartment},#{conductDepartment},#{creatTime},0,#{startTime},#{endTime},#{priority})
    </insert>

    <select id="listProject" resultType="com.bobo.test.vo.ProjectVO">
        SELECT pro.id,
               pro.title,
               pro.content,
               u.name `submitter`,
               d.name `checkDepartment`,
               d2.name `conductDepartment`,
               pro.creat_time `creatTime`,
               pro.start_time `startTime`,
               pro.end_time `endTime`,
               pro.rate,
               pro.priority
        FROM project pro
            LEFT JOIN `user` u ON u.id = pro.submitter_id
            LEFT JOIN department d on d.id = pro.checkDepartment
            LEFT JOIN department d2 on d2.id = pro.conductDepartment
    </select>

    <select id="backlog" resultType="com.bobo.test.vo.ProjectVO">
        SELECT pro.id,
               pro.title,
               pro.content,
               u.name `submitter`,
               d.name `checkDepartment`,
               d2.name `conductDepartment`,
               pro.creat_time `creatTime`,
               pro.start_time `startTime`,
               pro.end_time `endTime`,
               pro.priority,
               pro.rate
        FROM project pro
                 LEFT JOIN `user` u ON u.id = pro.submitter_id
                 LEFT JOIN department d on d.id = pro.checkDepartment
                 LEFT JOIN department d2 on d2.id = pro.conductDepartment
        WHERE pro.rate = 0 AND d.id = #{department}
            OR pro.rate = 1 AND d2.id = #{department}
            OR pro.rate = 2 AND d2.id = #{department}
    </select>

    <update id="sendBacklog">
        UPDATE project
        SET rate = 99
        WHERE id = #{id}
    </update>
    
    <select id="countDepartment" resultType="com.bobo.test.vo.CountDepartmentVO">
        SELECT d3.name,
               COUNT(d3.name) `count`
        FROM project pro
                 LEFT JOIN `user` u ON u.id = pro.submitter_id
                 LEFT JOIN department d on d.id = pro.checkDepartment
                 LEFT JOIN department d2 on d2.id = pro.conductDepartment
                 LEFT JOIN department d3 on d3.id = u.department_id
        WHERE pro.rate = 0 AND d.id = #{department}
           OR pro.rate = 1 AND d2.id = #{department}
           OR pro.rate = 2 AND d2.id = #{department}
        Group By d3.name
    </select>

    <update id="passBacklog">
        UPDATE project
        SET rate = 1
        WHERE id = #{id}
    </update>

    <update id="acceptProject">
        UPDATE project
        SET rate = 2
        WHERE id = #{id}
    </update>

    <update id="actionProject">
        UPDATE project
        SET rate = 3
        WHERE id = #{id}
    </update>

</mapper>