<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
	<title>问题论坛</title>
	<script type='text/javascript' th:src='@{/js/jquery-3.4.1.js}'></script>
	<script type='text/javascript' th:src='@{/js/common.js}'></script>
</head>
<style>
	.container {
		width: 970px;
	}
</style>
<body>
<div id="page" class="hfeed site layout-fullwidth">
	<div th:replace="~{commons/commons::hea}"></div>
	<div id="site-content" class="site-content">
		<div class="container">
			<div class="row">
				<div class="content-area posts-loop full-width-layout col-md-12" id="primary" >
					<main id="main" class="site-main row big-posts">
						<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
							<article class="styled"  th:each="issue:${session.Issues}">
								<div class="entry-content">
									<div class="post-heading">
										<h3 class="entry-title"><a th:href="@{/issue(id=${issue.getId()})}" rel="bookmark" th:text="${issue.getTitle()}" ></a></h3>
										<ul class="post-meta entry-meta">
											<li class="author">作者：<a href="#" th:text="${issue.getAuthor()}"></a></li>
											<li th:text="'上一次编辑时间:'+ ${issue.getIssueTime()}" ></li>
										</ul>
									</div>
									<div class="post-excerpt">
										<p class="note" th:text="${#strings.abbreviate(issue.getContext(),100)}"></p>
									</div>
								</div>
							</article>
						</div>
					</main>
				</div>

			</div>
		</div>
	</div>
	<div th:replace="~{commons/commons::footer}"></div>
</div>

</body>
</html>
