
.rslides{
	width: 90%;
	position:relative;
	margin: 60px auto;
box-shadow: 10px 10px 5px #888888;	
	z-index:3;
    max-height: 500px;
}
.rslides img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	margin:auto;
	z-index: -1;
	*zoom:1;
}
.rslides:before {
	content: "";
	display: inline-block;
	padding-bottom: 100%;
	width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
	vertical-align: middle;
}
.content_top {
    background: #ff0505;
    padding: 50px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
.content_top p {
    font-size: 1em;
    line-height: 1.8em;
    color: #ffff00;
    margin-bottom: 24px;
    margin: 14px 0px 24px 0px;
}
.content_top span a {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: #930000;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1em;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
	text-decoration: none;
}
.content_top span a:hover {
	background-color: black;
}
.h1, h1 {
    font-size: 2.5rem;
}

.h3, h3 {
    font-size: 1.35rem;
}
.content_top h3 a {
    color: #ffff00;
    padding-bottom: 14px;
}
.container {
    padding-right: 105px;
    padding-left: 105px;
    margin-right: auto;
    margin-left: auto;
}
.specials {
	margin-top: 60px;
    background: #e8e8e8;
    padding-top: 50px;
    position: relative;
}
.specials:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid #FFF;
    border-bottom: 0 solid rgba(0, 0, 0, 0)!important;
    border-right: 15px solid rgba(0, 0, 0, 0)!important;
    border-left: 15px solid rgba(0, 0, 0, 0)!important;
    left: 49.5%;
    top: 0px;
    margin-left: -10px;
}
.specials-heading h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    color: #6C6C6D;
    text-align: center;
    text-transform: uppercase;
}
.specials-grids {
    padding: 50px 0;
}
.special-grid {
    float: left;
    width: 32%;
    margin-right: 2%;
    text-align: center;
}
.special-grid img {
    width: 100%;
}
.special-grid a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    padding: 0.3em 0;
    display: block;
}
.special-grid p {
    font-size: 0.875em;
    color: rgba(148, 145, 145, 0.84);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}
.spe-grid {
    margin: 0px;
}
.clear {
    clear: both;
}
#footer {
    background-color: #2f2f2f;
    color: white;
    padding: 30px 0;
}
#footer .container {
    padding-right: 105px;
    padding-left: 105px;
    margin: 35px;
    margin-right: auto;
    margin-left: auto;
}
.container h3 {
    line-height: 40px;
    margin-right: 10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container h5 {
    line-height: 80px;
    margin-right: 10px;
}
.text-center {
    text-align: center!important;
}
#footer .contact {
    background-color: #222222;
    text-align: right;
    height: 50px;
}
.contact a {
    line-height: 50px;
    font-size: 18px;
    margin-right: 10px;
    color: #bbd1b8;
}