<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{../css/index.css}">
</head>
<body>
<div class="top">
    <span style="margin-left: 20px" th:text="'欢迎您，用户：' +${session.name}"></span>
    <a style="float: right;margin-right: 20px" th:href="@{/loginout}">退出登录</a>
</div>
<table class="order_table">
    <tbody>
    <tr class="layui-form">
        <td width="120">
            <p>id</p>
        </td>
        <td width="120">
            <p>名字</p>
        </td>
        <td width="120">
            <p>年龄</p>
        </td>
        <td class="goods_num" width="120">
            <p>学号</p>
        </td>
        <td class="goods_bag" width="120">
            <p>性别</p>
        </td>
        <td class="goods_money" width="250">
            <p>操作</p>
        </td>
    </tr>
    </tbody>
</table>
<table class="order_table">
    <tbody>
    <div  th:each="list:${list}">
        <tr class="layui-form">
            <td width="120">
                <p th:text="${list.getId()}"></p>
            </td>
            <td width="120">
                <p th:text="${list.getName()}"></p>
            </td>
            <td width="120">
                <p th:text="${list.getAge()}"></p>
            </td>
            <td class="goods_num" width="120">
                <p th:text="${list.getNumber()}"></p>
            </td>
            <td class="goods_bag" width="120">
                <p th:text="${list.getSex()}"></p>
            </td>
            <td class="goods_money" width="250">
                <a th:href="@{'/toUpdateStudent?id='+${list.getId()}}">修改</a>
                <a th:href="@{'/deleteStudent?id='+${list.getId()}}" onclick="javascript:return del()">删除</a>
            </td>
        </tr>
    </div>
    </tbody>
</table>

<a th:href="@{/toStudent}" class="add">新增</a>

</body>
<script>
    function del(){
        var msg = "确认删除吗？";
        return confirm(msg);
    }
</script>
</html>
