<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>student</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="top">
    <span style="margin-left: 20px" th:text="'欢迎您，用户：' +${session.name}"></span>
    <a style="float: right;margin-right: 20px" th:href="@{/loginout}">退出登录</a>
</div>
<form id="item" action="/addStudent" method="post">
    <div class="container">
        <div class="row">
            <aside class="col-sm-6" style="margin: auto">
                <div class="card" style="margin-top: 80px;">
                    <article class="card-body">
                        <a th:href="@{/toindex}" class="float-right btn btn-outline-primary">返回首页</a>
                        <h4 class="card-title mb-4 mt-1">添加学生</h4>
                        <form>
                            <div class="form-group">
                                <label>姓名</label>
                                <input  name="name" class="form-control" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>年龄</label>
                                <input  name="age" class="form-control" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>学号</label>
                                <input  name="number" class="form-control" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>性别</label>

                                <select style="width: 100px" class="form-control" name="sex">
                                    <option value="男" selected="selected">男</option>
                                    <option value="女" >女</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> 添加  </button>
                            </div>
                        </form>
                    </article>
                </div>
            </aside>
        </div>
    </div>
</form>
</body>
</html>
