body{
	margin: 0;
	padding: 0;
}
.header{
	
	position: fixed;
	top: 0px;
	width: 100%;
}
.header .top{
	width: 100%;
	height: 150px;
	font-size: 33px;
	background-color: #c70000;
	color: white;
	text-align: center;
	line-height: 150px;
}
.content{
	margin-top: 150px;
}
.nav{
	position: relative;
	overflow: hidden;
}
.navBar {
	width: 100%;
	padding: 40px 0px;
	margin: 0;
	overflow-x: auto; 
	white-space: nowrap;
}
/* 去掉底部滚动条 */
.navBar::-webkit-scrollbar {
	display: none;
}

.navBar li {
    position: relative;
    display: inline-block;
	height: 20px;
	font-size: 30px;
	color: #333333;
	text-align: center;
	width: 180px;
}
.navBar li a{
	text-decoration:none;
	color: black;
}
.active a{
	color: red !important;
}
.active::before{
	width: 50% !important;
	margin:0px 25% ;
}
.navBar li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 0;
    height: 5px;
    background-color: red;
    -webkit-transition: width ease-in-out .3s;
    transition: width ease-in-out .3s;
}
.lun{
	width: 100%;
	height: 450px;
}
footer{
	background-color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

footer .co3{
	float: left;
	width: 25%;
	height: 150px;
	text-align:center;
	font-size: 24px;
}
.notice{
	font-size: 32px;
	padding: 40px;
}
.sort{
	margin-top: 30px;
}
.co2{
	float: left;
	width: 20%;
	height: 150px;
	text-align:center;
	font-size: 24px;
	
}
.co2 img{
	width: 70px;
}
.fg{
	width: 100%;
	text-align: center;
}
.shan {
    box-sizing: border-box;
    display: inline-block;
    width: 404px;
    height: 5px;
    margin: 40px 0;
    background-color: #fc475d;
    vertical-align: top;
}
.goods{
	width: 100%;
}
.co6{
	float: left;
	width: 45%;
	margin: 2%;
	text-align:center;
	font-size: 24px;
	
}
.co6 img{
	width: 100%;
	height: 440px;
}