<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西北少数民族的传统文化</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="login.html">登录</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="registered.html">注册</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<ul class="rslides" id="slider1" style="background-image: url(../img/82f6d46f5479dae56f2864a703e11ef5.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>西北少数民族的传统文化</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						少数民族语言文字丰富多样。我国55个少数民族中，回族、满族同汉族使用同一的汉语，有53个民族使用本民族的语言。其中，属汉藏语系的有29个民族，主要分布在中南和西南地区；属阿尔泰语系的有17个民族，主要分布在东北和西北地区；属南亚语系的有1个民族；还有1个民族的语系尚未定论。民族之间互通语言的情况较为普遍，特别是汉语普通话，日益成为各民族主要的交际语言。新中国成立前，有21个少数民族有自己的文字（包括通用汉文的回、满、畲3个民族）。文字的体系，有比较原始的象形表意文字，有音节文字，有字母文字。字母的形式，有藏文字母、朝鲜文字母、回鹘文字母、傣文字母、阿拉伯字母、拉丁字母、斯拉夫字母共7种。有的民族使用几种文字，如傣族使用4种文字，蒙古族使用两种文字。新中国成立以后，政府又帮助一些少数民族创制了民族文字。
					</p>
					<p>
						少数民族文化艺术多姿多彩。在漫长的历史岁月里，少数民族创造了大量优美动人的神话、传说、史诗，以及音乐、舞蹈、绘画，有价值的科学典籍；建造了很多雄伟壮观、绚丽多彩、富有民族特色的建筑。这些优秀的文化艺术遗产，是中华文化的重要组成部分，是中华民族共有的精神财富，是人类文明的重要成果。拉萨的布达拉宫、大昭寺和罗布林卡等，入选了《世界遗产名录》；蒙古族的长调、维吾尔族的大型音乐套曲“十二木卡姆”等，被联合国列入世界非物质文化遗产名录中。在我国目前公布的三批国家级非物质文化遗产目录中，少数民族项目有515项，约占项目总数的42%。						
					</p>
					<p>
						少数民族风俗习惯各具特色。集中表现在服饰、饮食、居住、礼仪、节日及婚丧嫁娶等方面。各具特色的少数民族风俗习惯，或源于民族发展历史，或源于生产实践，或源于重大历史事件，或源于宗教信仰，或源于居住环境。以饮食为例，淮河以南从事稻作农耕的各民族及东北的朝鲜族以大米为主食；从事麦作农耕的维吾尔族、回族等民族则习惯于吃面食；东北平原、黄土高原及全国山地丘陵区从事杂谷栽培的各民族以玉米、高粱、谷子、薯类为主食；青藏高原上的藏族等民族则主要吃糌粑、酥油茶、牦牛肉以抵御寒冷的气候；乌苏里江畔的赫哲族以擅长制作各类鱼类食品而著名。各民族都有一套特殊的烹调方法，把各类食品制作成具有民族风味和地方风味的美味佳肴。著名的如维吾尔族的烤馕、抓饭、烤肉，蒙古族的“手扒肉”，哈萨克族的忽迷思（马奶子），回族的涮羊肉，赫哲族的刹生鱼，朝鲜族的冷面、辣白菜等。		
					</p>
					<p>
						少数民族节日种类繁多。包括宗教性节日，如回族、维吾尔族等信仰伊斯兰教的民族的开斋节、古尔邦节十分隆重；藏传佛教的传大召、传小召、瞻佛节，在藏族、蒙古族和部分纳西族、门巴族群众中影响很大。农事节日，如彝族等民族举行火把节、藏族举行望果节以庆祝丰收。纪念性节日，如满族的颁金节以纪念民族名称的确立，苗族的四月八以纪念英勇就义的苗民首领。商贸性节日，如白族的三月街要举行各种商品的交易。此外还有一些文体娱乐节日，如蒙古族的那达慕大会，要举行摔跤、骑马等比赛，规模很大，气氛热烈。
					</p>
					<p>
						我国少数民族文化，既包括了各少数民族的传统文化，也包括现当代文化。我国的少数民族文化资源非常丰富，可以说是一座取之不尽、用之不竭的宝库，特点也非常鲜明、突出。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			let count = 2
			$(function(){ 
				setInterval(function(){
					$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
					count = count >= 3 ? 1 : count + 1;
				},3000);
			
				$(".navbar-toggler").click(function(){
					$("#navbarNav").toggle("collapse")
				})
			})
			
			
		</script>
	</body>
</html>