<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>宁夏开斋节</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="login.html">登录</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="registered.html">注册</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/3ab8161ea359ef6cb93725b76a85a3db.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>宁夏开斋节</h3>
				 </div>
				<div class="about-info" style="font-size: 24px;">
					<p>
						开斋节是伊斯兰三大宗教节日之一，它是我国回族，维吾尔族，哈萨克族等少数民族穆斯林共同欢度的节日。宁夏全称宁夏回族自治区，是全中国回族人民最聚集且人数最多的地区，而开斋节又被回民视为最大的节日。因此，开斋节当天，自治区会有相应的假期调休，使得回族人民可以庆贺这个重要的节日。	
					</p>
					<p>
						开斋节在伊斯兰教徒中地位非常崇高，开斋节前，有一项非常重要的习俗便是封斋。伊斯兰历每年9月为斋月，在斋月期间，对于成年且健康的穆斯林，是被要求全月封斋的，意味着每日从拂晓到日落都被全面禁止饮食，包括饮水。因此，封斋期间，他们的饮食时间将变为凌晨时分进食。封斋第29日傍晚，如见新月，那么次日变为开斋节；但是若未见月，则需要再封一天，即30天封斋日，而第二日即为开斋节。每年的开斋节时日都有所不同，轮到2020年，则是5月25日与26日两天。
					</p>
					<p>
						开斋节对于回族来说至关重要，而这一天，他们也会举办不同的活动来庆贺开斋节。包括每家每户都会准备一些传统食品，撒子，油香，课课等食品，独具名族特色；此外，当天也会宰羊，鸡等动物，以及准备丰盛的菜肴，互送亲友邻居，以及拜节庆贺。而当日，更加神圣的事也包括穆斯林会沐浴净身，穿上节日盛装，去往清真寺参加宗教聚礼活动，祈求来年幸福安康！
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			let count = 2
			$(function(){ 
				setInterval(function(){
					$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
					count = count >= 3 ? 1 : count + 1;
				},3000);
			
				$(".navbar-toggler").click(function(){
					$("#navbarNav").toggle("collapse")
				})
			})
			
			
		</script>
	</body>
</html>