<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>帮助</title>
        
        <link rel="stylesheet" href="../css/bootstrap.min.css" >
        <link rel="stylesheet" href="../css/inner-pages.css">
        <link rel="stylesheet" href="../css/stisla.css">
<link rel="stylesheet" href="../css/responsiveslides.css">
    </head>
    <body class="home-hostio" id="home-hostio">

<nav class="navbar navbar-expand-lg main-navbar" style="margin-top: -35px;">
	<div class="container-fluid">			
	  <a class="navbar-brand" href="#">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	  		  
	  		  <div class="mr-auto"></div>
	  		<ul class="navbar-nav">
	  		  <li class="nav-item">
	  			<a class="nav-link smooth-link" href="../index.html">首页</a>
	  		  </li>
	  		  <li class="nav-item">
	  			<a class="nav-link smooth-link" href="login.html">登录</a>
	  		  </li>
	  		  <li class="nav-item">
	  			<a class="nav-link smooth-link" href="registered.html">注册</a>
	  		  </li>
	  		</ul>
	  		<form class="form-inline">
	  			<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
	  		</form>
	  </div>
  </div>
</nav>
    <div class="breadcrumb-hostio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content">
                        <h2>Contact</h2>
                        <ul>
                            <li>
                                <a href="../index.html">index</a>
                            </li>
                            <li>
							>&nbsp;&nbsp; <a href="#"> contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" style=" padding: 120px 0;">
        <div class="container">
            <div class="row justify-content-center">	
                <div class="col-md-8 col-lg-6 col-xl-6">	
                    <div class="bestsite-head text-center mb-60">
                        <div class="section-title">
                            <h2>与我们联系</h2>
                        </div>
                        <div class="section-content">
                            <p>在下方输入您的名字和邮箱地址，然后将您对于本站的看法发送给我们，我们将尽快回复您。</p>
                        </div>
                    </div>
                </div>		
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <form>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="text" placeholder="name">
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="email" placeholder="address">
                                    </div>
                                </div>
                                <textarea placeholder="Write what you want to say..."></textarea>
                                <button type="submit">发送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	
	<div id="footer">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
	        <div class="row">
	            <div class="col-md-4">
	                <h3><bold>Address</bold></h3>
	                <h5>福建省厦门市集美区xxx号</h5>
	            </div>
	            <div class="col-md-4">
	                <h3><bold>Send Us A Message:</bold></h3>
	                <h5>xxx@qq.com</h5>
	            </div>
	            <div class="col-md-4">
	                <h3><bold>QQ：</bold></h3>
	                <h5>xxxxxxx</h5>
	            </div>
			</div>
		</div>
	</div>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		$(function(){ 
			$(".navbar-toggler").click(function(){
				$("#navbarNav").toggle("collapse")
			})
		})
		
		
	</script>

</body>
</html>

