<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>甘肃陇剧</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="login.html">登录</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="registered.html">注册</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/a75b5385533598dcf5c410b09520c82b.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>甘肃陇剧</h3>
				 </div>
				<div class="about-info" style="font-size: 24px;">
					<p>
						陇剧是流行在甘肃全省的一个新兴剧种，原名“陇东道情”，是流传在甘肃东部地区的一种皮影戏。陇东道情起源于汉代的道情说唱，唐宋时期由宫廷走向民间。扎根于陇东的渔鼓道情，逐渐吸收了当地民间音乐营养，增加二股弦等乐器，衍化为皮影唱腔音乐。
					</p>
					<p>
						陇剧是甘肃省一个新兴的戏曲剧种。据老艺人的回忆，原为皮影戏，采用道情唱腔，名陇东道情。流传于甘肃东部的环县及曲子镇一带。因演出排场和活动方式均极简便，全部箱具乐器一头毛驴即可驮走，当地群众又称这种皮影班子为“一驴驮”。它的形成至早不超过清道光、咸丰年间。环县皮影艺人解长春（1843～1916年）一生从事陇东道情的改革活动，制定并改进了道情的音乐及声腔，增添了四弦、笛呐和水梆子（梆铃）等乐器，对道情艺术的发展有很大贡献。此后道情唱腔又发展为东南西北4路，其中许元章、耿颢贤、史学杰、敬廷玺等艺人，便是各路唱腔的著名代表。
					</p>
					<p>	
						抗日战争及解放战争时期，陕甘宁边区的文艺工作者运用道情形式编演街头剧进行宣传活动。1949年以后开展了对道情音乐的搜集整理活动。1958年建立了专业队伍，从事道情艺术全面的发掘、改革和提高工作，为皮影戏向舞台剧的演变创造了条件。1959年大型古典戏曲《枫洛池》的编演，使陇东道情从实践上具备了较完整的舞台艺术规模，成为一个新生的戏曲剧种。同年年底定名为陇剧，并成立了甘肃省陇剧团。
					</p>
					<p>
						2018年4月，肖美鹿撰写的《陇剧》入选《中华戏曲剧种丛书》。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			let count = 2
			$(function(){ 
				setInterval(function(){
					$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
					count = count >= 3 ? 1 : count + 1;
				},3000);
			
				$(".navbar-toggler").click(function(){
					$("#navbarNav").toggle("collapse")
				})
			})
			
			
		</script>
	</body>
</html>