<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>青海燃灯节</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="login.html">登录</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="registered.html">注册</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/55cdf52cbca210017238269d93ef0f77.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>青海燃灯节</h3>
				 </div>
				<div class="about-info" style="font-size: 24px;">
					<p>
						在燃灯节前几天，藏传佛教的信徒们就开始做酥油灯，寺庙里的喇嘛每个人都要做30盏以上的酥油灯。到了燃灯节的晚上，家家窗台上放满了酥油灯。因为在藏族人观念里，单数的数字有吉祥之意，所以，酥油灯盏的数量都是单数。
					</p>
					<p>
						燃灯节当晚8点钟，大昭寺门前，水泄不通。法号，法螺、金唢呐声响起，僧人们在道路两侧、佛塔周围、殿堂屋顶、窗台、室内佛堂、佛龛、供桌等以及凡能点灯的台阶上，点上一盏盏酥油供灯，并在佛堂内供一碗净水，灯水相映，把佛塔、殿宇、佛堂、屋子照得灯火通明。特别是大昭寺寺顶围墙上那一圈圈闪闪烁烁、连成一片的酥油灯光，远远眺望，犹如繁星落地，把夜空照得通亮。此时，信徒们齐声唱起经文，悼念宗喀巴大师，场面肃穆、庄重。	
					</p>
					<p>
						转经的人潮如滚滚波涛，涌流向前。信徒手里的经筒飞转，诵经声嗡嗡不绝。大昭寺周边的煨桑炉，白烟蒸腾，直升夜空。许多人将大把的柏枝投入炉中，并对着大昭寺或天空念道“拉——索罗！”（神，必胜！）每当这高呼升起，气氛会变得格外热烈，人群中不分男女老幼，都会仰面向天，喊出这震撼人心的声音“拉——索罗！”
					</p>
					<p>
						过节的食物必须是充足丰盛的，燃灯节的特殊食物“藏粑面粥”，是用糌粑面（即青稞炒熟后磨成的面）、茶叶末和少量盐巴等煮成的粥。据说以前有的小喇嘛在燃灯节时，坐在屋顶与老喇嘛一起念经，时间太长，肚子饿了，不由地想起燃灯节的美味，于是把经文念成了“酥油灯供在屋顶，粑面粥煮在锅底”。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
			let count = 2
			$(function(){ 
				setInterval(function(){
					$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
					count = count >= 3 ? 1 : count + 1;
				},3000);
			
				$(".navbar-toggler").click(function(){
					$("#navbarNav").toggle("collapse")
				})
			})
			
			
		</script>
	</body>
</html>