<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>陕西安塞腰鼓</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="login.html">登录</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="registered.html">注册</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/904ee9ad9a58822b3f0b0366519daae3.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>陕西安塞腰鼓</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						1981年，在与安塞县比邻的延安市梁村乡王庄村一处叫"墓陵塌"的小山坡上，群众在耕地时发现一座古墓。其中出土了形制、人物造型相同的两块腰鼓画像砖，均系翻模成型后烧制的。经延安地区文物考古专家鉴定，系宋代造物。画像砖上所塑造的打鼓者，腰挎细腰鼓、侧身、头向左后扬起，左脚着地，右腿前跨蹬出，双手一高一低作挥槌击鼓状；左侧一人为敲镲者，双脚跳起，吸左腿，眼看左侧，双手在胸前做打镲状。击鼓者赤膊，穿灯笼裤，腰系彩带，飘至前下方。尤其是打鼓者的动作和形象，颇似当今安塞腰鼓中"马步蹬腿"的第四拍和"前进步"的第二拍动作。腰鼓画像砖的画面清晰，造型美观，生动地表现了我国宋代陕北地区的腰鼓表演，对研究陕北腰鼓的历史渊源和发展，提供了珍贵翔实的文物资料。
					</p>
					<p>
						1942年，延安和陕甘宁边区兴起的新秧歌运动，使安塞腰鼓这一古老的民间艺术得到了发展，成为亿万军民欢庆胜利、庆祝解放的一种象征，并被誉为"胜利腰鼓"，遍及中华大地，载入了革命文艺运动的光辉史册。1951年，安塞腰鼓参加了全国民间音乐、舞蹈会演，由安塞冯家营村的艾秀山等民间艺人向中国青年文工团传授了腰鼓技艺，在布达佩斯举办的世界青年与学生联欢节上演出后，荣获特等奖，从而使安塞腰鼓扬名海内外。
					</p>
					<p>
						腰鼓是陕北各地广泛流传的一种传统鼓舞形式，尤其是延安地区的安塞县、榆林地区的横山、米脂等地最为盛行，是陕西民间舞蹈中具有较大影响的舞种之一，安塞腰鼓起源于榆林横山，在明代后期，由于灾荒与农民起义，安塞已经人烟稀少，安塞人由榆林横山迁过来，也把横山的腰鼓带到了安塞。安塞腰鼓是一种独具特色的传统民间大型舞蹈艺术形式，具有2000多年的历史，为国家级非物质文化遗产。独具魅力的安塞腰鼓像掀起在黄土地上的狂飚，香港，在中国的各地展现风采，并为世界瞩目。豪迈粗犷的动作变化，刚劲奔放的雄浑舞姿，充分体现着陕北高原民众憨厚朴实、悍勇威猛的个性与性格。安塞腰鼓可由上千人一同表演。早在1986年，安塞腰鼓就荣膺首届中国民间舞蹈大赛最高荣誉大奖，它先后在第11届亚运会开幕式、香港回归庆典,2009年国庆典礼等大型活动中表演，并赴日本、德国等其他国家进行表演。
					</p>
					<p>
						陕北腰鼓有着广泛的群众基础和悠久的发展历史。在一些主要流传地区，几乎是村村有鼓队，家家有鼓手。而且世代传承，经久不衰。正由于它流传的时间长、范围广，参加的人数多，所以，舞蹈的基本形式和动律虽然大致相同，但在不同的地区，形成了各自不同的表演风格和习俗。安塞腰鼓是其中具有代表性的一种。
					</p>
					<p>
						安塞腰鼓由来已久，本是古代军旅以增军中士气及传递情报所用，这里是用来表达胜利的欢呼和丰收的喜悦。颇密的击鼓声，强悍的步伐，变幻的阵势，雄壮的呐喊，尽现男子阳刚之美，在国际上极富盛名。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>