body{
    margin: 0;
    padding: 0;
}
.order_table{

    border: 1px solid #EBEBEB;
    margin: 15px auto 0px;
}
td{
    text-align: center;
}
.add{
    color: white;
    position: absolute;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.5s;
    background-color: red;
    top: 65px;
    left: 10px;
}
.add:hover{
    background-color: #000000;

}
.top{
    height: 40px;
    background-color: #9fcdff;
    line-height: 40px;
    width: 100%;
}