.cookDiv{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.cookBtn{
	display: inline-block;
	width: 300px;
	height: 50px;
	left: 40%;
	top: 189px;
	text-align: center;
	line-height: 50px;
	font-weight: 1000;
	font-size: 24px;
	color: white;
	background: #41D1CC;
	border-radius: 15px;
}
.basicBtn{
	display: inline-block;
	width: 45%;
	margin-top: 12%;
	margin-left: 30%;
	font-size: 20px;
	line-height: 50px;
	font-weight: 500;
	text-align: center;
	background: #41D1CC;
	border-radius: 10px;
	text-decoration: none;
	color: white;
}
.courseBtnDiv{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 4%;
}

.courseBtn{
	display: inline-block;
	width: 20%;
	font-size: 20px;
	line-height: 50px;
	font-weight: 500;
	text-align: center;
	background: #41D1CC;
	border-radius: 10px;
	color: white;
}
.courseBtn_2{
	text-align: center;
	background: #41D1CC;
	border-radius: 10px;
	font-weight: 300;
	
	color: white;
	font-size: 30px;
	padding: 10px;
	margin-left: 10%;
}

@media (max-width:1450px) {
	.courseBtn_2{
		font-size: 25px;
	}

}
@media (max-width:1170px) {
	.courseBtn_2{
		font-size: 20px;
	}

}
.indexBtnDiv{
	display: inline-block;
	margin-top: 6%;
	width: 100%;
	text-align: center;
}
.indexBtn{
	display: inline-block;
	opacity: 0.9;
	text-align: center;
	font-weight:1000;
	font-size: 30px;
	width: 480px;
	background-color: #d5dce2;
	color: white;
	border-radius: 12px;
}