.Results{
	text-align: center;
	width: 100%;
	top: 100px;
	
	font-family: Rubik One;
	font-style: normal;
	font-weight: 1000;
	font-size: 24px;
	color: #41D1CC;
}
.basicTitleM{
	display: inline-block;
	width: 80%;
	font-size: 25px;
	line-height: 35px;
	
	padding-left: 30px;
	font-weight: bold;
	color: white;
	background: #C0BFB5;
	border-radius: 15px;
	
}
.indexTitle{
	display: inline-block;
	margin-top: 6%;
	width: 100%;
	font-size: 80px;
	font-weight:1000;
	color: aliceblue;	
	text-align: center;
}

.basicTitle{
	text-align: center;
	color: white;
	font-size: 50px;
	padding-top: 50px;
}
.courseMou1{
	margin-top: 20px;
	width: 90%;
	margin-left: 2%;
	font-size: 25px;
	line-height: 48px;
	padding-left: 2%;
	color: white;
	background: #C0BFB5;
	border-radius: 15px;
}

@media (max-width:1250px) {
	.courseMou1{
		font-size: 20px;
		line-height: 48px;
	}
}
@media (max-width:1050px) {
	.indexTitle{
		font-size: 70px;
		font-weight:1000;
	}
	.courseMou1{
		font-size: 15px;
		line-height: 48px;
	}
}