#title-a,
#title-b {
    text-align: center;
    font-size: x-large;
}

#icon-a,
#icon-b {
    height: 300px;
}

#icon-a,
#icon-b img {
    vertical-align: middle;
}

#icon-a {
    border: 5px solid blue;
}

#icon-b {
    border: 5px dashed red;
}