html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: VIVO-FONT-WEB,sans-serif;
}
main {
    width: 100%;
    color: #242933;
    background: #f5f7fa;
}
main .pro-series-header {
    position: relative;
    height: 900px;
}
main .pro-series-header:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 300px;
    z-index: 2;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(245,247,250,0)),to(#f5f7fa));
    background-image: -webkit-linear-gradient(top,rgba(245,247,250,0) 0,#f5f7fa 100%);
    background-image: -moz- oldlinear-gradient(top,rgba(245,247,250,0) 0,#f5f7fa 100%);
    background-image: -o-linear-gradient(top,rgba(245,247,250,0) 0,#f5f7fa 100%);
    background-image: linear-gradient(
180deg,rgba(245,247,250,0) 0,#f5f7fa 100%);
}
main .pro-series-header .header-content-box {
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: calc(100% - 160px);
}
main .pro-series-header .header-content-box {
    position: absolute;
    top: 0;
    height: 640px;
    width: 1440px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
main .pro-series-header .header-content {
    position: absolute;
    top: 226px;
    left: 27.7%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 32px;
    text-align: center;
}
main .pro-series-header .header-content h1{
	font-weight: 500;
	letter-spacing: 8px;
}
main .pro-series-header .banner-img-box img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
    height: auto;
}

main .pro-series-header .header-pro-wraper {
    display: table;
    width: 100%;
    table-layout: fixed;
    background: #fff;
    position: relative;
    top: -260px;
    width: 1440px;
    height: 410px;
    margin: 0 auto;
    background: #fff;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    font-size: 14px;
    z-index: 3;
    overflow: hidden;
}
main .pro-series-header .header-pro-wraper {
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: calc(100% - 160px);
    height: 25.147vw;
    margin: 0 80px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
main .pro-series-header .header-pro-wraper .swiper-container {
    width: 100%;
    height: 410px;
    font-size: 0;
    line-height: 1;
    white-space: nowrap;
}
main .pro-series-header .header-pro-wraper .swiper-container {
    height: 25.147vw;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform,left,top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px,0,0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform,left,top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px,0,0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform,left,top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px,0,0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px,0);
    -ms-transition-property: -ms-transform,left,top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px,0,0);
    -ms-transition-timing-function: ease;
    -webkit-transition-property: left,top,-webkit-transform;
    transition-property: left,top,-webkit-transform;
    -o-transition-property: left,top,-o-transform;
    -moz-transition-property: transform,left,top,-moz-transform;
    transition-property: transform,left,top;
    transition-property: transform,left,top,-webkit-transform,-moz-transform,-o-transform;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-wrapper {
    min-width: 100%;
    text-align: center;
}
main .pro-series-header .header-pro-wraper .swiper-container.swiper-container-short .swiper-slide {
    position: relative;
    padding-top: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
main .pro-series-header .banner-img-box {
    height: 900px;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide {
    float: none;
    display: inline-block;
    padding-top: 68px;
    text-align: center;
    vertical-align: top;
    width: 243px;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide {
    padding-top: 4.118vw;
    width: 14.78vw;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide p {
    color: #1a1a1a;
    margin-top: 28px;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide p {
    margin-top: 1.691vw;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide p .swiper-text {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 3px;
    line-height: 18px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide .stockStop {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    color: #666;
    height: 16px;
    line-height: 16px;
    border: 1px solid #666;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    padding: 0 8px;
    text-align: center;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide .stockStop {
    padding: 0 0.44vw;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide img {
    width: 164px;
    height: 164px;
    margin: 0 auto;
}
main .pro-series-header .header-pro-wraper .swiper-container .swiper-slide img {
    width: 10.074vw;
    height: 10.074vw;
}
main .pro-series-wraper {
    position: relative;
    width: 100%;
    padding-top: 230px;
    padding-bottom: 140px;
}
main .pro-series-wraper {
    padding-top: -webkit-calc(25.147vw - 260px + 84px);
    padding-top: -moz-calc(25.147vw - 260px + 84px);
    padding-top: calc(25.147vw - 260px + 84px);
}

main .pro-series-wraper .pro-series-wraper-white {
    padding-bottom: 126px;
}
main .pro-series-wraper .pro-series-wraper-white {
    padding-bottom: 10vw;
}

main .pro-series-wraper .pro-series-content {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
main .pro-series-wraper .pro-series-content {
    max-width: none;
    margin: 0 80px;
}
main .pro-series-wraper .pro-series-content .rec-item-box .rec-img {
    width: 890px;
    height: 100%;
    display: inline-block;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    overflow: hidden;
}
main .pro-series-wraper .pro-series-content .rec-item-box .rec-img {
    width: 54.362vw;
}
main .pro-series-wraper .pro-series-content .rec-item-box .rec-img img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}
main .pro-series-wraper .pro-series-content .rec-item-box {
    width: 100%;
    position: relative;
    text-align: right;
    height: 600px;
}
main .pro-series-wraper .pro-series-content .rec-content .content-img {
    text-align: left;
    height: 28px;
    margin-bottom: 32px;
}
main .pro-series-wraper .pro-series-content .rec-content {
    position: absolute;
    left: 0;
    top: 44.4%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
main .pro-series-wraper .pro-series-content .rec-content .content-img {
    height: 1.838vw;
}

main .pro-series-wraper .pro-series-content .rec-content .content-img h1{
	font-weight: 500;
	font-size: 48px;
}
main .pro-series-wraper .pro-series-content .rec-content .title {
    text-align: left;
    font-size: 52px;
    max-width: 434px;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
main .pro-series-wraper .pro-series-content .rec-content .title {
    font-size: 3.186vw;
}

main .pro-series-wraper .pro-series-content .rec-content .btn-box {
    width: 300px;
    text-align: left;
    position: absolute;
    bottom: -132px;
    font-size: 0;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box {
    width: 18.456vw;
    bottom: -8.603vw;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .buy {
    vertical-align: middle;
    margin-right: 24px;
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 52px;
    line-height: 52px;
    color: #fff;
    background: #415fff;
    font-size: 20px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    transition: background-color .2s ease;
    cursor: pointer;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .buy {
    width: 9.191vw;
    height: 3.235vw;
    line-height: 3.235vw;
    font-size: 1.226vw;
    margin-right: 1.397vw;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .buy:hover{
	
	background: #3ea2ff;
}
.v-section-btn>.v-btn-link, .v-section-btn>.v-btn-play {
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    position: relative;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .v-section-btn>.v-btn-link, main .pro-series-wraper .pro-series-content .rec-content .btn-box .v-section-btn>.v-btn-play {
    font-size: 1.226vw;
    line-height: 1.765vw;
    color: #242933;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .v-section-btn {
    display: inline-block;
    vertical-align: middle;
}
main .pro-series-wraper .pro-series-content .rec-content .btn-box .v-section-btn>.v-btn-link:hover {
    color: #415fff;
}
main .pro-series-wraper .pro-series-content .rec-item-box.rec-item-box-right .rec-content {
    left: 61.618vw;
}
main .pro-series-wraper .pro-series-content .rec-item-box.rec-item-box-right {
    text-align: left;
}
main .pro-series-wraper .pro-series-content .rec-item-box+.rec-item-box {
    margin-top: 4.583vw;
}
main .pro-series-wraper .pro-series-content {
    max-width: none;
    margin: 0 80px;
}

main .pro-series-wraper .pro-series-content {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
main .pro-series-wraper .pro-series-title {
    width: 100%;
    font-size: 40px;
    margin: 100px 0 40px;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
main .pro-series-wraper .pro-series-title .v-section-btn {
    font-size: 0;
    margin-top: 20px;
}
.v-section-btn {
    color: #000000;
}
main .pro-series-wraper .pro-series-title .v-section-btn .v-btn-link {
    font-size: 24px;
    color: #000000;
}

main .pro-series-wraper .pro-series-title .v-section-btn .v-btn-link:hover {
    color: #2369ff;
}
.v-section-btn>.v-btn-link, .v-section-btn>.v-btn-play {
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 20px;
    line-height: 28px;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
    position: relative;
}
main .pro-series-wraper .pro-series-content .pro-series-compare {
    height: 630px;
    background-color: #fff;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    padding-top: 110px;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div {
    max-width: 1057px;
    margin: 0 auto;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div ul {
    text-align: center;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div li:first-child {
    float: left;
}

main .pro-series-wraper .pro-series-content .pro-series-compare>div li {
    display: inline-block;
    text-align: center;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div .compare-img-list {
    position: relative;
    width: 317px;
    height: 317px;
    margin: 0 auto;
    overflow: hidden;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div .compare-img-list img {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    height: 100%;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div p {
    max-width: 317px;
    line-height: 28px;
    font-size: 24px;
    margin: 28px 0 10px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
main .pro-series-wraper .pro-series-content .pro-series-compare>div .compare-link-btn {
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 52px;
    line-height: 52px;
    color: #fff;
    background: #415fff;
    font-size: 20px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    transition: background-color .2s ease;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 16px auto 24px;
}