.page_store {
    width: 100%;
}
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: overlay;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: VIVO-FONT-WEB,sans-serif;
}
main {
    font-size: 0;
    line-height: 1;
}
.wrapper, .banner-wrapper {
    width: 100%;
}
.banner-container {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 50%;
    max-width: 1200px;
}
.banner-wrapper {
    position: relative;
    margin-left: -50%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.banner-img-container {
    width: auto;
    max-width: none;
    min-width: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50%;
}
.banner-img-wrapper {
    position: relative;
    margin-left: -50%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 948px;
    overflow: hidden;
}
.banner-img {
    height: 1025px;
}

img {
    display: inline-block;
}
.search-container {
    min-width: 624px;
    position: absolute;
    top: 678px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
}
.search-container .title {
    color: #fff;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    padding-bottom: 15px;
    white-space: nowrap;
}
.search-container .suggestion-tip {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 38px;
    color: rgba(255,255,255,.7);
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
.picker {
    text-align: center;
}
.picker-address {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 27px;
    width: 450px;
    font-size: 18px;
    color: #242933;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
.picker-address:after {
    position: absolute;
    content: '';
    background: url(../img/down.png) center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 28px;
    width: 28px;
    right: 27px;
    top: 11px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.stores-bottom {
    width: 100%;
    background: #fff;
}
.stores-content {
    padding-bottom: 100px;
    width: 100%;
}
.stores-content h2 {
    font-size: 32px;
    line-height: 46px;
    padding: 78px 0 39px;
    text-align: center;
    color: #242933;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
.stores-activity {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.stores-activity li:first-child {
    margin-top: 0;
}

.stores-activity li {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f5f7fa;
    margin-top: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    overflow: hidden;
}
.activity-img {
    width: 66.7%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}
.activity-img i {
    width: 100%;
    height: 100%;
}
.activity-img i img {
    height: 100%;
    width: auto;
}
.activity-info {
    display: inline-block;
    position: absolute;
    width: 33.3%;
    height: auto;
    text-align: center;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.activity-info h3 {
    font-size: 24px;
    line-height: 34px;
    color: #333;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
.activity-info p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
    color: #575c66;
    padding: 0 67px;
}
.stores-center {
    width: 100%;
    overflow: hidden;
	background-color: #f7f7f7;
}
.stores-center h2 {
    font-size: 32px;
    line-height: 46px;
    color: #242933;
    padding-top: 59px;
    text-align: center;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;
}
.swiper-container {
    margin: 39px 0 58px;
}

.swiper-container, .swiper-slide {
    height: 394px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform,left,top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px,0,0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform,left,top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px,0,0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform,left,top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px,0,0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px,0);
    -ms-transition-property: -ms-transform,left,top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px,0,0);
    -ms-transition-timing-function: ease;
    -webkit-transition-property: left,top,-webkit-transform;
    transition-property: left,top,-webkit-transform;
    -o-transition-property: left,top,-o-transform;
    -moz-transition-property: transform,left,top,-moz-transform;
    transition-property: transform,left,top;
    transition-property: transform,left,top,-webkit-transform,-moz-transform,-o-transform;
    transition-duration: 0s;
    transform: translate3d(0px,0,0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.stores-service-li {
    display: inline-block;
    position: relative;
    width: 604px;
    height: 100%;
    background: #f7f7f7;
    text-align: center;
    border-left: 12px solid #f7f7f7;
    border-right: 12px solid #f7f7f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.stores-service-li h3 {
    padding: 35px 0 8px;
    line-height: 32px;
    font-size: 24px;
    color: #333;
    background: #fff;
    -webkit-border-top-left-radius: 24px;
    -moz-border-radius-topleft: 24px;
    border-top-left-radius: 24px;
    -webkit-border-top-right-radius: 24px;
    -moz-border-radius-topright: 24px;
    border-top-right-radius: 24px;
    font-family: VIVO-FONT-WEB-BOLD,VIVO-FONT-NAV-BOLD,sans-serif;

}
.stores-service-li .p_text {
    color: #666;
    padding: 0 76px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    background: #fff;
    height: 120px;
}
.stores-service-li .service-img {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-border-bottom-left-radius: 24px;
    -moz-border-radius-bottomleft: 24px;
    border-bottom-left-radius: 24px;
    -webkit-border-bottom-right-radius: 24px;
    -moz-border-radius-bottomright: 24px;
    border-bottom-right-radius: 24px;
    overflow: hidden;
}
.service-img img {
    width: 100%;
}
.switch-left, .switch-right {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    position: absolute;
    width: 72px;
    height: 44px;
    top: 175px;
    z-index: 2;
    cursor: pointer;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    direction: ltr;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}
.switch-left {
    left: 50px;
    right: auto;
}
.switch-right {
    left: auto;
    right: 50px;
}
.switch-left:after, .switch-left:before, .switch-right:after, .switch-right:before {
    content: '';
    position: absolute;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 72px;
    height: 44px;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.switch-left:after, .switch-left:before, .switch-right:after, .switch-right:before {
    content: '';
    position: absolute;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 72px;
    height: 44px;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.swiper-container {
    margin: 39px 0 58px;
}
.switch-left:hover {
    background: url(../img/deepLeft.svg) center no-repeat;
    opacity: 1;
}
.switch-left:after {
    background: url(../img/left.svg) center no-repeat;
    opacity: 1;
}
.switch-right:after {
    background: url(../img/right.svg) center no-repeat;
    opacity: 1;
}
.switch-right:hover {
    background: url(../img/deepRight.svg) center no-repeat;
    opacity: 1;
}