body, head{
	margin: 0;
	padding: 0;
}
.top {
	padding: 0px 150px;
	background-color:#007ca5 ;
}
.top .logo{
	width: 200px;
	display:inline-grid; 
	padding: 20px 0px;
}
.top .logo img{
	width: 100%;
}
.top .meun{
	display:inline; 
	float: right;
	margin:0px 0px ;
	line-height: 75px;
}
.top ul li{
    line-height: 75px;
	display:inline; 
}
.top ul li a {
	color: white;
	text-decoration: none;
	padding: 32px 20px;
}

.top ul li a:hover{
    line-height: 75px;
	height: 75px;
	background-color: #FFFFFF;
	color:red;
}
.top .select{
    line-height: 75px;
	height: 75px;
	padding: 32px 20px;
	background-color: #FFFFFF;
	color:red;
}
.bigImg {
	height: 100px;
	width: 100%;
}
.bigImg img{
	max-width:100%;
}
.content{
	padding-bottom: 280px;
}
.content .headline{
	margin: 0 180px;
	text-align: left;
	font-size: 40px;
	color: white;
	font-family: "微软雅黑";
	font-weight: 600;
}
.content .smallhead{
	margin: 0px 180px;
	text-align: left;
	font-size: 20px;
	color: white;
	font-family: "微软雅黑";
}
.cent{
	padding: 0px 200px;
    min-height: 460px;
}
.cent .about .tiite{
	width: 100%;
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	margin: 10px 0px;
}
.cent .about p{
	font-size: 18px;
	width: 100%;
	text-align: center;
	color: darkgrey;
	margin: 0;
}
.cent .ntext {
	margin-top:50px;
}
.cent .nLeft{
	float: left;
	width: 500px;
}
.cent .nLeft .tiite{
	font-size: 23px;
	color: black;
}
.cent .nLeft .cont{
	font-size: 13px;
}
.cent .nLeft button{
	padding: 10px 35px;
	border: 0;
	background-color: #ff9e02;
	color: white;
}
.cent .nRight{
	float: right;
}
.cent .divide{
	width: 50%;
    float: left;
}
.cent .tLeft{
	float: left;
}
.cent .tRight{
	margin-left: 10px;
	float: left;
	width: 65%;
}
.cent .tRight .tiite{
	font-size: 23px;
	color: black;
	
}
.cent .tRight p{
	font-size: 13px;
}
.cent .tRight a{
	color: #ff9e02;
	text-decoration: none;
}
.grids {
    padding: 50px 0;
}
.grid {
    float: left;
    width: 23%;
    margin-right: 2%;
}
.grid img {
    width: 100%;
	margin-bottom: 10px;
}
.grid a{
	color: #242424;
	font-size: 16px;
	text-decoration: none;
	margin-left: 10px;
}
.grid p{
	margin-left: 10px;
	font-size: 13px;
}
.fotCenter{
	width: 100%;
	text-align: center;
	height: 400px;
}
.fot{
	padding: 10px 40px;
	border: 0;
	background-color: #ff9e02;
	color: white;
	margin-top: 20px;
}
.footer{
	padding: 0px 450px;
	background-color:#c3c3c3 ;
	
}
.footer .meun{
	display:inline; 
	text-align: center;
	margin:0px 0px ;
	line-height: 45px;
}
.footer ul li{
    line-height: 45px;
	display:inline; 
}
.footer ul li a {
	color: #878787;
	text-decoration: none;
	padding: 12px 20px;
}

.footer ul li a:hover{
	background-color: #FFFFFF;
	color:red;
}
footer{
	font-size: 14px;
	color: white;
	background-color: #05569c;
	text-align: center;
	padding: 50px 40px;
}
.er{
	position:fixed;
	background-color: #878787;
	text-align: center;
	top: 40%;
	right: 0;
	width: 147px;
	height: 150px;
}