.site-header {
	display: block;
	z-index: 3;
}

a,
body {
	color: #555;
	margin: 0px;
}
div {
	display: block;
}

body {
	font-family: Arial, "Microsoft YaHei", Helvetica, serif;
	font-size: 14px;
	line-height: 20px;
	background: #e8e8e8;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.nav-section,
.site-header {
	background: #fff;
	position: relative;
}

@media (min-width: 1200px) {
	.visible-lg {
		display: block !important;
	}
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

::selection {
	background: #FC5A5A;
	color: #fff;
}

.nav-section {
	transform: translate3d(0, 0, 0);
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.nav-section-wrap {
	line-height: 70px;
}

.site-navigation {
	display: inline-block;
}

.site-navigation .main-navigation {
	display: inline-block;
	font-family: Montserrat, sans-serif;
}

.main-navigation ul.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.main-navigation ul.menu li {
	display: inline-block;
	position: relative;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	outline: 0;
	text-decoration: none;
}

.main-navigation ul.menu li a {
	display: block;
	padding: 0 10px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.main-navigation ul.menu li a:after,
.main-navigation ul.menu li.current-menu-item a:after,
.main-navigation ul>li>a:after {
	content: "";
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
	position: absolute;
}

.nav-icons {
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #eee;
}

.header-cart,
.header-extras,
.header-search {
	display: inline-block;
	line-height: 60px;
	min-width: 20px;
}

element.style {
	width: 30px;
}

.header-search-wrapper {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 999;
}

.header-search-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 999;
}

.header-search-wrapper .search-form {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

.header-search-wrapper input.search-field {
	display: block;
	width: 100%;
	max-width: 1140px;
	padding: 0;
	height: 60px;
	outline: 0;
	background: 0 0;
	color: #ccc;
	border: none;
	font-size: 13px;
	letter-spacing: 2px;
	text-align: center;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.back-top,
.banner-inner h5,
.banner-link:after,
.featured-tabs-navigation ul.navigation>li,
.owl-controls .owl-nav,
.post-excerpt:before,
.post-hover,
.post-hover-inner,
.post-image,
.post-label,
.posts-loop article,
a,
button.reader-trigger,
h3.entry-title:after,
input,
span.menu-label,
textarea {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.header-five .nav-icons,
.header-five .site-navigation,
.header-one .nav-icons,
.header-one .site-navigation,
.header-two .nav-icons,
.header-two .site-branding,
.header-two .site-navigation {
	display: inline-block;
}

.pull-right {
	float: right !important;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
	display: table;
	content: " ";
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
	clear: both;
}

.mobile-bar .container:before,
.nav-section:before {
	content: "";
	background: url(../img/hbg.png);
	width: 100%;
	height: 12px;
	position: absolute;
	bottom: -12px;
	z-index: 1;
}

a:hover {
	color: #FC5A5A;
	text-decoration: none;
}

.ahover{
	color: #FC5A5A;
	text-decoration: none;
}

.main-navigation ul>.current-category-ancestor>a:after,
.main-navigation ul>.current-menu-ancestor>a:after,
.main-navigation ul>.current-menu-item>a:after,
.main-navigation ul>.sfHover>a:after,
.main-navigation ul>li:hover>a:after {
	background-color: #FC5A5A;
}

.back-top,
.banner-inner h5,
.banner-link:after,
.featured-tabs-navigation ul.navigation>li,
.owl-controls .owl-nav,
.post-excerpt:before,
.post-hover,
.post-hover-inner,
.post-image,
.post-label,
.posts-loop article,
a,
button.reader-trigger,
h3.entry-title:after,
input,
span.menu-label,
textarea {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.site-content {
	margin: 30px 0 0;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.big-posts .big-item .post-3694 {
	border-radius: 5px;
	box-shadow: #c4c1c1 1px 1px 5px 5px;
	height: auto;
	overflow: hidden;
}
.posts-loop .masonry-item .styled{
	border-radius: 5px;
	box-shadow: #c4c1c1 1px 1px 5px 5px;
	height: auto;
	overflow: hidden;
	float: left;
	margin-left: 50px;
}
.posts-loop .masonry-item .styleds{
	border: rgba(0,0,0,.1) 1px solid;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.posts-loop .masonry-item .science{
	height: 280px;
	overflow: hidden;
	float: left;
	margin-left: 50px;
}
.posts-loop .masonry-item article {
	text-align: left !important;
}

.posts-loop article {
	position: relative;
	padding: 15px;
}

.styled {
	position: relative;
	padding: 20px;
	margin-bottom: 30px;
	background: #FFF;
	border-radius: 5px;
}

.styled,
select {
	border: 1px solid #eaeaea;
}
figure{
	margin: 0px;
}
.big-posts .big-item article figure,
.big-posts .big-item article header.entry-header {
	float: left;
	width: 200px;
}

header.entry-header {
	position: relative;
	padding: 10px;
	margin-bottom: 5px;
}


.posts-loop figure.post-image {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 20px;
	max-height: 100%;
}

figure.animated-overlay {
	position: relative;
	overflow: visible;
}

figure img {
	width: 100%;
	height: auto;
	border-radius: 5px 5px 0 0;
}

img {
	vertical-align: middle;
}

figcaption .thumb-info {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}

figure.animated-overlay figcaption {
	display: block;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align: center;
	z-index: 10;
	background-image: url(../img/crease.svg);
	background-size: cover;
	background-position: center center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
	border-radius: 5px 5px 0 0;
	background-color: rgba(0, 0, 0, .4);
}

.back-top,
.banner-inner h5,
.banner-link:after,
.featured-tabs-navigation ul.navigation>li,
.owl-controls .owl-nav,
.post-excerpt:before,
.post-hover,
.post-hover-inner,
.post-image,
.post-label,
.posts-loop article,
a,
button.reader-trigger,
h3.entry-title:after,
input,
span.menu-label,
textarea {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

figure.animated-overlay figcaption,
figure.animated-overlay>a {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.back-top,
.banner-inner h5,
.banner-link:after,
.featured-tabs-navigation ul.navigation>li,
.owl-controls .owl-nav,
.post-excerpt:before,
.post-hover,
.post-hover-inner,
.post-image,
.post-label,
.posts-loop article,
a,
button.reader-trigger,
h3.entry-title:after,
input,
span.menu-label,
textarea {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.big-item .post-excerpt:before,
.grid-item .post-excerpt:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	height: 120px;
	width: 100%;
	z-index: 2;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0)
}

.big-item article:hover .post-excerpt:before,
.grid-item article:hover .post-excerpt:before {
	height: 0
}

.big-item .entry-content h3.entry-title {
	font-size: 20px
}

.big-item .entry-content h3.entry-title {
	font-size: 20px
}

.big-item .post-label {
	text-align: right;
	padding-right: 20px
}

.big-item ul.loop-post-meta {
	right: 0;
	left: auto
}


.big-posts .big-item article .post-meta i,
.big-posts .big-item article .post-meta li {
	margin-right: 5px
}


.big-posts .big-item article .post-meta {
	padding-left: 0
}
.big-posts .big-item article .post-meta li.author a,
.big-posts .big-item article .post-meta li.cat a {
	color: #ccc
}

.big-posts .big-item article .post-meta li.author a:hover ,
.big-posts .big-item article .post-meta li.cat a:hover {
	color: #FC5A5A;
	text-decoration: none;
}
header.entry-header {
	position: relative;
	padding: 10px;
	margin-bottom: 5px;
	z-index: 5;
	text-align: center;
}
.posts-loop figure.post-image {
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 20px;
	max-height: 100%;
}
img {
	vertical-align: middle;
}
img {
	border: 0;
}
figure.animated-overlay figcaption:hover {
	display: block;
	opacity: 1;
	filter: alpha(opacity=0);
	text-align: center;
	z-index: 1;
}
.big-posts .big-item .entry-content h3.entry-title {
	margin: 0 0 5px;
	font-size: 18px;
	width: 300px;
	float: left;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}
h3.entry-title {
	position: relative;
	max-height: 3em;
	overflow: hidden;
}
.posts-loop .masonry-item h3.entry-title a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.big-posts .big-item article .post-meta {
	padding-left: 0;
}
ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}
posts .big-item article .post-meta li {
	margin-right: 5px;
}
ul.post-meta li {
	display: inline-block;
	margin-right: 6px;
	color: #ccc;
	font-size: 10px;
	text-transform: uppercase;
}
.post-excerpt {
	position: relative;
	font-size: 12px;
}
.posts-loop .masonry-item article .post-excerpt p.note {
	overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 15px;
}
p {
	margin: 0 0 10px;
}
#sidebar .widget {
	display: block;
	position: relative;
}
.coppic {
	width: 100%;
	height: 150px;
	position: relative;
	background-color: #f0f0f0;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.widget .wpu-profile-meta{
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 20px;
	padding-top: 10px;
}
.widget .wpu-profile-meta .wpu-profile-avatar {
	float: none;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/login.png);
	width: 90px;
	height: 90px;
	margin-top: -45px;
	border-radius: 50%;
	background-color: #d5ff8a;
	display: block;
	overflow: inherit;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.widget .wpu-profile-meta .wpu-profile-meta-info {
	padding: 0px;
	float: none;
	text-align: center;
}
.wpu-display-name {
	font-size: 23px;
	/* display: block; */
	font-weight: bold;
	margin-bottom: 5px;
}
.wpu-links {
	text-align: center;
}
.site-footer {
	margin-top: 30px;
}
.footer-one .footer-bottom {
	text-align: center;
	padding: 30px 0;
	color: #aaa;
	background-color: #252525;
}
.footer-one .footer-navigation {
	display: inline-block;
	margin-bottom: 0;
}
.footer-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0 10px 0 0;
}
.footer-navigation ul li {
	display: inline-block;
	margin-right: 10px;

	text-align: -webkit-match-parent;
}
.footer-navigation ul li a {
	display: block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
}
.footer-bottom a {
	color: #aaa;
}
.footer-navigation ul li a:hover {
	color: #d6d6d6;
}
.footer-one .copyright-text {
	margin-top: 15px;
}
.copyright-text {
	margin-top: 10px;
	font-size: 11px;
	letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei",Arial,Helvetica,serif;
	font-weight: 700;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
button[type=submit] {
	background: #FC5A5A;
	color: #fff;
	padding: 16px 25px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
	border: 0;
	position: relative;
	overflow: hidden;
}
button[type=submit]:hover {
	background: #181616;
	color: #fff;
	cursor:pointer;
}
.page-inner {
	padding: 14px 0 14px 150px;
}
.page-inner .n {
	 width: 80px;
	 padding: 0;
	 line-height: 36px;
 }
.page-inner a {
	width: 36px;
	height: 36px;
	border: 0;
	border-radius: 6px;
	background-color: #fff;
	color: #3951B3;
	margin-right: 12px;
}
.page-inner a:hover{
	background-color: #3951B3;
	color: #fff;
}
.page-inner a {
	cursor: pointer;
}

.page-inner a, .page-inner strong {
	 display: inline-block;
	  vertical-align: text-bottom;
	  height: 66px;
	 text-align: center;
	  line-height: 34px;
	  text-decoration: none;
	  overflow: hidden;
	 margin-right: 9px;
	  background: #fff;
 }
.page-inner a, .page-inner strong {
	 width: 36px;
	 height: 36px;
	 border: 0;
	 border-radius: 6px;
	 background-color: #fff;
	 color: #3951B3;
	 margin-right: 12px;
}
.page-inner strong{
	background-color: #3951B3;
	color: #fff;
}
main#main {
	min-height: 500px;
}