USE [master]
GO
/****** Object:  Database [health]    Script Date: 2022/12/25 15:07:16 ******/
CREATE DATABASE [health]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'health', FILENAME = N'D:\sqlserver\data\MSSQL15.MSSQLSERVER\MSSQL\DATA\health.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'health_log', FILENAME = N'D:\sqlserver\data\MSSQL15.MSSQLSERVER\MSSQL\DATA\health_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [health].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [health]
GO
/****** Object:  Table [dbo].[class]    Script Date: 2022/12/25 15:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL,
	[classify] [nchar](10) NULL,
	[majoy] [nchar](10) NULL,
 CONSTRAINT [PK_class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[health]    Script Date: 2022/12/25 15:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[health](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[temperature] [float] NULL,
	[student_number] [nchar](30) NULL,
	[date] [nchar](20) NULL,
	[postscript] [nchar](50) NULL,
 CONSTRAINT [PK_health] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 2022/12/25 15:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[number] [nchar](20) NULL,
	[name] [nchar](10) NULL,
	[sex] [nchar](10) NULL,
	[class_id] [int] NULL,
	[source] [nchar](30) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
