body {
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
}

img {
    border: 0;
    vertical-align: middle;
}
* {
    margin: 0;
    padding: 0;
}
em, i {
    font-style: normal;
}
a {
    color: #666;
    text-decoration: none;
}
li {
    list-style: none;
}
#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut li {
    float: left;
}
#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.cw-icon {
    height: 28px;
    line-height: 34px;
}
.w {
    margin: auto;
    width: 1190px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
#shortcut a {
    color: #999;
}
#shortcut a:hover {
    color: #f10215;
}
.red{
    color: #f10215!important;
}
#ttbar-login {
    margin-right: 8px;
    z-index: 20;
}
#shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.dt{
	padding-left: 7px;
	padding-right: 7px;
}
.w {
    margin: auto;
    width: 1190px;
}
#header {
    background: #fff;
    border-bottom: 1px solid #ddd;
}
#header .w {
    position: relative;
    z-index: 11;
    height: 140px;
}

#logo, .logo_tit {
    position: absolute;
}
.search-m .button, .search-m .search_bg, .search-m .text {
    position: absolute;
    top: 0;
    outline: none;
}
#logo {
    z-index: 2;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background-color: #fff;
}
.logo_tit {
    width: 100%;
    height: 100%;
}
.logo_tit_lk {
    background-image: url(../img/logo.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 190px;
    height: 120px;
    font-size: 0;
}
.search-m {
    position: relative;
    z-index: 1;
    height: 60px;
}
.search-m .form {
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border: 2px solid #e2231a;
    background: #fff;
}
.search-m .text {
    color: #333;
    background-color: #f4f4f4;
}
.search-m .search_bg, .search-m .text {
    left: 0;
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
}
.search-m .search_bg {
    color: #989898;
}
.photo-search-btn {
    position: absolute;
    right: 75px;
    top: 7px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
.search-m .button {
	
    cursor: pointer;
    border-radius: 0;
    right: 0;
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: background .2s ease;
}
.search-m .button:hover{
    background-color: #cb2017;
	
}
#settleup {
    position: absolute;
    right: 230px;
    top: 25px;
    z-index: 21;
}
#settleup .cw-icon {
    width: 130px;
    height: 34px;
    background-color: #fff;
    text-align: center;
    line-height: 34px;
    border-color: #eee;
}

.cw-icon {
    overflow: hidden;
    position: relative;
    z-index: 1;
    float: left;
    border: 1px solid #e3e4e5;
}
#settleup .ci-count {
    position: absolute;
    top: 1px;
    left: 29px;
    right: auto;
    display: inline-block;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #e1251b;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
 #settleup .cw-icon a {
    color: #e1251b;
    transition: color .2s ease;
}
#hotwords {
    overflow: hidden;
    position: absolute;
    left: 260px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
#navitems {
    overflow: hidden;
    position: absolute;
    left: 203px;
    bottom: 0;
    height: 40px;
    padding-top: 20px;
}
#navitems ul {
    float: left;
}
#navitems li {
    margin-left: 1px;
    float: left;
}
#navitems-group1 .fore1 a, #navitems-group1 .fore2 a {
    font-weight: 700;
    color: #e1251b;
}

#navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #333;
    margin: 0 11px;
    transition: color .2s ease;
}
#navitems-group1 .fore1 a, #navitems-group1 .fore2 a {
    font-weight: 700;
    color: #e1251b;
}
#navitems-group1 .fore1 a:hover{
    color: #c72017;
	
}
.fs_act {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 10px;
}
.fs_inner {
    z-index: 1;
    height: 480px;
    background-color: #f4f4f4;
}
.fs, .fs_inner {
    position: relative;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.fs_col1, .fs_col2 {
    float: left;
    height: 480px;
    margin-right: 10px;
}

.fs_col1 {
    width: 190px;
}
.cate {
    position: relative;
    z-index: 3;
}
.cate_menu {
    overflow: hidden;
    padding: 10px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
    margin-top: 10px;
}
.cate18 .cate_menu_item {
    height: 25px;
    line-height: 25px;
}

.cate_menu_item {
    overflow: hidden;
    padding-left: 18px;
    height: 27px;
    line-height: 27px;
    font-size: 0;
    transition: background-color .2s ease;
}
.cate_menu_item:hover{
	background-color: #d9d9d9;
}
.cate_menu_lk {
    font-size: 14px;
    color: #333;
    transition: color .2s ease;
}
.cate_menu_lk:hover{
	color: #b31d15;
}
.cate_menu_line {
    padding: 0 2px;
    font-size: 12px;
}
.fs_col2 {
    width: 790px;
}
.focus {
    position: relative;
    height: 470px;
    margin-top: 10px;
    overflow: hidden;
}
.focus__main {
    animation: skeletonShow .3s ease both;
}
 .sliderBannerWrapper {
    width: 590px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
 .sliderBanner {
    position: relative;
}
 .sliderBanner .slider_wrapper {
    height: 470px;
}
 .focus-item__core {
    display: inline-block;
    margin-right: 10px;
    width: 590px;
    height: 470px;
}
 .focus-item__core {
    overflow: hidden;
    position: relative;
}
.focus-item__core .focus-item-img {
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}
.slider_control_prev {
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.slider_control {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    line-height: 35px;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}
.slider_control:hover{
    background-color:rgba(0,0,0,.4)
	
}
.slider_control_next {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
 .sliderBanner .slider_indicators {
    z-index: 2;
    margin-left: 0!important;
    left: 30px;
    bottom: 20px;
    animation: skeletonShow .2s ease .1s both;
}

.slider_indicators {
    position: absolute;
    font-size: 0;
    text-align: center;
}
.slider_indicators_btn {
    position: relative;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    border-radius: 50%;
    background: #999;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
 .sliderBanner .slider_indicators_btn {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border: 1px solid rgba(0,0,0,.05);
    background: rgba(255,255,255,.4);
}
 .sliderBanner .slider_indicators_btn_active {
    width: 9px;
    height: 9px;
    top: 2px;
    left: 0;
    border: 3px solid rgba(0,0,0,.1);
}
.sliderBanner .slider_indicators_btn_active:before {
    content: " ";
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
    left: 0;
    background-color: white;
}
 .sliderRecommendWrapper {
    width: 190px;
    float: left;
    overflow: hidden;
}
.focus .focus-item__recommend {
    width: 190px;
    vertical-align: top;
    display: inline-block;
    height: 100%;
}
.focus .focus-slider .sliderRecommend {
    position: relative;
}
.focus .focus-slider .sliderRecommend .slider_wrapper {
    height: 470px;
}
.focus .focus-slider .sliderRecommend .recommend-item {
    position: relative;
}
.focus .focus-item__recommend .recommend-item {
    height: 150px;
    display: block;
    margin-bottom: 10px;
}
.focus .focus-item__recommend .recommend-item__image {
    position: relative;
    width: 100%;
    height: 100%;
}
.focus .focus-slider .sliderRecommend .slider_control {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}
.focus .focus-slider .sliderRecommend:hover .slider_control{
	opacity:1;
	visibility:visible
}
.fs_col3 {
    position: relative;
    float: right;
    width: 190px;
    height: 480px;
    z-index: 1;
}
.user {
    height: 102px;
    background: #fff;
    margin-top: 10px;
    overflow: hidden;
}
.user_inner {
    position: relative;
    padding-top: 67px;
    height: 35px;
}
.user_avatar {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 44px;
    height: 44px;
}
.user_avatar_lk {
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}
.user_avatar_lk, .user_avatar_lk img {
    display: block;
    width: 40px;
    height: 40px;
}

.user_show {
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
}
.user_show p {
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}
.user_profit {
    height: 25px;
    font-size: 0;
    text-align: center;
}
.user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
    transition: background .3s ease,color .3s ease;
}
.user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}
.news, .news2 {
    overflow: hidden;
    height: 130px;
    background: #fff;
}
.news2 .news_hd, .news .news_hd {
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}
.news2 .news_tit, .news .news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}
.news2 .news_more, .news .news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}
.news2 .news_list, .news .news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}
.news2 .news_item, .news .news_item {
    max-width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}
#app {
    position: relative;
    z-index: 10;
}
.jd_container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.channelsB {
    width: 100%;
    height: 1005px;
    margin-bottom: 20px;
    overflow: hidden;
}
.floorhd {
    height: 65px;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.floorhd_tit, .floorhd_tit_empty {
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    margin: 0 auto 20px;
    overflow: hidden;
    color: #333;
}
.floorhd_tit:after, .floorhd_tit:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.floorhd_inner{
	margin-top: 20px;
}
.floorhd_tit:after, .floorhd_tit:before {
    background-image: url(../img/sprite.png);
    width: 25px;
    height: 20px;
}
.floorhd_tit:before {
    background-position: 0 0;
    left: 0;
}
.floorhd_tit:after {
    background-position: -25px 0;
    right: 0;
}
.channelsB .channels_block_1 .channels_block_wrapper {
	float: left;
    width: 600px;
}
.channelsB .channels_block_1 .channels_block_wrapper2 {
	float: left;
}
.channelsB .channels_block .channels_item {
    display: inline-block;
    width: 290px;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.channelsB .channels_block_1 .channels_item_1, .channelsB .channels_block_1 .channels_item_2 {
    height: 370px;
}
.channelsB .channels_block_1 .channels_item_1 .channels_item_link {
    height: 370px;
    width: 290px;
}
.channelsB .channels_block .channels_item_img>img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.channelsB .channels_block .channels_item_img.lazyimg_loaded {
    background: #fff;
}
.channelsB .channels_block_1 .channels_item_1{
	float: left;
}
.channelsB .channels_block_1 .channels_item_1 .channels_item_link {
    height: 370px;
    width: 290px;
}
.channelsB .channels_block .channels_item_link {
    position: relative;
    display: inline-block;
}
.channelsB .channels_block_1 .channels_item_2{
	float: left;
}
.channelsB .channels_block_1 .channels_item{
	float: left;
}
.channelsB .channels_block .channels_item_title {
    display: block;
    height: 30px;
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 17px;
    padding-bottom: 13px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.channelsB .channels_block .channels_item_title_main {
    font-size: 22px;
    font-weight: 700;
    color: #333;
}
.channelsB .channels_block .channels_item {
    background: #fff;
}
.channelsB .channels_block .channels_item_title_aside {
    font-size: 14px;
    color: #999;
    margin-left: 5px;
}
.channelsB .channels_block .channels_item_imgs {
    font-size: 0;
    line-height: 0;
    padding-left: 30px;
}
.channelsB .channels_block .channels_item_imgs .channels_item_link {
    margin-right: 30px;
}

.channelsB .channels_block .channels_item_link {
    position: relative;
    display: inline-block;
}
.channelsB .channels_block .channels_item_imgs .channels_item_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    transition: opacity .2s ease;
}

.channelsB .channels_block .channels_item_img.lazyimg_loaded {
    background: #fff;
}
.channelsB .channels_block .channels_item_img>img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.channelsB .channels_block .channels_item img {
    display: block;
}
.more2 {
	margin-top: 20px;
    min-height: 805px;
}
.floorhd {
    height: 65px;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.feed-tab-wrapper {
    background: #fff;
}

.feed-tab-wrapper {
    background: #fff;
    margin-bottom: 10px;
}
.feed-tab {
    margin: 0 auto;
    height: 60px;
    width: 1080px;
}
.feed-tab__item {
    position: relative;
    float: left;
    width: 180px;
    height: 60px;
    text-align: center;
    cursor: pointer;
}

.feed-tab__item-title {
    color: #333;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    height: 27px;
}
.feed-tab__item--active .feed-tab__item-title-text {
    background: #e1251b;
    color: #fff;
    width: 70px;
    height: 27px;
    display: inline-block;
    border-radius: 50px;
    padding: 0 5px;
}
.feed-tab__item--active .feed-tab__item-desc {
    color: #e1251b;
}
.feed-tab__item-gap {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    margin: 10px 0;
    width: 1px;
    background: linear-gradient(
	180deg,white,#dfdfdf 51%,white);
}
.grid_c1 {
 
    width: 1200px;
}
.more2_item {
    background: #fff;
}

.more2_item {
    position: relative;
    float: left;
    width: 230px;
    height: 322px;
    margin: 0 5px 10px;
}
.more2_lk {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.more2_img {
    width: 150px;
    height: 150px;
    margin: 30px auto 40px;
}
.more2_img>img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.more2_info {
    clear: both;
    line-height: 24px;
}

.more2_info {
    padding: 0 20px;
    height: 50px;
}
.more2_info_name {
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #666;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.more2_info_price {
    margin-top: 10px;
}
.more2_info_price .mod_price {
    float: left;
    width: 85px;
    text-align: left;
	margin-left: 20px;
}

.more2_info_price .mod_price {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    color: #e1251b;
}
.more2 .mod_price i {
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700;
	
    margin-right: 3px;
    font-family: MicrosoftYahei-regular,Arial,Helvetica,sans-serif;
}
.more2_info_price_txt {
    font-size: 20px;
    font-weight: 700;
    font-family: arial,sans-serif;
}
.more2_info_price_txt-decimal {
    font-size: 12px;
}
.feed-content {
    position: relative;
    float: left;
    width: 230px;
    height: 322px;
    background: #fff;
    margin: 0 5px 10px;
    cursor: pointer;
}
.feed-content--joy {
    background-image: url(../img/sprite1.png);
    background-position: 0 0;
    width: 230px;
    height: 322px;
}
.feed-content__link {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.feed-content__img-wrapper {
    position: relative;
    margin: 30px 40px 10px;
    width: 150px;
    height: 150px;
}
.feed-content__img-wrapper .feed-content__img {
    transition: opacity .2s ease;
    width: 100%;
    height: 100%;
}
.lazyimg_img {
    width: 100%;
    height: 100%;
    transition: opacity .2s linear;
    -webkit-backface-visibility: hidden;
}
.feed-content__wrapper {
    margin: 0 20px;
}
.feed-content__tags {
    margin-bottom: 5px;
}
.feed-content--joy .feed-content__tag {
    color: #116ce9;
    border: 1px solid #116ce9;
}

.feed-content__tag, .feed-content__tag-follows {
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
}
.feed-content__tag {
    font-weight: 700;
    padding: 0 3px;
}
.feed-content__title {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed-content__desc {
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed-content--joy .feed-content__btn {
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/content_btn/sprite.png);
    background-position: 0 0;
    width: 95px;
    height: 24px;
}

.feed-content__btn {
    position: absolute;
    left: 20px;
    bottom: 33px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-weight: 700;
}
.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
}
.grid_c2{
	margin: 0 auto;
    width: 1190px;
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_duo, .mod_service_kuai, .mod_service_hao , .mod_service_sheng {
    background-repeat: no-repeat;
    background-image: url(../img/icon.png);
}
.mod_service_list {
    overflow: hidden;
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_service_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.mod_service_txt {
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.mod_service_duo {
    background-position: 0 -192px;
}
.mod_service_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    text-indent: -999px;
}
.mod_service_kuai {
    background-position: -41px -192px;
}
.mod_service_hao {
    background-position: -82px -192px;
}
.mod_service_sheng {
    background-position: -123px -192px;
}
.mod_help {
    padding: 20px 0;
}
.mod_help_list {
    overflow: hidden;
    height: 160px;
}
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.mod_help_nav_tit {
    margin-bottom: 5px;
    font-size: 14px;
}
.mod_help_cover {
    background-repeat: no-repeat;
    background-position: 0 0;
    float: right;
    width: 200px;
    height: 150px
}
.mod_help_cover_tit {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod_help_cover_con {
    padding: 0 10px;
}
.mod_help_cover_more {
    text-align: right;
}
.mod_copyright_inner {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
}
.mod_copyright_split {
    margin: 0 10px;
    color: #ccc;
}
.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}