<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>

		<link rel="stylesheet" type="text/css" th:href="@{/lib/editormd/css/editormd.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
		<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">

		<meta charset="utf-8">
		<title>编辑文章</title>
		<style>
			h3{
				font-size:20px;
			}
			h2{
				font-size:21px;
			}
			h1{
				font-size:22px;
				margin: 0px;
			}
			select{
				color: slategrey;
				margin-left: 20px;
				font-size: 15px;
				padding: 10px;
				width: 300px;
			}
			option{
				font-size: 15px;
			}
			.edit{
				height: 500px;
				z-index: 10;
				font-size: 20px;
				resize: none;
			}
		</style>

		<script type='text/javascript' th:src='@{/js/jquery-3.4.1.js}' id='jquery-core-js'></script>
		<script type='text/javascript' th:src='@{/js/common.js}'></script>
		<script th:src="@{/lib/editormd/editormd.js}"></script>

	</head> 
	<body class="home blog custom-background fullwidth ie-shortcodes  ie-shortcodes-responsive group-blog">
		
		<div id="page" class="hfeed site layout-fullwidth">
			<div th:replace="~{commons/commons::hea}"></div>
			<div id="site-content" class="site-content">
				<div class="container">
					<div class="row">
						<div class="content-area posts-loop full-width-layout col-md-12" id="primary">
							<main id="main" class="site-main row big-posts">
								<div  class="masonry-item big-item col-md-12 col-sm-12 col-xs-12">
									<div th:replace="~{commons/commons::manage}"></div>
									<div id="post-2202" style="width: 800px;float: left;padding: 15px;">
										<article class="styled">
											<form  method="post" enctype="multipart/form-data"  th:action="@{/addNews}">
												<input name="pdUpdate" th:value="${#strings.isEmpty(Updatenews) ? 'aa' : Updatenews.getNews_num()}" type="text" style="display:none" >
												<input type="file" name="pictures" id="imageOne" accept=".png, .jpg, .jpeg" style="display:none"/>
												<input type="file" name="UpdatePictures" id="image" accept=".png,.jpg,.jpeg" style="display:none"/>
												<img  style="margin-left: 280px; width: 250px;height:138px;"  class="Column-img" th:src="@{${Updatenews.getNews_pic()}}" th:if="${not #strings.isEmpty(Updatenews)}" onclick="UpdateImg()"  >
												<svg  th:if="${#strings.isEmpty(Updatenews)}"  t="1600950043250" class="Column-img icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1534" style="margin-left: 180px;width: 250px;height:138px;" id="imageOnePreview" onclick="addImg()">
													<path d="M1004.8 192h-192c-12.8 0-19.2-6.4-19.2-19.2s6.4-19.2 19.2-19.2h192c12.8 0 19.2 6.4 19.2 19.2s-6.4 19.2-19.2 19.2z" fill="" p-id="1535"></path>
													<path d="M908.8 288c-12.8 0-19.2-6.4-19.2-19.2v-192c0-12.8 6.4-19.2 19.2-19.2s19.2 6.4 19.2 19.2v192c0 12.8-6.4 19.2-19.2 19.2zM224 512c-44.8 0-83.2-38.4-83.2-83.2s38.4-83.2 83.2-83.2 83.2 38.4 83.2 83.2S268.8 512 224 512z m0-128c-25.6 0-44.8 19.2-44.8 44.8s19.2 44.8 44.8 44.8 44.8-19.2 44.8-44.8-19.2-44.8-44.8-44.8z" fill="" p-id="1536"></path>
													<path d="M780.8 960H147.2C64 960 0 896 0 812.8v-512c0-83.2 64-147.2 147.2-147.2H704c12.8 0 19.2 6.4 19.2 19.2s-6.4 19.2-19.2 19.2H147.2C89.6 192 38.4 243.2 38.4 300.8v512c0 57.6 51.2 108.8 108.8 108.8h633.6c57.6 0 108.8-51.2 108.8-108.8V403.2c-12.8-12.8-57.6-51.2-147.2-19.2-76.8 25.6-96 89.6-115.2 160-12.8 51.2-32 96-76.8 115.2-32 12.8-83.2 6.4-147.2-25.6-115.2-57.6-294.4 121.6-300.8 121.6-6.4 6.4-19.2 6.4-25.6 0s-6.4-19.2 0-25.6c6.4-6.4 204.8-198.4 339.2-134.4 57.6 32 96 38.4 121.6 32 25.6-12.8 38.4-51.2 51.2-96 19.2-70.4 44.8-153.6 140.8-185.6 134.4-44.8 192 38.4 192 44.8l6.4 12.8v409.6c0 83.2-64 147.2-147.2 147.2z" fill="" p-id="1537"></path>
												</svg>
												<h3>文章标题</h3>
												<input style="width: 400px;height: 40px;line-height: 40px;margin-left: 15px;" name="btn" class="form-control" type="text" th:value="${#strings.isEmpty(Updatenews) ? '' : Updatenews.getNews_head()}" id="btn"/>
												<h3>文章类别</h3>
												<select class="module" name="Module">
													<option th:text="${#strings.isEmpty(Updatenews) ? '-选择文章类别-': Updatenews.getNews_ify()}" th:value="${#strings.isEmpty(Updatenews) ? '': Updatenews.getNews_ify()}" selected="selected"></option>
													<option  th:each="classes:${session.classes}" th:text="${classes.getIfy_name()}" th:value="${classes.getIfy_name()}"></option>
												</select>
												<h3>作者</h3>
												<input style="width: 400px;height: 40px;line-height: 40px;margin-left: 15px;" name="name" class="form-control" type="text" th:value="${session.user.getUser_name()}" id="name" onfocus=this.blur() />
												<h3>文章主体</h3>

												<br />
												<div class="edit">
													<div id="test-editor">
														<textarea style="display:none;" th:text="${#strings.isEmpty(Updatenews) ? '' : Updatenews.getNews_text()}" name="text"></textarea>
													</div>
												</div>
												<br />

												<div class="form-group" style="margin-left: 210px;">
													<button type="submit" name="editor" value="发布" > 发布文章到社区 </button>
													<button style="margin-left: 40px;" type="submit" name="publish"  value="保存" > 将文章添加至私人空间 </button>
												</div>
											</form>
										</article>
									</div>
								</div>
							</main>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="~{commons/commons::footer}"></div>
			
		</div>

<script>

		function readURLOne(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('#imageOnePreview').css('background-image', 'url('+e.target.result +')');
					$('#imageOnePreview').css('background-repeat','no-repeat');
					$('#imageOnePreview').css('background-size','100% 100%');
					$('#imageOnePreview').hide();
					$('#imageOnePreview').fadeIn(650);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#imageOne").change(function() {
			readURLOne(this);
		});
		function addImg() {
			$("#imageOne").click();
		}

		function UpdateImg() {
			$("#image").click();

		}
		$("#image").change(function() {
			readURL(this);
		});
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					$('.Column-img').attr('src',e.target.result);
					$('.Column-img').hide();
					$('.Column-img').fadeIn(650);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>

		<script type="text/javascript">
			$(function() {
				var editor = editormd("test-editor", {
					path   : "lib/editormd/lib/"
				});
			});
		</script>
	</body>
</html>