USE [master]
GO
/****** Object:  Database [SupermarketMember]    Script Date: 2022/12/23 16:32:11 ******/
CREATE DATABASE [SupermarketMember]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SupermarketMember', FILENAME = N'D:\sqlserver\data\MSSQL15.MSSQLSERVER\MSSQL\DATA\SupermarketMember.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SupermarketMember_log', FILENAME = N'D:\sqlserver\data\MSSQL15.MSSQLSERVER\MSSQL\DATA\SupermarketMember_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SupermarketMember].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SupermarketMember]
GO
/****** Object:  Table [dbo].[card]    Script Date: 2022/12/23 16:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL,
	[number] [nchar](10) NULL,
	[points] [int] NULL,
	[date] [nchar](20) NULL,
	[phone] [nchar](20) NULL,
	[address] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[counter]    Script Date: 2022/12/23 16:32:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[counter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](10) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_counter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
