html,body,h4,h1{
	margin: 0;
	padding: 0;
}
ul {
    list-style: none;
    padding-left: 0;
	margin: 0;
}
body {
    font-family: "Bodoni 72 Oldstyle", "Times", "宋体", "SongTi SC", "Microsoft YaHei", arial;
    color: #4a4a4a;
    min-height: 1320px;
	
    font-size: 14px;
}
a, a:hover, a:focus {
    text-decoration: none;
}
.header{
	background-image: url(../img/sjtudoorBG.jpg);
	background-position-x: center;
	background-position-y: -60px;
	height: 450px;
	background-repeat: no-repeat;
	background-color: #b2141a;
	background-size: 90%;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
}
.header .top{
    background-color: rgba(107, 0, 4, 0.8);
}
.nav-right {
	
    width: 45%;
    float: right!important;
}
.header .top ul{
	float: left;
	margin: 0;
}
.header .top ul li {
	float: left;
}
.header .top ul li:hover{
	background-color: #b2141a;
}
.header .top ul li  a {	
	position: relative;
	display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}
.TopLine {
    height: 1px;
    background-color: #ddd;
}
.container:before{
    display: table;
    content: " ";
	
}
.nav-right li{
	float: right!important;
}
.navbar {
    position: relative;
    height: 70px;
    margin-bottom: 0px;
    border-radius: 0;
	
}
.headerLogo{
	
    float: left;
}
.headerLogo .logo {
    overflow: hidden;
    margin-top: 30px;
}
.navbar-top {
    overflow: hidden;
}
.navbar-top ul {
    float: right;
    margin-top: 30px;
}
.navbar-top ul li{
    float: right;
	
    display: inline-block;
}
.navbar-top  li  a {
    padding: 10px 20px;
    font-size: 14px;
	
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}
.navbar-top   li a:hover{
	background-color: rgba(107, 0, 4, 0.8);
}
.container {
    width: 1170px;
}
.col-sm-6 {
    width: 47%;
	position: relative;
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-main{
	background: none;
	border: 1px solid #fff;
	min-height: auto;
	height: 40px;
	margin-left: 30%;
}
.navbar-main .navbar-nav {
    width: 100%;
}
.navbar-main .navbar-nav .dropdown{
	float: left !important;
	width: 16.66%;
	text-align: center;
	line-height: 40px;
	position: relative;
    transition: all 0.4s ease-out;
}
 .navbar-nav li a{
    padding: 9px 0;
	background: none;
	color: #fff;
	text-align: center;
	font-size: 16px;
	position: relative;
    overflow: hidden;
    box-shadow: 0px 35px 77px -17px rgb(0 0 0 / 0%);
	
    font-weight: bold;
}
 .navbar-nav .dropdown:hover{
	background-color: rgba(107, 0, 4, 0.8);
 }
 .dropdown-menu {
     position: absolute;
     top: 100%;
     left: 0;
     z-index: 1000;
     float: left;
     min-width: 160px;
     padding: 5px 0;
     margin: 2px 0 0;
     font-size: 14px;
     text-align: left;
     list-style: none;
     background-color: #fff;
     display: none;
     background-clip: padding-box;
     border: 1px solid rgba(0, 0, 0, .15);
     border-radius: 4px;
     box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
 }
 .dropdown-menu01 {
     width: 220px;
     left: -2px;
 }
 .dropdown-item-list {
     padding: 0;
     color: #ff5d5d;
     margin: 0;
     font-size: 16px;
     font-weight: bold;
 }
 .dropdown-item-list li {
    text-align: center;	  
	border-bottom: 1px solid #e8e8e8;
	border-right: solid 2px #ddd;
	
    float: left;
	padding: 0;
 }
 
 .dropdown-item-list li  a {
     display: block;
     padding: 9px !important;
     line-height: 20px !important;
     font-size: 14px !important;
     color: #4a4a4a;
     height: initial;
 }
 .dropdown-item-list li a:hover{
     color: #ff5d5d;
	 
 }
 .dropdown-item-list .col-sm-6{
	 position: relative;
	 min-height: 1px;
	 float: left;
	 padding: 0px;
 }
 .flex-box {
     display: flex;
 }
.dropdown-menu02 {
     width: 536px!important;
 }
 .dropdown-menu02 li{
	
    width: 100%;
 }
 .dropdown-menu03 {
    width: 268px!important;
  }
 .dropdown-menu03 li{
	
    width: 100%;
 }
 .dropdown-menu04 {
    width: 308px!important;
  }
 .dropdown-menu04 li{
	
    width: 49%;
 }
 .late{
	 left: -173px!important;
 }
 .news {
     position: relative;
     padding: 30px 0 0;
     background-color: #f8f2ea;
 }
 .news-slider{	 
	width: 100%;
	position: relative;
	z-index: 1;
    display: block;
    margin-top: -280px;
    margin-bottom: 15px;
	
    cursor: pointer;
 }
 .news-slider h4 {
     position: absolute;
     width: 100%;
     color: #fff;
     text-align: center;
     bottom: 0px;
     background-color: rgba(0,0,0,0.5);
     padding: 15px 0px;
     margin-bottom: 0px;
 }
.news-slider img {
     display: block;
     width: 100%;
 }
 .news-slider .owl-dots {
	position: absolute;
	bottom: 13px;
	right: 0;
	width: 25.33333%;
	margin-top: 0 !important;
	text-align: center;
 }
 
  .owl-dots .owl-dot.active span{
	border: 0px;
	background-color: transparent ;
  }
 .owl-dots .owl-dot.active span:after{
	border-radius: 50%;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border: 2px solid #fff;
	width: 8px;
	height: 8px;
	margin-top: 0px;
	margin-left: 0px;
	 float: left;	
 }
 .news-slider .owl-dot span {
     background-color: #fff ;
 }
  .owl-dots .owl-dot span {
     position: relative;
     width: 7px;
     height: 7px;
     margin: 5px 9px;
	 border: 2px solid #fff;
     background: #fff;
     display: block;
     -webkit-backface-visibility: visible;
     transition: opacity 200ms ease;
     border-radius: 30px;
	 float: left;
 }
.owl-dots .owl-dot span:hover{
background-color: transparent ;
   
}
.news {
   position: relative;
   padding: 30px 0 0;
   background-color: #f8f2ea;
}
.news-slider, .news-list {
    margin-bottom: 15px;
}
.col-md-3 {
    width: 23%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-md-3:first-child{
	padding-left: 0px;
	
}
.col-md-3:last-child{
	padding-right: 0px;
	
}

.news-list .des {
    padding: 15px 15px 25px;
    background-color: #fff;
}
.news-list h5 {
    line-height: 25px;
    margin-top: 0;
    font-family: "SongTi SC";
    font-size: 14px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-list .time {
    height: 10px;
    line-height: 20px;
    border-bottom: 1px solid #e7e7e7;
    color: #9b9b9b;
    text-align: center;
}
.news-list a {
    display: block;
    color: #666;
}
.news-list .time span {
    padding: 0 15px;
    background-color: #fff;
}
.add-list-title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    font-family: sans-serif;
}
.new-add-list ul li:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    margin-top: -4px;
    border: 1px solid #666;
    border-radius: 50%;
    transition: all 0.4s ease-out;
    content: " ";
    transition: all 0.3s ease-in-out;
}
.new-add-list {
    background-color: #fcf9f5;
    padding: 15px 0px;
}
.new-add-list ul li {

	padding: 5px;
	line-height: 1.5;
    padding-left: 15px;
    color: #333;
    position: relative;
    font-family: sans-serif;
}
.new-add-list ul li a {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
	color: #666;
}
.new-add-list ul li a:hover ,.add-list-title a:hover{
     color:rgba(107, 0, 4, 0.8);
	
}
.text-center {
    text-align: center !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
a.newsMore {
    padding: 2px 10px;
	overflow: hidden;
	transition: all 0.4s ease-out;
	box-shadow: 0px 35px 77px -17px rgb(0 0 0 / 0%);
	color: #d38d8d;
	border: solid 1px #d38d8d;
	border-radius: 50px;
	margin: 0 30px;
    display: inline-block;
}
.index-newmore {
    position: absolute!important;
    top: 0px;
    right: 15px;
    font-size: 12px!important;

}
.relative {
    position: relative !important;
}
.red {
    color: #D0021B;
}
.focus {
    position: relative;
}
.section {
    padding-top: 25px;
    padding-bottom: 26px;
}
.category-title {
    width: 65%;
    height: 10px;
    margin: 0 auto 40px;
    color: #bfbfbf;
    text-align: center;
    font-size: 14px;
    letter-spacing: 10px;
    /* border-bottom: 1px solid #e1e1e1; */
}
.i img {
    width: 100%;
	vertical-align: middle;
}
p {
    margin: 0 0 10px;
}
.card {
    position: relative;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.card-focus {
    position: relative;
    padding: 15px 0 15px 15px;
    background-color: #f8f2ea;
}
.col-sm-9 {
	float: left;
    width: 75%;
}
.card-focus:after {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 0;
    height: 6px;
    margin-top: -3px;
    background-color: #d8d8d8;
    z-index: 3;
    content: " ";
}
.focus-list .item.top {
    padding-bottom: 100px;
}
.col-xs-4 {
    width: 31%;
	float: left;
}
.focus-list .item:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #e6dcce;
    z-index: 4;
    content: " ";
}
.focus-list .item {
    position: relative;
    padding: 0 10px;
}
.focus-list .item a .img {
    height: 158px;
    border: solid 1px #ece5db;
}
.focus-list .des {
    padding: 20px 15px 10px;
}
.item p, .notice-list a {
    font-size: 14px;
    font-weight: 700;
}
.focus-list p {
    height: 60px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: justify;
    overflow: hidden;
}
.focus-list a {
    color: #4a4a4a;
}
.card-notice {
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 540px;
    height: 240px;
    padding-top: 32px;
    padding-bottom: 20px;
    background-color: #da6d40;
    border-left: 1px solid #e9e9e9;
    z-index: 9;
}
.card-notice .notice-row{	
	position: relative;
	z-index: 1;
	margin-left: 20px;
    display: block;
}
.owl-item{
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	
    color: #fff;
}
.owl-item .item > div {
    display: block;
    overflow: hidden;
    min-height: 80px;
    padding-right: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.item .i {
    width: 75px;
    height: 75px;
    font-size: 48px;
    border-radius: 100%;
    border: solid 1px #d1d1d1;
    float: left;
    margin-right: 10px;
    color: #d1d1d1;
    line-height: 1.4;
}
.card-notice:after {
    position: absolute;
    top: 0;
    right: -272px;
    width: 0;
    height: 0;
    border: 272px solid transparent;
    border-bottom-width: 0;
    border-top-color: #fff;
    -ms-transform: rotateY(70deg);
    -webkit-transform: rotateY(70deg);
    transform: rotateY(70deg);
    z-index: 0;
    content: " ";
}
.item h1 {
    line-height: 0.8;
    margin-top: 0;
	font-size: 36px;
    margin-bottom: 10px;
	margin: 8px 0;
	
    font-weight: 400;
}
 .item h1 small {
    font-size: 12px;
    color: #fff;
}
.margin-bottom-10 .dot {
    font-size: 12px;
    height: 56px;
	width: 108px;
    float: left;
    font-weight: 700;
}
.learning {
    position: relative;
    background-color: #f8f2ea;
}
.card-learning-frame {
    position: absolute;
    width: 76%;
    height: 380px;
    background-color: #fff;
    border: solid 26px #e1e1e1;
    bottom: 30px;
    left: 6%;
    z-index: 2;
}
.card-learning-1 {
    position: relative;
    height: 267px;
    background-size: auto 100%;
    z-index: 4;
    border-right: solid 6px #dda9a9;
	width: 52.33333333%;
	margin-left: 10%;
    float: left;
    visibility: visible;
    border-top: solid 6px #dda9a9;
    border-bottom: solid 6px #dda9a9;
    background: #fff;
    padding: 0;
}
.card-learning-2 {
    position: relative;
    float: right;
    width: 280px;
    height: 450px;
    z-index: 5;
    background-color: #d38d8d;
    padding: 15px 10px 15px 0;
}
.card-learning-1:after {
    background: url(../img/card-learning-1-corner.svg);
    width: 281px;
    height: 281px;
    display: block;
    top: -7px;
    position: absolute;
	z-index: -1;
    left: -149px;
    background-size: cover;
    content: " ";
}
 .owl-carousel {
    position: relative;
    min-height: 1px;
	
    width: 200.667px;
    float: left;
}
.learning a {
    display: block;
    
    padding: 30px 10px;
    border-left: 1px solid #e5dfcc;
    background-color: #fff;
    color: #4a4a4a;
    font-size: 12px;
}
.learning .time {
    height: 6px;
    line-height: 12px;
    margin-bottom: 26px;
    border-bottom: 2px solid #e5dfcc;
    text-align: right;
    color: #d0021b;
    font-family: "SongTi SC";
    letter-spacing: 2px;
}
.learning .des p {
    
    font-weight: 700;
    overflow: hidden;
	display: inline-block;
	width: 96%;
	vertical-align: bottom;
	height: 100px;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}
.time span {
    padding-left: 20px;
    background-color: #fff;
}
.learning .person {
	
	position: relative;
    margin-bottom: 10px;
}
.learning .item p {
    overflow: hidden;
    display: inline-block;
    width: 96%;
    vertical-align: bottom;
}
.calendar-title {
    height: 12px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    font-family: "SongTi SC";
    font-weight: 700;
}
.calendar-title span {
    padding: 0 15px;
    background-color: #d38d8d;
}

.column {
    position: relative;
    margin: 30px 0 -10px 0;
	height: 600px;
}
.column:before, .column:after {
    position: absolute;
    border: solid 10px #f7eede;
    width: 20%;
    height: 100%;
    top: 0;
    content: "";
    z-index: 1;
}
.column:before, .column:after {
    width: 17%;
}
.column:before, .column:after {
    height: 93%;
}
.column:after {
    border-right: none;
    right: 0;
}
.column-farme1 {
    position: absolute;
    border: solid 16px #edc8bb;
    top: 120px;
    width: 90%;
    height: 50%;
    left: 5%;
}
.column-farme2 {
    position: absolute;
    border-top: solid 30px #d38d8d;
    background-color: #d2dade;
    width: 100%;
    height: 208px;
    bottom: -30px;
    margin-bottom: 96px;
}
.offset-1{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 100px;
	margin-bottom: 80px;
	margin-left: 8.33333333%;
	width: 83.33333333%;
	z-index: 5;
}
.off-item{
    position: relative;
    float: left;
	width: 184px;
}
.off-item:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    border: solid 5px #efc3c3;
    width: 20px;
    height: 20px;
    display: block;
    right: -10px;
}
.off-item .item {
    padding: 0 10px;
}
.off-item .item:after {
    display: block;
    clear: both;
    content: " ";
}
.off-item .item a {
    float: left;
    padding: 0;
    transition: all 0.4s ease-out;
    box-shadow: 0px 10px 20px -17px rgb(0 0 0 / 0%);
    width: 100%;
}
.off-item .ImgCrop {
    height: 190px;
    overflow: hidden;
}
.off-item .img {
    position: relative;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}
.off-item .img p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: "Microsoft YaHei", arial;
    font-weight: bold;
    text-shadow: 0px 0px 7px #000;
    color: #fff !important;
}
.off-item .img img {
    display: block;
    vertical-align: middle;
	width: 190px;
	height: 100%;
	margin-left: -13px;
}
.off-item .info {
    padding: 15px;
    background-color: #fff;
}
.off-item .info p {
    height: 96px;
    line-height: 24px;
    margin-bottom: 0;
    text-align: justify;
    color: #4a4a4a;
    overflow: hidden;
}
.off-item .item:after {
    display: block;
    clear: both;
    content: " ";
}
a.newsMore {
    padding: 2px 10px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgb(0 0 0 / 0%);
	z-index: 10;
}
.more-box{
	margin-top: 300px;
	width: 83.33333333%;
    text-align: center;
    margin-left: 8.33333333%;
    bottom: 30px;
	z-index: 10;
}
.schoolyard {
    position: relative;
    background-color: #f8f2ea;
}
.flex-box1130 {
    justify-content: center;
	
    display: flex;
}
.hall-big {
	border-left: solid 20px #dda9a9;
	border-right: solid 20px #dda9a9;
    margin-top: 100px;
    float: left;
    max-width: 400px;
    width: 41.66666667%;
}
.hall-roof {
    margin-top: -120px;
}
.wxlist { 
    width: 100%;
}
ul.wxlist li:first-child {
    margin: 0;
    font-family: "Microsoft YaHei", arial;
}
ul.wxlist li {
    position: relative;
    margin: 20px;
    margin-left: 30px;
}
ul.wxlist li:first-child a {
    padding: 0;
}
ul.wxlist li a {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgb(0 0 0 / 0%);
}
.ImgCrop1110 {
    width: 100%;
    height: 200px;
    float: none;
	
    margin-right: 15px;
    overflow: hidden;
    display: block;
}
ul.wxlist li:first-child p {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    padding: 0 30px;
    font-size: 18px;
    height: 54px;
    text-shadow: 0px 0px 7px #000;
}
.ImgCrop1 {
    width: 60px;
	    vertical-align: middle;
    height: 60px;
    margin-right: 15px;
	
    float: left;
}
ul.wxlist li p {
    height: 42px;
	margin: 0 0 10px;
}
ul.wxlist li a {
    color: #666;
    display: block;
    padding-right: 10px;
    border-bottom: solid 1px #d6d6d6;
}
.hall-small {
    border-left: solid 10px #dda9a9;
    border-right: solid 10px #dda9a9;
    margin: 250px 30px 60px 30px;
    width: 16.66666667%;
}
.hall-small .hall-roof {
    margin-top: -40px;
}
.hall-right .ImgCrop1 {
    float: right;
    margin: 0 0 0 15px;
}
.quick-link {
    margin-bottom: 30px;
}
.page-header {
    border: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
	margin: 40px 0 20px;
	font-size: 18px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.page-header:before {
    content: "";
    border-bottom: solid 1px #dfdad2;
    display: block;
    top: 10px;
    position: relative;
    z-index: 0;
}
.page-header span {
    background-color: #fff;
    position: relative;
    z-index: 3;
    padding: 0 20px;
}
.quick-link ul .li1119 {
    width: 10%;
    padding: 0 10px 20px;
	text-align: center;
}

.quick-link .container:after {
    content: "";
    border-bottom: solid 1px #dfdad2;
    width: 50%;
    left: 25%;
    position: relative;
    bottom: 0;
}
.quick-link ul li {
    float: left;
}
.quick-link ul .li1119 a {
    width: 100%;
    padding: 0 8px;
    border-radius: 10px;
}
.quick-link ul li a img{
    position: relative;
	width: 52px;
	height: 70px;
}
.quick-link ul li a p {
    margin-top: 10px;
    color: #5f5f5f;
    height: 42px;
    margin-bottom: 30px;
	text-align: center;
}
.footer {
    font-size: 12px;
}
.footer .share {
    background-color: #dfdad2;
    text-align: center;
	height: 45px;
}
.footer .share li {
    display: inline-block;
	height: 45px;
	width: 84px;
}
.footer .share li img{
	margin-top: 10px;
}
.footer .info {
    height: 400px;
}

.footer .info {
    background: url(../img/footDoorBG.svg) left top repeat;
    overflow: hidden;
}
.no-padding {
    padding: 0px !important;
}

.footer .cf {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.cf .tp .col-xs-6  a {
    display: block;
    transition: all 0.3s ease-in-out;
    background: #000;
    position: relative;
}
.cf .tp  .col-xs-6 a img {
    opacity: 0.7;
}
.cf .tp  .col-xs-6 a p {
    position: absolute;
    left: 0;
    top: 40%;
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-family: 'Microsoft YaHei';
}

.col-xs-6 {
	height: 111px;
    width: 40%;
	float: left;
    margin-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
}

.cf .col-xs-6 .tp  a:hover {
    transform: scale(1.03,1.03);
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    transition: all 0.3s ease-in-out;
}
.footer .info-content {
    padding: 55px 35px 0;
    min-height: 400px;
}

.footer .info-content {
    width: auto;
    margin: 0 auto;
    height: 100%;
    padding: 70px 100px 0;
    background: #f8f2ea url(../img/footDoor.svg) center top no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: #4a4a4a;
}
.footer-logo {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    background: url(../img/footer-logo.svg) center center no-repeat;
}
.footer .copyright {
    padding-bottom: 10px;
	font-size: 12px;
}

.footer .info-content p {
    line-height: 20px;
    margin-bottom: 0;
    color: #4a4a4a;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
	width: 280px;
	margin-left: -50px;
}
.footer .address {
    margin-bottom: 20px;
    padding-left: 30px !important;
}
.footer a {
    color: #4a4a4a;
}
.footer .address .text-left{
	text-align: left;
}
.footer .text-left li{
	
	text-align: left;
}
.footer .text-left ul li {
    padding: 5px 0;
}