<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.test.mapper.ReviewMapper">
    <insert id="insertReview">
		insert into `review`
		values(#{id},#{issueId},#{userId},#{reviewTime},#{context},1);
	</insert>

	<select id="listReview" resultType="com.bobo.test.vo.ReviewVo">
		SELECT r.id,
			 u.`name` `userName`,
			 r.review_time 'reviewTime',
			 r.context
		FROM review r
		LEFT JOIN `user` u ON u.id = r.user_id
		where r.status = 1 and r.issue_id = #{id}
	</select>
</mapper>