body{
	margin:  0 auto;
	width: 800px;
	font-family: 宋体;
	font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
	margin: 0;
}
h2,h4{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.main{
	
		background-color: #f8f8f8;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
}
.main .head {
	position: relative;
	height: 60px;
	background-color: #aaffff;
}

.head .logo{
	width: 120px;
	height: 60px;
	float: left;
}
.head ul{
	float: right;
}
.head ul li{
	float: left;
}
.head ul li a:hover{
	background-color: #18aeff;
	color: white;
}
.head ul li  a {	
	position: relative;
	display: block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 40px;
    color: black;
    font-weight: bold;
}
.topImg{
	position: relative;
}
.topImg img{
	width: 100%;
	height: 350px;
}
.content_top {
	
    background: #18aeff;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.content_top .wrap{
    margin: 0 auto;
	width: 80%;
}
.content_top h2 a {
    color: black;
    padding-bottom: 14px;
}
.content_top p {
    font-size: 1em;
    line-height: 1.8em;
    margin: 14px 0px 24px 0px;
}
.content_top span a {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #aaffff;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1em;
    transition: 0.5s ease;
}
.content_top span a:hover{
    background-color: #049387;
    color: white;
	
}
.content_top:after {
    content: '';
    position: relative;
    width: 0;
    height: 0;
    border: 25px solid #FFF;
    border-top: 0 solid rgba(0, 0, 0, 0)!important;
    border-right: 15px solid rgba(0, 0, 0, 0)!important;
    border-left: 15px solid rgba(0, 0, 0, 0)!important;
    left: 0%;
    top: 0px;
    margin-left: -10px;
}
.footer{
	padding: 25px 0 25px 0;
	background: #4b4b4b;
	color: white;
    margin-top: 35px;
	text-align: center;
}
.boxs{
	margin-top: 20px;
}
.boxs .box{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.box .article{	
	border-radius: 5px;
	box-shadow: #c4c1c1 1px 1px 5px 5px;
	height: auto;
	overflow: hidden;
	float: left;
	width: 96%;
}
.article .header{
    float: left;
    width: 200px;
	
    margin-right: 20px;	
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.article .header img {
	width: 100%;
}
.article a{
	color: #000000;
    transition: 0.5s ease;
}
.article .entry-content {
    margin-left: 220px;
	width: 520px;
    margin-top: 5px;
}
.entry-content .entry-title{
	margin: 0 0 5px;
	font-size: 18px;
}
.article a:hover{
	color: #18AEFF;
}
.article .note{
	position: relative;
	font-size: 14px;
    overflow: hidden;
}
.content {
    padding: 50px 0;
}
.content_box{
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
}
.content_box:last-child{
	margin-right: 0;
}
.content_box img {
    width: 100%;
	height: 180px;
}
.content_box a {
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #5F5F5F;
    transition: 0.5s ease;
    padding: 0.3em 0;
    display: block;
}
.content_box p {
    font-size: 0.7em;
    color: rgba(148, 145, 145, 0.84);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 1em 1em 1em;
    line-height: 1.5em;
}
.section-body{
	margin-top: 30px;
}
.col-spacing{
	padding-left: 10px;
	padding-right: 10px;	
	float: left;
	max-width: 30.7%;
}
.card {
    position: relative;
    border: none;
	margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card img {
	
    height: 220px;
    width: 100%;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-title a {
    color: #000;
    text-decoration: none;
}
.card .card-text {
	font-size: 13px;
    color: #666;
    line-height: 26px;
}

.section-title {
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
	text-align: center;
}

.section-title {
    color: #0000ff;
}
.section-content{
	text-align: center;
}
.section-content p {
	width: 450px;
    font-weight: 400;
	margin: 0 auto;
}
.contact form input {
    width: 100%;
    height: 60px;
    border: 1px solid #182C61;
    padding: 0 30px;
    margin-bottom: 20px;
}
.com-6{
    margin-left: 6%;
    max-width: 80%;	
	margin-top: 10px;
	padding-right: 15px;
}
.contact form textarea {
    width: 80%;
	margin: 0 auto;
	
	margin-left: 6%;
    height: 200px;
    border: 1px solid #182C61;
    padding: 17px 30px;
    margin-bottom: 30px;
}
.contact form button:hover {
    background: transparent;
    color: #0055ff;
}

.contact form button {
    background: #0055ff;
    height: 58px;
    margin-left: 40%;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 180px;
    cursor: pointer;
    border: 1px solid #2d136a;
}