.content{
	height: 700px;
}
.bigImg{
	position: absolute;
	top: 120px;
	left: 850px;
}
.bigImg img{
	height: 580px;
}
.middon{
	position: absolute;
	top: 270px;
	width: 100%;
	padding: 50px 300px;
	height: 100px;
	background-color: #00abbe;
}
.middon img{
	width: 100px;
	float: left;
}
.middon h1{
	color: white;
	margin: 0px;
	margin-left: 130px;
	padding: 0;
	font-weight: 300;
} 
.middon .con{
	width: 400px;
}
.middon p{
	color: white;
	margin-left: 130px;
}