.bigImg {
	height: 250px;
	width: 100%;
}
.bigImg img{
	max-width:100%;
}
.content{
	padding-bottom: 100px;
}
.content .headline{
	width: 100%;
	height: 340px;
	margin: auto;
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: "微软雅黑";
	font-weight: 600;
}
.content .tiite{
	width: 100%;
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	margin: 20px 0px;
}
.content p{
	font-size: 18px;
	width: 100%;
	text-align: center;
}
.content .imgGroup{
	margin: 100px 20px 50px 20px;
}
.content .imgGroup img{
	width: 19.6%;
}

.content .inform{
	margin: 0px 130px;
	width: 630px;
	
} 
.content .inform .informImg{
	float: left;
	width: 300px;	
}
.content .inform img{
	width: 300px;
}
.content .inform .tag{
	float: left;
	margin-top: 27px;
	margin-left: 17px;
	height: 29px;
	line-height: 29px;
	width: 78px;
	text-align: center;
	font-size: 13px;
    background: #21b1fb;
	color: white;
}
.content .inform .smallTitle h2{
	float: left;
	margin-top: 7px;
	margin-left: 17px;
}
.content .inform .details{
	float: left;
	
}
.content .inform .details p{
	margin-top: 7px;
	margin-left: 17px;
	font-size: 16px;
	text-align: left;	
}
.informationImg {
	position: relative;
	margin-left: 900px;
}
.informationImg img{
	width: 300px;
}
.content .left{
	
	margin-left: 17px;
		float: left;
}
.content .right{
	
	margin-left: 17px;
		float: left;
}