.content {
	padding: 0px 250px;
}
.bigImg img{
	width: 100%;
}

.content p {
	font-size: 18px;
	padding: 0px 10px;
}
.tiite{
	width: 100%;
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	margin: 30px 0px;
	margin-top: 80px;
}
.trait{
	height: 400px;
    	width: 1000px;
}
.trait img{
	float: left;
}
.trait h2{
	margin-left: 20px;
	margin-top: 80px;
	color: #00BFFF;
	float: left;
}
.trait p{
	float: left;
}