.content_inner .s_type{
    padding: 30px 0;
    border-radius: 4px;
    overflow: hidden;
}
.content_inner .s_type table{
    width: 100%;
    border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-radius: 4px;
    line-height: 52px;
    font-size: 14px;
    color: #555555;
}
.content_inner .s_type table .row1 td,.content_inner .s_type table .row1 th{
    border-bottom: 1px solid #ddd;
}
.content_inner .s_type table th{
    width: 90px;
    text-align: center;
    font-weight: 600;
}
.content_inner .s_type table td{
    border-left:1px solid #ddd;
    
}
.content_inner .s_type table td a{
    padding: 0 10px;
}
.content_inner .s_type table td a:hover{
    text-decoration: underline;
}
.content_inner .s_type table .row2{
    background:#F3F4F4;
}
.content_inner .s_detail{
    overflow: hidden;
}
.content_inner .s_detail .sort{
    float: left;
    color: #999999;
    font-size: 14px;
}
.content_inner .s_detail .sort a{
    padding: 3px 10px;
    margin: 0 5px;
    border: 1px solid #D6D6D6;
}
.content_inner .s_detail .sort span{
    font-weight: 600;
}
.content_inner .s_detail .amount{
    float: right;
    font-size: 14px;
}
.content_inner .s_detail .amount span{
    color:#999;
}
.content_inner .s_product{
    padding:50px 0;
    position: relative;
}
.content_inner .s_product ul {
    overflow: hidden;
}
.content_inner .s_product ul li{
    float: left;
    width: 245px;
    margin-bottom:10px;
    margin-right: 30px;
}
.content_inner .s_product ul li.common_prduct{
    padding-top: 0;
}
.content_inner .s_product ul li.common_prduct .pic{
    width:100%;
}
.content_inner .s_product ul li.common_prduct .s_content{
    text-align: center;
    padding-top:20px;
    font-size: 12px;
    font-weight: 700;
    color: #303030;
}
.content_inner .s_product ul li.common_prduct .s_content span{
    color: #CE2B2B;
    line-height: 40px;
}
.content_inner .s_product .page{
    position: absolute;
    bottom: 20px;
    right: 15px;
}
.content_inner .s_product .page a{
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px

}
.content_inner .s_product .page span{
    color: #A3ABC2;
}
.content_inner .s_product .page a.cur{
    background:#9DAFB8;
    color: #fff
}
