<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>帮助</title>
        
        <link rel="stylesheet" href="../css/bootstrap.min.css" >
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/stisla.css">
<link rel="stylesheet" href="../css/responsiveslides.css">
    </head>
    <body class="home-hostio" id="home-hostio">
	<div id="page" class="hfeed site layout-fullwidth">
		<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
	                        <div class="site-navigation">
	                            <nav id="main-navigation" class="main-navigation">
	                                <div class="menu-menu-1-container">
	                                    <ul id="primary-menu" class="menu">
	                                        <li><a style="color: red;" href="../index.html">首页</a></li>
	                                        <li><a href="#focus">焦点人物</a></li>
	                                        <li><a href="#lookBack">赛事回顾</a></li>
	                                    </ul>
	                                </div>
	                            </nav>
	                        </div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="#">登录</a>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="#">注册</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
			
    <div class="breadcrumb-hostio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content">
                        <h2>Contact</h2>
                        <ul>
                            <li>
                                <a href="../index.html">index</a>
                            </li>
                            <li>
							>&nbsp;&nbsp; <a href="#"> contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="row justify-content-center">	
                <div class="col-md-8 col-lg-6 col-xl-6">	
                    <div class="bestsite-head text-center mb-60">
                        <div class="section-title">
                            <h2 style="font-weight: 500;">与我们联系</h2>
                        </div>
                        <div class="section-content">
                            <p>在下方输入您的名字和邮箱地址，然后将您对于本站的看法发送给我们，我们将尽快回复您。</p>
                        </div>
                    </div>
                </div>		
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <form>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="text" placeholder="name">
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="email" placeholder="address">
                                    </div>
                                </div>
                                <textarea placeholder="Write what you want to say..."></textarea>
                                <button type="submit">发送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	</div>
	<div id="footer">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
	        <div class="row">
	            <div class="col-md-4">
	                <h3><bold>Address</bold></h3>
	                <h5>福建省厦门市集美区xxx号</h5>
	            </div>
	            <div class="col-md-4">
	                <h3><bold>Send Us A Message:</bold></h3>
	                <h5>xxx@qq.com</h5>
	            </div>
	            <div class="col-md-4">
	                <h3><bold>QQ：</bold></h3>
	                <h5>xxxxxxxxxxxx</h5>
	            </div>
			</div>
		</div>
		<div class="contact">
			<div class="container">
				<a href="#">寻求帮助吗?</a>
			</div>
		</div>
	</div>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		$(function(){ 
			$(".navbar-toggler").click(function(){
				$("#navbarNav").toggle("collapse")
			})
		})
		
		
	</script>

</body>
</html>

