<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../css/common.css" type="text/css">
	<link rel="stylesheet" href="../css/stisla.css" type="text/css">
	<title>中国冰球未来可期</title>
	<script type='text/javascript' src='../js/jquery-3.4.1.js'></script>
	</head>
	<body>
	<div id="page" class="hfeed site layout-fullwidth">
		<div id="masthead" class="hea site-header normal-header header-one">
	        <div class="visible-lg visible-md">
	            <div class="nav-section">
	                <div class="container">
	                    <div class="nav-section-wrap">
	                        <div class="site-navigation">
	                            <nav id="main-navigation" class="main-navigation">
	                                <div class="menu-menu-1-container">
	                                    <ul id="primary-menu" class="menu">
	                                        <li><a style="color: red;" href="">首页</a></li>
	                                        <li><a href="#focus">焦点人物</a></li>
	                                        <li><a href="#lookBack">赛事回顾</a></li>
	                                    </ul>
	                                </div>
	                            </nav>
	                        </div>
	
	                        <div class="nav-icons pull-right">
	                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
	                                <div class="header-search-wrapper">
	                                    <form method="get" class="search-form" action="/">
	                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="#">登录</a>
	                        </div>
	                        <div class="nav-icons pull-right">
	                            <a href="#">注册</a>
	                        </div>
	
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		
		<div class="image-slider">
			<!-- Slideshow 1 -->
				<video  class="rslides" id="slider1" style="margin-left: 60px;"  controls>
					  <source src="../img/mda-nbq9q3n7jpkn11gj.mp4" type="video/mp4">
					   您的浏览器不支持Video标签。
				</video>
		</div>
		
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>加拿大芬兰成大赢家 中国冰球未来可期</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						男冰赛场逆袭与失落并存：斯洛伐克创历史摘铜，芬兰自1960年以来首度夺金，加、美双双止步八强；女冰赛场感动与荣耀同在：加拿大传奇波林连续4届冬奥会决赛进球助枫叶之国“复仇”美国夺冠，芬兰女队第四次拿到冬奥会女冰铜牌。</p>
					<p>
						中国男女冰首次携手征战冬奥，女冰取两胜，男冰面对世界顶级球队顽强拼搏赢得尊重。半个月内，五棵松体育中心与国家体育馆这两座双奥场馆见证了冰球历史上极为特殊的一届冬奥会。</p>
					<p>
						15日晚，中国男冰以2∶7再次不敌加拿大队，结束了球队历史首次冬奥会之旅，几天前，中国女冰止步小组赛。此前中国女队曾经三次参加冬奥会，最好成绩是在长野冬奥会上的第四名，而男队则从未参加过冬奥会。</p>
					<p>
						年轻队员多、缺乏大赛经验，是中国女冰未能更上层楼的重要原因。在小组赛中，女冰依次对阵捷克、丹麦、日本、瑞典四支球队，并战胜了丹麦与日本队，其中面对世界排名第六的日本队，中国女冰表现出极为顽强的斗志，末节扳平、“点球”决胜，堪称高光时刻。</p>
					<p>
						世界排名第32位的中国男冰，小组赛对手美国、德国和加拿大均为世界排名前五的球队。三战三负，是与世界顶级球队之间存在差距的客观体现。在对阵德国队的小组赛上，中国队在0:3落后的情况下奋起直追，最终以2:3不敌对手，前锋福帅在第二节打入了中国男冰在冬奥会参赛史上的首粒进球。正如男冰主教练赞那塔所说，对于首次亮相奥运赛场的中国男冰来说，此次参赛是一次特别宝贵的经历，奥运会是一个大舞台，不仅能够让队员们成长，更能够让中国的冰球文化上一个新台阶。</p>
					<p>
						芬兰冰球队在决赛上演“让一追二”，历史性地逆转击败俄奥队。新科冠军芬兰队自1960年以来参加了每一届冬奥会，之前最佳成绩是曾在1988年、2006年冬奥会上夺得银牌。在北京，芬兰人终于圆梦，把自己写进了冬奥会冰球历史的冠军名单上。</p>
					<p>
						两天前的半决赛，俄罗斯奥委会队与瑞典队鏖战至“点球大战”第8轮才分胜负，也许这漫长而惊险的半决赛让俄罗斯人消耗了太多的体力，最终俄奥队决赛失利，四年前的平昌冬奥会冠军无缘卫冕。</p>
				</div>
			</div>
		</div>
		
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		$(function(){ 
			$(".navbar-toggler").click(function(){
				$("#navbarNav").toggle("collapse")
			})
		})
		
		
	</script>

</html>
