<!DOCTYPE html>
<head>
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>列表页</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/stisla.css">
<link rel="stylesheet" href="../css/responsiveslides.css">
<style>

.rslides{
	width: 100%;
	position:relative;
	z-index:3;
}
.rslides img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	margin:auto;
	z-index: -1;
	*zoom:1;
}
.rslides:before {
	content: "";
	display: inline-block;
	padding-bottom: 100%;
	width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
	vertical-align: middle;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg main-navbar">
	<div class="container-fluid">			
	  <a class="navbar-brand" href="#">
	  </a>
	  <button class="navbar-toggler" type="button">
		
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		  
		  <div class="mr-auto"></div>
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="../index.html">首页</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="#blog">重要人物</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link smooth-link" href="#history">重要经过</a>
		  </li>
		</ul>
		<form class="form-inline">
			<a href="login.html" class="btn smooth-link align-middle btn-primary">登录</a>
		</form>
		<form class="form-inline">
			<a href="registered.html" class="btn smooth-link align-middle btn-primary">注册</a>
		</form>
	  </div>
  </div>
</nav>

<div class="image-slider">
	<ul class="rslides" id="slider1" style="background-image: url(../img/slider1.jpg);background-repeat: no-repeat;background-size: 100% 100%;" >
	  </ul>
</div>
	<div class="content">
		<section class="padding bg-grey" id="blog">
	<div class="container">
		<h2 class="section-title">重要人物</h2>
		<div class="section-body">
			<div class="row col-spacing">
				<div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_01.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">杨根思</a></h4>
						<p class="card-text">1950年11月29日，杨根思在坚守长津湖畔1071.1高地东南侧小高岭战斗中，率领三排打退美军八次进攻，在最后只剩下他一人时，毅然抱起炸药包冲向敌群，与敌人同归于尽，年仅28岁。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
			  </div>
			  <div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_02.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">王兆才</a></h4>
						<p class="card-text">1951年6月在坚宁朝鲜鸡雄山战斗中，带领一个排先后击退美军、南朝鲜军十二次进攻。自己身负重伤仍坚持战斗，一人毙敌五十余人，守住了主峰阵地。回国后，任营长、团长、副师长。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
				</div>
				<div class="col-12 col-md-6 col-lg-4">
					<article class="card">
					  <img class="card-img-top" src="../img/img_03.jpg" alt="Article Image">
					  <div class="card-body">
						<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">詹大南</a></h4>
						<p class="card-text">抗美援朝二次战役中，詹大南率部全歼美军1个加强团（号称“北极熊团”），创造了一次战斗全歼美军1个加强团的模范战例。后迂回，80师两个团处境及为不利。最终安全归建。</p>
						<div class="text-right">						    	
							<a href="#" class="card-more" data-toggle="read" data-id="1">了解更多</a>
						</div>
					</div>
				  </article>
			  </div>
			</div>	
		</div>
		
	</div>
</section>

			<div class="specials" id="history">
				<div class="wrap">
					<div class="specials-heading">
						<h3>长津湖重要经过</h3>
					</div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="../img/img_04.jpg" height="220" title="image-name" />
							<a href="#">围堵长隘路</a>
							<p>11月27日傍晚，志愿军10万大军已经隐藏在朝鲜北部广袤的山地和丛林当中了，20军位于长津湖西侧；27军位于长津湖北部和东北部。两军分别以陆战1师两个团和第7师的31团级战斗队为主攻目标，后对下碣隅里进行围攻，继而在从下碣隅里至兴南的一条被称为“长隘路”的通道上展开围追堵截。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_05.jpg" height="220"  title="image-name" />
							<a href="#">战斗打响</a>
							<p>11月27日夜。美陆战第1师和美步兵第7师，当时正沿着一个山间的小路行进，整个队形成柱状，延伸达50公里。山林中忽然传出惊天动地的军号声和呐喊声，20军、27军向美军发起猛攻，10万志愿军将士以迅雷不及掩耳之势扑向美军，美军在毫无准备的情况下，遭遇到意想不到的攻击。在第二天的早上，美7师和陆战1师被九兵团分割成了5个部分。</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="../img/img_06.jpg" height="220"  title="image-name" />
							<a href="#">全歼北极熊团</a>
							<p>11月30日，27军集中两个师5个团的兵力由27军副军长兼80师师长詹大南统一指挥，并使用全军所有炮兵，围攻新兴里的美7师31团。这是朝鲜战争中，志愿军唯一一次成建制地全歼美军一个团的光辉战例，但与此同时27军80师和81师也付出了巨大代价，伤亡及非战斗减员高达1万人，全军冻伤高达22%。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_07.jpg" height="220" title="image-name" />
							<a href="#">美军突破包围</a>
							<p>12月1日，当第26军在距离合洼里还有80公里的时候，美陆战1师终于突破了志愿军第20军的包围，开始向南撤退。9兵团总部随即命令第20军余部：追击美陆战1师，减缓他们撤退的速度，缠住他们，为第26军争取时间，为最终歼灭美陆战1师创造机会。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_08.jpg" height="220"  title="image-name" />
							<a href="#">美军撤退</a>
							<p>12月5日，美第10集团军军长阿尔蒙德向守在下碣隅里的史密斯下令：“尽快撤退到咸兴地区。”当日晚，下碣隅里所有的美军火炮开始向两侧山地猛轰。6日清晨，大撤退开始。但美军也没忘记在逃跑前彻底毁灭下碣隅里这个供给基地。美军先用炸药炸，然后用推土机碾一遍，最后将堆积如山的食品、衣服、弹药泼上汽油烧掉。</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="../img/img_08.jpg" height="220" />
							<a href="#">长津湖战役结束</a>	
							<p>1950年12月24日，亚洲时间的平安夜，美第10军从兴南港装船撤离，次日志愿军占领兴南，历时近一个月的长津湖战役，抗美援朝二次战役东线作战，同时也是整个二次战役落下帷幕。</p>
						</div>
						<div class="clear"> </div>
					</div>
			    </div>
			</div>	
			
			
		</div>
	<div id="footer">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
            <div class="row">
                <div class="col-md-4">
                    <h3><bold>Address</bold></h3>
                    <h5>福建省厦门市集美区xxx号</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>Send Us A Message:</bold></h3>
                    <h5>xxx@qq.com</h5>
                </div>
                <div class="col-md-4">
                    <h3><bold>QQ：</bold></h3>
                    <h5>xxxxxxxxxxxx</h5>
                </div>
			</div>
		</div>
		<div class="contact">
			<div class="container">
				<a href="#">寻求帮助吗?</a>
			</div>
		</div>
	</div>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
		let count = 2
		$(function(){ 
			setInterval(function(){
				$(".rslides").css("background-image","url(../img/slider"+ count+ ".jpg)");
				count = count >= 3 ? 1 : count + 1;
			},3000);
		
			$(".navbar-toggler").click(function(){
				$("#navbarNav").toggle("collapse")
			})
		})
		
	</script>
</body>
</html>