<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div id="masthead" th:fragment="hea" class="hea site-header normal-header header-one">
        <div class="visible-lg visible-md">
            <div class="nav-section">
                <div class="container">
                    <div class="nav-section-wrap">
                        <div class="site-navigation">
                            <nav id="main-navigation" class="main-navigation">
                                <div class="menu-menu-1-container">
                                    <ul id="primary-menu" class="menu">
                                        <li><a th:href="@{/}">社区首页</a></li>
                                        <li th:each="classes:${session.classes}"><a th:href="@{/ify(cm=${classes.getIfy_name()})}" th:text="${classes.getIfy_name()}"></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="nav-icons pull-right">
                            <div class="header-search"> <a href="#" style="width: 30px;" class="header-search-trigger" title="搜索本站">搜索</a>
                                <div class="header-search-wrapper">
                                    <form method="get" class="search-form" action="/">
                                        <input type="search" class="search-field" placeholder="请输入您搜索的关键字" value="" name="s" data-swplive="true" /></form>
                                </div>
                            </div>
                        </div>
                        <div th:if="${#strings.isEmpty(session.user)}" class="nav-icons pull-right">
                            <a th:href="@{/login}">登录</a>
                        </div>
                        <div th:if="${#strings.isEmpty(session.user)}" class="nav-icons pull-right">
                            <a th:href="@{/registered}">注册</a>
                        </div>
                        <div th:if="${session.Status == '管理员'}" class="nav-icons pull-right">
                            <a th:href="@{/journalism}">管理站点</a>
                        </div>
                        <div th:if="${session.Status == '用户'}" class="nav-icons pull-right">
                            <a th:href="@{/journalism}">管理文章</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="footer" class="footer site-footer footer-one">
        <div class="footer-bottom">
            <div class="container">
                <nav class="footer-navigation">
                    <ul id="footer-menu" class="menu">
                        <li id="menu-item-2325" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2325"><a
                                target="_blank" rel="noopener noreferrer" href="#">友情链接</a></li>
                        <li id="menu-item-3557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3557"><a
                                target="_blank" rel="noopener noreferrer" href="#">校园招生</a></li>
                        <li id="menu-item-3551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3551"><a
                                target="_blank" rel="noopener noreferrer" href="#">打赏</a></li>
                        <li id="menu-item-2428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-2428"><a
                                target="_blank" rel="noope ner noreferrer" href="#">隐私条例</a></li>
                    </ul>
                </nav>
                <div class="copyright-text"> www.类语雀.com 2021 - All Rights Reserved.</div>
            </div>
        </div>
    </div>

    <div th:fragment="manage" class="manage" style="width: 300px;padding: 15px;float: left;">

        <header class="entry-header styled">
            <a th:href="@{/journalism}">
                <h1>
                    文章管理
                </h1>
            </a>
        </header>
        <header class="entry-header styled">
            <a th:href="@{/manage}">
                <h1>
                    发布文章
                </h1>
            </a>
        </header>
        <header th:if="${session.Status == '管理员'}" class="entry-header styled">
            <a th:href="@{/classify}">
                <h1>
                    文章类型管理
                </h1>
            </a>
        </header>
        <header  th:if="${session.Status == '管理员'}" class="entry-header styled">
            <a th:href="@{/usermanage}">
                <h1>
                    用户管理
                </h1>
            </a>
        </header>

    </div>

</html>