<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>攻略中心</title>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/flaticon.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg main-navbar">
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				  
				  <div class="mr-auto"></div>
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="../index.html">首页</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="gl.html">攻略中心</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="yxjs.html">游戏介绍</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="xb.html">英雄资料</a>
				  </li>
				</ul>
				<form class="form-inline">
					<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
				</form>
			  </div>
		  </div>
		</nav>
		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1">
			  <li><img src="../img/slider4.jpg" alt=""></li>
			  <li><img src="../img/slider2.jpg" alt=""></li>
			  <li><img src="../img/slider3.jpg" alt=""></li>
			  <li><img src="../img/slider1.jpg" alt=""></li>
			</ul>
		</div>
		
		
		<!---start-content---->
				<div class="content">
					<div class="wrap">
						<div class="about-us">
							 <div class="about-header">
							    <h3>基本玩法介绍</h3>
							 </div>
							<div class="about-info">
								<p>王者荣耀作为一个MOBA游戏，跟其他的电脑上的手机上的MOBA游戏规则是差不多的，通过控制英雄，打兵线打防御塔来进行游戏，一般是五个人对阵五个人，讲究团队的合作哦。
								英雄和其他的MOBA游戏一样，都有分，比如射手和法师，这个大家都知道，但是每个游戏里的英雄的技能都是不一样的，找个时间还是要去王者荣耀的训练模式里一个一个熟悉一下。
								跟英雄一样的是，我们还要知道怎么出装备，装备游戏里不需要回基地就可以买，当然需要金币的，这个金币嘛，打小兵就可以拿到，知道自己玩的是什么英雄，出什么类型的装备哦。
								获胜这个东西倒是和其他的moba游戏一样的，只要击败王者荣耀对局当中的对方的大本营，我们就可以拿到胜利了，然后可以获得丰富的经验和金币，帮助我们购买更多的英雄。
								</p>
							</div>
						</div>
					</div>
					    <div class="specials">
					    	<div class="wrap">
							  <div class="specials-heading">
								<h3>攻略视频</h3>
							</div>
							<div class="specials-grids">
								<div class="special-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video01.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>
									<a href="#">孤影婉儿秀操作</a>
								</div>
								<div class="special-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video02.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>
									<a href="#">露娜一打四</a>
								</div>
								<div class="special-grid spe-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video03.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>	
									<a href="#">老夫子极限一打三</a>
								</div>
							<div class="specials-grids">
								<div class="special-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video04.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>
									<a href="#">无敌扁鹊疯狂五杀</a>
								</div>
								<div class="special-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video05.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>
									<a href="#">露娜开局五杀</a>
								</div>
								<div class="special-grid spe-grid">
									<video width="320" height="240" controls>
									  <source src="../video/video06.mp4" type="video/mp4">
									  您的浏览器不支持 video 属性。
									</video>	
									<a href="#">马超开局超神</a>
								</div>
								<div class="clear"> </div>
							</div>
					  </div>
					</div>
				</div>
		
		
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="templates/contact.html">Looking for help?</a>
				</div>
			</div>
		</div>
		
		
		
		
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/popper.min.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<script src="../js/jquery.meanmenu.min.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/responsiveslides.min.js"></script>
			  <script>
				    $(function () {
				      $("#slider1").responsiveSlides({
				        maxwidth: 2500,
				        speed: 600
				      });
				});
			  </script>
	</body>
</html>