<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>英雄资料</title>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/flaticon.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg main-navbar">
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				  
				  <div class="mr-auto"></div>
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="../index.html">首页</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="gl.html">攻略中心</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="yxjs.html">游戏介绍</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="xb.html">英雄资料</a>
				  </li>
				</ul>
				<form class="form-inline">
					<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
				</form>
			  </div>
		  </div>
		</nav>
	<ul class="rslides" id="slider1">
	  <li><img src="../img/slider4.jpg" alt=""></li>
	  <li><img src="../img/slider2.jpg" alt=""></li>
	  <li><img src="../img/slider3.jpg" alt=""></li>
	  <li><img src="../img/slider1.jpg" alt=""></li>
	  </ul>
		
		<div class="content">
			<div class="specials">
				<div class="wrap">
					<div class="specials-heading">
						<h3>最新消息</h3>
					</div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="../img/img_07.jpg" title="image-name" />
							<a href="#">夏洛特来袭</a>
							<p>夏洛特是日落海久负盛名的贵族家族中，最为优秀的继承者。她以精湛无匹的剑术，在过往所有贵族间的战斗中，毫无悬念地赢取胜利，并将火焰样的红玫瑰留给败者，作为优雅的结束礼。</p>
						</div>
						<div class="special-grid">
							<img src="../img/img_08.jpg" title="image-name" />
							<a href="#">阿古朵上线</a>
							<p>野性率真的山孩阿古朵，和她最好的朋友巨兽球球，是三分之地战场上破坏力惊人的生力军。从幼年开始的密林生活让她善用植物的特性，并通晓与野兽的相处之道。她总是出其不意的在战场各处弹射出令人惊奇的种子弹药，同时，只要她一声令下，那些被她帮助过的动物们就会一拥而上，让他们见识见识大山的力量。</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="../img/img_09.jpg" title="image-name" />
							<a href="#">新英雄镜上线</a>
							<p>镜出身在古老的神职者家族，从小接受系统严格的训练。她的父母在任务中意外失踪，留下了潜伏暗处的敌人和年幼无知的弟弟。一夜之间，家族的使命和长姐的责任落在镜的身上。但更为艰险的旅程才刚刚开始。无论未来等待她的是什么，她都将与过去一样，扛起重任，砥砺前行。</p>
						</div>
						<div class="clear"> </div>
					</div>
			    </div>
			</div>	
			
				</div>
				<!---End-content---->
				
				<!---start-footer---->
				<div class="content">
					<div class="wrap">
						<div class="about-us">
							 <div class="about-header">
							    <h3>主要英雄介绍</h3>
							 </div>
							<div class="section-body">
								<div class="row col-spacing">
									<div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_01.jpg" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">不知火舞</a></h4>
											<p class="card-text">不知火流，扶桑最古老的忍术流派之一。当家不知火半藏，亦是德高望重的宗师。他唯一的继承人和孙女，名为不知火舞。不知火舞的伤害很高，需要良好的走位。她可以利用自己的二技能在远处不断消耗敌人。</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
								  </div>
								  <div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_04.png" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">公孙离</a></h4>
											<p class="card-text">公孙离，是手游《王者荣耀》中的一名射手型英雄角色，拥有很强的敏捷力是她在游戏中重要的体验，原型是唐朝女艺术家公孙大娘。阿离手持纸伞时，技能可连续释放两次，在短时间内让敌人叠满4次印记，打出爆发伤害。</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
									</div>
									<div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_02.jpg" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">吕布</a></h4>
											<p class="card-text">吕布最初被定位为战士，在几次版本更新后，吕布的定位是战士和坦克双重定位，吕布能抗能打，有减速有控制有回复，而且还能收割，配合闪现更有令人想不到的效果，在5V5经典战场中是令敌人闻风丧胆的存在</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
								  </div>
								  <div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_05.jpg" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">花木兰</a></h4>
											<p class="card-text">花木兰操作华丽也难以操作。花木兰的双剑灵活，重剑高爆发，通过双形态的切换，实现攻速和伤害并存。同时花木兰也善于切入或者逃离战场，不至于陷入困境。</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
									</div>
									<div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_03.jpg" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">孙悟空</a></h4>
											<p class="card-text">孙悟空近战输出强力，团控自然不多说，难能可贵的就是猴子无论中后期的输出对于脆皮都是很可怕的（前期怕被控制），有逃生有突进有团控有输出，非常全能，对团队很有帮助。</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
								  </div>
								  <div class="col-12 col-md-6 col-lg-4">
										<article class="card">
										  <img class="card-img-top" src="../img/img_06.jpg" alt="Article Image">
										  <div class="card-body">
											<h4 class="card-title"><a href="#" data-toggle="read" data-id="1">武则天</a></h4>
											<p class="card-text">武则天，是腾讯手游《王者荣耀》中的一个法师型英雄角色。输出和辅助能力极强，但是生存能力较低。前期利用手长的优势线上消耗，如果兵线太深就去自家野区刷野。</p>
											<div class="text-right">						    	
												<a href="#" class="card-more" data-toggle="read" data-id="1">go to understand</a>
											</div>
										</div>
									  </article>
									</div>
								</div>	
							</div>
						</div>
					</div>
					</div>
				</div>
		
			<div id="footer">
				<div class="container">
					<h3 class="text-center">联系我们</h3>
			        <div class="row">
			            <div class="col-md-4">
			                <h3><bold>Address</bold></h3>
			                <h5>福建省厦门市集美区xxx号</h5>
			            </div>
			            <div class="col-md-4">
			                <h3><bold>Send Us A Message:</bold></h3>
			                <h5>xxx@qq.com</h5>
			            </div>
			            <div class="col-md-4">
			                <h3><bold>QQ：</bold></h3>
			                <h5>xxxxxxxxxxxx</h5>
			            </div>
					</div>
				</div>
				<div class="contact">
					<div class="container">
						<a href="templates/contact.html">Looking for help?</a>
					</div>
				</div>
			</div>
			
			
			
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/popper.min.js"></script>
		<script src="../bootstrap/js/bootstrap.min.js"></script>
		<script src="../js/jquery.meanmenu.min.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/responsiveslides.min.js"></script>
		<script>
			$(function () {
			  $("#slider1").responsiveSlides({
				maxwidth: 2500,
				speed: 600
			  });
		});
		</script>
	</body>
</html>