<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>游戏介绍</title>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/flaticon.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg main-navbar">
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				  
				  <div class="mr-auto"></div>
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="../index.html">首页</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="gl.html">攻略中心</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="yxjs.html">游戏介绍</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link smooth-link" href="xb.html">英雄资料</a>
				  </li>
				</ul>
				<form class="form-inline">
					<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
				</form>
			  </div>
		  </div>
		</nav>
		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1">
			  <li><img src="../img/slider4.jpg" alt=""></li>
			  <li><img src="../img/slider2.jpg" alt=""></li>
			  <li><img src="../img/slider3.jpg" alt=""></li>
			  <li><img src="../img/slider1.jpg" alt=""></li>
			</ul>
		</div>
				<div class="content">
					
					<div class="about_top_wrapper about-page" id="about-section">
					    <div class="container">            
					        <div class="row">
					            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
					                <div class="title">
					                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">关于王者荣耀</h2>
					                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">《王者荣耀》是腾讯第一5V5团队公平竞技手游，国民MOBA手游大作！5V5王者峡谷、公平对战、还原MOBA经典体验；契约之战、五军对决、边境突围等，带来花式作战乐趣！10秒实时跨区匹配，与好友开黑上分，向最强王者进击！多款英雄任凭选择，一血、五杀、超神，实力碾压，收割全场！敌军即将到达战场，王者召唤师快来集结好友，准备团战，就在《王者荣耀》！</p>
					                  
					                 </div>
					            </div>
					            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
									<img src="../img/01.jpg" alt="" class=" img_a1 img-fluid">
								</div>
					        </div>
					    </div>
					</div>
					
						<!---End-services---->
						<div class="specials">
						   <div class="wrap">
							<div class="specials-heading">
							  <h3>新手指南</h3>
							</div>
							<div class="specials-grids">
								<div class="special-grid">
									<a href="#">什么是AD？ 什么是ADC？ 什么是GANK？</a>
									<p> AD：AD是指物理输出英雄，一般是物理输出近战英雄，其中AD装备就是指物理输出装备。ADC: 在《王者荣耀》ADC就是游戏中定位射手的英雄，如后羿、虞姬、孙尚香等，他们的特点就是输出伤害高，在后期占据了一半的全队主要输出，但是生存能力差，一个不小心就很容易被秒杀的存在，需要玩家精湛的走位技术，良好的战斗意识，不断的通过走A来进行输出。 GANK: GANK是英文翻译过来的，多人有目的的抓人，《王者荣耀》是指游戏中玩家组织1个或以上的队友对特定的某个对手或者某路进行游走抓人。在双方对线发育势均力敌的情况下，GANK的成功率就往往影响着整个比赛胜利天枰的倒向。</p>
								</div>
								<div class="special-grid">
									<a href="#">不知道选什么英雄和技能</a>
									<p>对于新手来说，选英雄当然是选自己最熟悉，玩的最多的英雄胜率会越高了，选简单的肉盾/战士生存率会高点 。但是，如果你一直只玩几个英雄，那你肯定只能停留在新手阶段，因为你不了解其他英雄，就不清楚在对线的时候，应该在什么时候主动出击，什么时候回避对手。</p>
								</div>
								<div class="special-grid spe-grid">
									<a href="#">不知道选什么技能</a>
									<p>其实正确选择召唤师技能，应该是根据你所选择的英雄来决定。比如说项羽，由于被动技能是当生命降低到30%，就会在6秒内回复24%最大生命值，这个效果注定项羽出增加血量的装备，如果召唤师技能带治疗，立刻回复15%的生命，充分发挥项羽血多的特征。</p>
								</div>
								<div class="clear"> </div>
							</div>
					   </div>
					</div>	
				</div>
				<!---End-content---->
				<!---start-footer---->
				
							
					</div>
					</div>
				</div>
				<!---End-footer---->
		
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="templates/contact.html">Looking for help?</a>
				</div>
			</div>
		</div>
		
		
		
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/jquery.meanmenu.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="../js/responsiveslides.min.js"></script>
	<script>
		$(function () {
		  $("#slider1").responsiveSlides({
			maxwidth: 2500,
			speed: 600
		  });
	});
	</script>
	</body>
</html>