<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>美图欣赏</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css" >
        <link rel="stylesheet" href="../css/inner-pages.css">
        <link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>
		
		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="#">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>
    <div class="breadcrumb-hostio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content">
                        <h2>美图欣赏</h2>
                        <ul>
                            <li>
                                <a href="../index.html">index</a>
                            </li>
                            <li>
							>&nbsp;&nbsp; <a href="#"> 美图欣赏</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" style=" padding: 120px 0;">
		<div class="container">
				<ul>
					<div class="row">
						<li class="col-md-6 mt40"><a href="../img/8f9b56bf681bcfcb3673b255af0a97ff.jpeg"><img width="300" height="300" src="../img/8f9b56bf681bcfcb3673b255af0a97ff.jpeg"></a></li>
						<li class="col-md-6 mt40"><a href="../img/18cbfdb0ed097b6dc14b289b6c6239a6.jpeg"><img width="300" height="300" src="../img/18cbfdb0ed097b6dc14b289b6c6239a6.jpeg"></a></li>
					</div>
					<div class="row">
						<li class="col-md-6 mt40"><a href="../img/436f6fe59774759540fe21cf1561fd1d.jpeg"><img width="300" height="300" src="../img/436f6fe59774759540fe21cf1561fd1d.jpeg"></a></li>
						<li class="col-md-6 mt40"><a href="../img/bd5494eac9bd01f35be1831b6b03254e.jpeg"><img width="300" height="300" src="../img/bd5494eac9bd01f35be1831b6b03254e.jpeg"></a></li>
					</div>
				</ul>
		</div>
	</div>
	
	<div id="footer">
		<div class="container">
			<h3 class="text-center">联系我们</h3>
			<div class="row">
				<div class="col-md-4">
					<h3><bold>Address</bold></h3>
					<h5>福建省厦门市集美区xxx号</h5>
				</div>
				<div class="col-md-4">
					<h3><bold>Send Us A Message:</bold></h3>
					<h5>xxx@qq.com</h5>
				</div>
				<div class="col-md-4">
					<h3><bold>QQ：</bold></h3>
					<h5>xxxxxxxxxxxx</h5>
				</div>
			</div>
		</div>
		<div class="contact">
			<div class="container">
				<a href="templates/contact.html">寻求帮助吗?</a>
			</div>
		</div>
	</div>
	</body>
</html>
