<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“神舟五号”载人飞船发射成功</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/4cb69e2abaebdc1f0e881cddbfc0161b.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>“神舟五号”载人飞船发射成功</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						获悉“神舟”五号载人飞船今晨6时23分在内蒙古主着陆场成功着陆的消息，全国各族人民欢欣鼓舞，昂扬激奋。各界人士认为，我国首次载人航天飞行获得圆满成功，实现了中华儿女多年的梦想，大长了中国人的志气，是我国航天发展史上的里程碑，值得全体中国人骄傲和自豪。
					</p>
					<p>
						从15日上午开始，人们便通过传媒密切关注“神舟”五号飞船发射升空、运行及返回情况。看到中国的航天员遨游太空，一股强烈的爱国主义激情在人们心中回荡。退休老干部王鸿祥说，“神舟”五号发射成功，是我国航天事业和科技事业全面发展的里程碑，它振奋了我们的民族精神，对全国人民来说是一个巨大的鼓舞。
					</p>
					<p>
						陕西高校的广大师生爱国热情高涨。西北工业大学航天学院博士生卢晓东高兴地说：“飞船升空如同上个世纪我国‘两弹一星’试验成功一样，将大大提升中国的国际地位，增强中华民族自信心。作为一名中国人，我感到十分自豪!”
					</p>
					<p>
						中国科技馆馆长王渝生说，“神舟”五号顺利返回地面，表明中国作为人类大家庭的一个成员，有能力在宇宙探索方面做出自己应有的贡献；说明中国在信息、生命、材料、能源、自动化控制等多个尖端的高科技领域达到了高水平，使中国在空间科学技术和产业化发展方面迈出了一大步。
					</p>
					<p>
						“神舟”五号的成功发射，鼓舞着全国各族人民大力弘扬载人航天精神，开拓进取，不断创新，为全面建设小康社会，实现中华民族的伟大复兴而努力。
					</p>
					<p>
						在“神舟”五号返回舱着陆点内蒙古，草原上的牧民通过电视看到了“神舟”五号成功着陆的场面喜不自禁。蒙古族学生萨日娜高兴地说：“飞船主着陆场就在我的家乡，我无比自豪。我今年17岁，看到科技工作者为祖国的航天事业做出的杰出贡献，我从心眼里感到佩服。我希望将来能像他们那样成为一名科技工作者，为祖国的强盛贡献自己的一份力量。”
					</p>
					<p>
						航天员杨利伟穿越大气层，不远万里为浩瀚星空增添了一抹中国红，标志着中国成为世界上第三个将人类送上太空的国家。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>