<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“长征一号”开辟中国问天路</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider" style="text-align: center;">
			
			<img src="../img/5d485ac6582dae34e9f580d4956d218c.jpeg" width="60%" />
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>“长征一号”开辟中国问天路</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						 　965年6月，中央专委十二次会议决定：将发射人造地球卫星列入国家计划，由第七机械工业部（七机部）负责研制运载火箭。1966年1月，七机部确定，第八设计院（上海机电设计院1965年8月搬迁到北京后的名称）负责运载火箭的技术抓总、末级总体及总装工作；火箭第一、二级选用东风四号导弹，一院承担一、二级研制和有关改变飞行程序和弹道计算的工作；四院研制末级固体发动机；二院研制火箭姿态控制系统。
					</p>
					<p>
						  1966年5月，上级批准并命名我国第一颗人造地球卫星为“东方红一号”，运载火箭为“长征一号”，整个工程代号为“651工程”。
					</p>
					<p>
						  1967年10月的一天，钱学森独自来到一部十室，他问大家：“如果把长征一号运载火箭的总体设计交给你们，准备怎么做？”几天后，大家向钱学森汇报并确认：“按两个型号分开独立设计，资料按独立型号管理……充分继承但不照搬东风四号的成熟技术和经验。”
					</p>
					<p>
						  1967年11月，国防科委下发《关于长征一号研制任务移交的通知》，决定将长征一号研制任务由八院移交给一院。12月，国防科委召开“502会议”，修改了卫星运载器的能力要求和轨道要求，将卫星运载器的能力要求从130千克增加到170千克，且轨道近地点高度要求大于400千米。会后，一部全面梳理长征一号总体方案，更改了之前方案存在隐患、可靠性不高的设计，于1968年1月23日，向四院发出第三级固体发动机《研制任务书》，26日发出全箭《初始数据》，正式确定了长征一号三级火箭的总体技术方案。1970年4月24日，长征一号火箭成功将173千克（比苏、法、美、日4个国家首颗卫星总和还多30千克）的东方红一号卫星送人轨道，圆满完成任务。事实证明，总体技术方案是非常成功的，火箭性能水平很高。
					</p>
					<p>
						　长征一号火箭总体设计最突出的一个特点是采用了“弹、箭结合”方案，坚持从中国实际情况出发，既成功发射卫星，又成功试验了中远程导弹；既争取了时间，又节约了大量经费。长征一号火箭的总体设计是一个良好的开端，使我国掌握了多级火箭技术并应用到后续型号上。
					</p>
					<p>
						  发射卫星必须掌握“多级火箭”技术。世界航天起步阶段，各国因为未吃透难度很大的多级火箭技术而导致的失败屡见不鲜。如美国的“雷神—阿金纳”火箭，欧洲七国联合研制的“欧洲1号”火箭，都曾因级间分离故障而失败。
					</p>
					<p>
						  长征一号是三级火箭。其中，一、二级火箭的连接和分离，抛整流罩，二、三级火箭的连接和分离，“星—箭”的连接和分离，都是中国首次“多级火箭”尝试中的重点难题。当时的一部十室牵头，经过近两年的设计和实验，通过“热分离”方案使火箭可以在非失重状态下承受2000度高温正常分离，相继解决了“排焰顺畅和结构耐热”“分离前后箭体姿态稳定”等多个技术关键，保证了长征一号火箭发射东方红一号人造地球卫星和实践一号科学试验卫星两次全胜战绩。
					</p>
					<p>
						  值得一提的是，“热分离”方案被我国后来多个型号采用，一直沿用至今。2010年4月23日，在中国成功发射第一颗人造地球卫星四十周年纪念大会上，曾任一院一部总体设计组设计员、某型号总设计师的韩厚健说：“不要把长征一号当成老古董，它是‘中国第一箭’，它承载的深厚内涵远不止序列排号上的‘第一’这么简单，它是中国第一枚完全独立自主研制的空间运载火箭，为中国运载火箭大家族的后续辉煌开了一个好头。”
					</p>
					
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>