<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>“嫦娥一号”探月行动</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/d0ffe965822771f4e065454739adb916.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>“嫦娥一号”探月行动</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<b>	1简介</b>
					<p>
							嫦娥一号是我国的首颗绕月人造卫星。以中国古代神话人物嫦娥命名，计划将于2007年10月24日18时05分(UTC＋8时)左右在西昌卫星发射中心升空，整个“奔月”过程大概需要8-9天。预计卫星的总重量为2350千克左右，寿命大于1年。该卫星的主要探测目标是：获取月球表面的三维立体影像；分析月球表面有用元素的含量和物质类型的分布特点；探测月壤厚度和地球至月亮的空间环境。
					</p>
					<b>	2结构特点</b>
					<p>
							由卫星制动平台和有效载荷两大部分组成。卫星平台利用东方红三号卫星平台技术研制，科研人员对结构、推进、电源、测控和数传等8个分系统进行了适应性修改。有效载荷包括CCD立体相机、成像光谱仪、太阳宇宙射线监测器和低能粒子探测器等科学探测仪器。
					</p>
					<b>	3研制历程</b>
					<p>
							嫦娥系列卫星于2004年1月正式立项，被称作“嫦娥工程”。我国航天科技工作者早在1994年就进行了探月活动必要性和可行性研究，1996年完成了探月卫星的技术方案研究，1998年完成了卫星关键技术研究，以后又开展了深化论证工作。经过10年的酝酿，最终确定我国整个探月工程分为“绕”、“落”、“回”3个阶段。而嫦娥一号所完成的即是第一个阶段"绕"。	
					</p>
					<b>	4技术难点</b>
					<p>
						1、轨道设计与飞行程序控制问题<br />
						2、卫星姿态控制的三矢量控制问题<br />
						3、卫星环境适应性设计<br />
						4、远距离测控与通信问题“嫦娥一号”卫星由中国空间技术研究院承担研制，主要用于获取月球表面三维影像、分析月球表面有关物质元素的分布特点、探测月壤厚度、探测地月空间环境等。“嫦娥一号”月球探测卫星由卫星平台和有效载荷两大部分组成。卫星平台利用东方红三号卫星平台技术研制，科研人员对结构、推进、电源、测控和数传等8个分系统进行了适应性修改。有效载荷包括CCD立体相机、成像光谱仪、太阳宇宙射线监测器和
						
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>