<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>从神舟一号到四号</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					  <ul class="navbar-nav">
					    <li class="nav-item">
					  	<a class="nav-link smooth-link" href="../index.html">首页</a>
					    </li>
					    <li class="nav-item">
					  	<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					    </li>
					    <li class="nav-item">
					  	<a class="nav-link smooth-link" href="author.html">作者简介</a>
					    </li>
					  </ul>
					  <form class="form-inline">
					  	<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					  </form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/8489693ab3e2823c11408970738dc0dc.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>从神舟一号到四号</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					
					<b>神舟一号 （1999年）</b>
					<p>
						该飞船是我国载人航天工程的首次飞行任务，也是神舟飞船的首次发射。
					</p>
					<p>
						1999年11月20日凌晨6时在酒泉航天发射场由在长征2号捆绑式火箭的基础上改进研制的长征2号F火箭发射升空， 
					</p>
					<p>
						飞船入轨后各测控中心和海上测量船对飞船进行了跟踪测控，还对飞船内的生命保障系统、姿态控制系统等进行了首次测试。飞船按预定程序在轨运行14圈后，挥中心向飞船发出返回指令，随后，飞船建立返回姿态，制动发动机点火，飞船开始执行返回程序。
					</p>
					<p>
						11月21日凌晨3时降落在内蒙古苏尼特右旗赛汉塔拉主着陆场，任务获得圆满成功。
						
					</p>
					<b>神舟二号（2001年）</b>
					<p>
						神舟二号同样是一艘无人试验飞船，是我国第一艘正样无人航天试验船，由推进舱、返回舱、轨道舱三部分组成。	
					</p>
					<p>
						飞船飞行期间，各种试验仪器设备性能稳定，工作正常，采集了大量宝贵的飞行试验数据。此时飞行，还首次在飞船上进行了微重力环境下的空间生命科学、空间材料、空间天文和物理等多领域的科学实验。
					
					</p>
					<b>神舟三号（2002年）</b>
					<p>
						神舟三号是我国发射的第三艘无人试验飞船，同时也是神舟系列飞船中的第二艘正样无人飞船，以研究载人功能为主要目的，飞船上除了没搭载航天员之外，其测试技术状态与设计将与载人状态一致。
					</p>
					<p>
						神三飞船上搭载了一个生理模拟规格的假人宇航员，该装置可以模拟人体代谢、模拟人生理信号、能够定量模拟航天员在太空中的重要生理活动参数。
					</p>
					<p>
						此外，神舟三号上还搭载有多个实验装置以及植物的种子等。飞船由推进舱、返回舱和轨道舱组成。
					</p>
					<b>神舟四号（2002年）</b>
					<p>
						神舟四号是我国第三艘正样无人飞船。除了没有搭载航天员以外，其技术状态与载人飞船完全一样。该飞船由推进舱、返回舱、轨道舱和附加段组成。
					</p>
					<p>
						神舟四号飞船是在前三艘飞船的基础上，进一步改进和完善，并完全按照载人航天的安全要求进行设计制造，飞船的返回舱内增加了两个座椅，坐着两个模拟航天员，宇航员工作、生活、医护所需物品，包括睡袋、压力服、太空食品，以及着陆后遇到意外情况所需的各种救生物品一应俱全，与有人规格是完全一样的，将任务意外的应变能力大幅提高。
					</p>
					<p>
						神舟四号任务是历次无人飞行试验中技术要求最高、参试系统最全、难度最大、考核最全面的一次，为按计划实施首次载人航天飞行任务奠定了基础。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>