<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>神舟七号飞天_中国航天员首次太空行走</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/1fdabafda5af76f97b2d06e26340da98.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>神舟七号飞天_中国航天员首次太空行走</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						2008年9月25日21时10分，神舟七号飞船在酒泉卫星发射中心由新型长征二号F遥七火箭发射，翟志刚、刘伯明、景海鹏3名航天员搭乘神舟七号飞船进入太空，实现了航天员出舱活动和小卫星伴飞，成功完成了多项技术试验，开启了我国载人航天工程的新篇章。9月27日，航天员翟志刚圆满完成我国首次空间出舱任务。中国成为世界上第三个独立掌握空间出舱关键技术的国家。
					</p>
					<b>	六大技术上的创新与突破</b>
					<p>
						神舟七号任务主要目的是突破和掌握航天员出舱活动技术，与神舟五号、神舟六号任务相比，技术上主要突破载人飞船气闸舱、舱外航天服和航天员地面训练等关键技术。
					</p>
					<p>
						神舟七号飞船在方案设计、系统研制过程中，进行了多项关键技术的攻关和突破。
					</p>
					<p>
						一是气闸舱与生活舱一体化设计技术。轨道舱进行了全新的设计，兼作航天员生活舱和出舱活动气闸舱，增加了泄复压控制功能、出舱活动空间支持功能、舱外航天服支持功能、出舱活动无线电通信功能、舱外活动照明和摄像功能、出舱活动准备期间的人工控制和显示功能等。
					
					</p>
					<p>
						二是出舱活动飞行程序设计技术。在出舱活动飞行程序设计上，考虑运行轨道、地面测控、能源平衡、姿态控制、空间环境适应性等多种约束条件，通过合理、优化配置飞船的资源，设计出具备在轨飞行支持出舱活动的程序平台。在此基础上，根据航天员的生理条件、舱外航天服的工作状态，进行飞行期间的航天员操作项目编排并生成船上的自动控制程序，使飞船自动控制与航天员手动操作项目匹配、协调。
					</p>
					<p>
						三是中继卫星数据终端系统设计及在轨试验设计技术。神舟七号飞船装载了我国中继卫星系统的首个用户数据终端系统，进行了国内首次天地数据中继系统数据传输试验。
					</p>
					<p>
						四是航天产品国产化技术与应用。对部分关键器件、组件采用了国产化产品，对于促进航天科技，带动我国相关科学技术进步，发展自主创新型科技具有重要意义。
					</p>
					<p>
						五是载人飞船3人飞行能力设计与应用技术。按照3人人体代谢指标设计、配置了环境控制设备，提供可容纳3名航天员生活和工作空间，设计了3人指挥、操作、协同关系程序。
					</p>
					<p>
						六是伴飞卫星释放支持及分离安全性设计技术。为伴飞卫星提供了释放平台和释放能力，解决了伴飞卫星释放后对飞船的安全性影响问题。
					</p>
					<b>	航天员训练历时2年7个月</b>
					<p>
						2008年9月24日，神舟七号载人航天飞行任务总指挥部决定，神舟七号飞船将于9月25日21时07分至22时27分择机发射，进行载人航天飞行。执行神七飞行任务的航天员是翟志刚、刘伯明、景海鹏。
					</p>
					<p>
						神舟七号任务航天员在选拔和训练上，与神舟五号和神舟六号任务相比有一些技术上的变化。但是，对神舟七号任务航天员选拔的总体要求与神舟五号和神舟六号任务基本上是一致的，对于航天员的身高和年龄没有更多的要求，变化主要是为适应神舟七号航天员出舱活动任务而对航天员身体素质和心理素质提出的要求。
					</p>
					<p>
						此前，针对神舟七号载人飞行任务特点制订了神舟七号航天员训练总体方案，开展了共同训练阶段、任务训练阶段和强化训练与任务准备阶段三个阶段的训练，历时2年7个月。训练期间，航天员除完成体能、心理、救生、飞行程序等常规训练科目外，重点进行了出舱活动针对性训练。出舱活动针对性训练主要包括：出舱活动理论和技能训练、舱外航天服技术训练、常压出舱程序与任务模拟训练、低压环境出舱活动程序训练、模拟失重水槽训练，以及人舱服联合演练等。
					</p>
					<b>	安排四项空间试验</b>
					<p>
						神舟七号载人航天飞行是中国载人航天工程第二步任务阶段的首次载人航天飞行，其主要任务是实施我国航天员第一次空间出舱活动。航天员在空间飞行期间，将主要完成四项空间科学研究与实验：①航天员出舱活动。目的是突破和掌握航天员出舱活动相关技术。②伴飞卫星试验。按计划，航天员出舱活动结束后，会释放伴飞卫星，围绕轨道舱进行伴飞试验，这个试验的目的是试验和验证卫星在轨释放技术和伴随飞行技术。③开展固体润滑材料和太阳电池基板材料外太空暴露试验。目的是研究外太空环境引起材料特性衰变、改性的机理和探索用于提高航天设备中机械运动部件固体润滑材料性能的技术途径。④卫星数据中继试验。目的是验证中继卫星系统的性能及其与飞船、任务中心之间的协调性，为后续载人航天飞行任务使用中继卫星系统奠定基础。
					</p>
					<p>
						9月27日，执行神舟七号载人航天飞行出舱活动任务的航天员翟志刚出舱后挥动中国国旗（摄于北京航天飞行控制中心大屏幕）。新华社记者查春明摄
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>