<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>了解更多</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="appreciate.html">美图欣赏</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="author.html">作者简介</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/4cb69e2abaebdc1f0e881cddbfc0161b.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>发展航天事业 建设航天强国100周年</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						探索浩瀚宇宙，发展航天事业，建设航天强国，承载着中华民族的航天梦，展现了中国人“敢上九天揽月”的豪情壮志。
					</p>
					<p>
						在中国共产党历史展览馆，陈列着航天员杨利伟在太空展示的中国国旗和联合国旗，两面旗帜尺寸相同，长15厘米，宽10厘米，重约10克，为尼龙质地。搭载这两面旗帜的是神舟五号载人飞船，这次发射任务的圆满成功，实现了中华民族的千年飞天梦想，是中国载人航天事业的重要里程碑。
					</p>
					<p>
						回望来时路，我国载人航天事业的每一步都坚实而有力。20世纪60年代，继苏联宇航员加加林首飞太空后，一些国家实现了将本国宇航员送入太空的计划，一个个“飞天英雄”推开了太空之门。1970年4月24日，我国成功发射第一颗人造地球卫星“东方红一号”，标志着我国在宇宙航天技术方面取得历史性突破，成为继苏、美、法、日之后，世界上第五个发射人造卫星的国家。进入80年代，面对世界科学技术日新月异带来的机遇和挑战，我国科学家王大珩、王淦昌、杨嘉墀、陈芳允等于1986年3月向党中央提出《关于跟踪研究外国战略性高技术发展的建议》，同年11月，中共中央、国务院转发《高技术研究发展计划纲要》，其中，航天技术研究被列为发展高技术的重点，这个高技术发展计划后被称为“863计划”。
					</p>
					<p>
						在世界科技进步迅猛发展、综合国力竞争日趋激烈的新形势下，1992年9月，党中央批准我国载人航天工程以载人飞船起步、以空间站为目标的“三步走”发展战略。第一步，发射载人飞船，建成初步配套的试验性载人飞船工程，开展空间应用实验；第二步，突破航天员出舱活动技术、空间飞行器的交会对接技术，发射空间实验室，解决有一定规模的、短期有人照料的空间应用问题；第三步，建造空间站，解决有较大规模的、长期有人照料的空间应用问题。
					</p>
					<p>
						在科研人员的协同攻关下，1999年11月，我国成功发射第一艘无人试验飞船神舟一号，这也标志着我国仅用7年时间就攻克了载人航天三大技术难题：可靠性强的大推力火箭、良好的生命防护系统、安全性高的飞船返回技术。2001年初至2002年底，神舟二号、神舟三号、神舟四号无人飞船相继发射成功，获得了大量飞行试验数据和科学资料，为实现我国航天员天地往返奠定了坚实的基础。
					</p>
					<p>
						在完成四次无人飞行试验后，2003年10月15日，神舟五号载人飞船在长征二号F火箭的托举下，升腾而起，进入太空。神舟五号在轨飞行14圈，在环绕地球飞行第七圈时，杨利伟左手持中国国旗，右手持联合国旗，轻轻挥动，并用中英双语说道：“和平利用太空，造福全人类。”历时21小时23分，神舟五号顺利完成各项预定操作任务，安全返回主着陆场。我国由此成为世界上第三个独立掌握载人航天技术的国家。
					</p>
					<p>
						完成载人航天计划“第一步”后，2005年10月12日，神舟六号载人飞船搭载2名航天员发射升空，这是中国第一艘执行“多人多天”任务的载人飞船。在此基础上，2008年9月25日，神舟七号载人飞船成功发射，开启了我国载人航天计划“第二步”，值得一提的是，此次飞行任务中，3名航天员中的1人实现了出舱活动，茫茫太空第一次留下中国人的身影。
					</p>
					<p>
						2010年，党中央批准我国载人空间站工程立项，该工程分为空间实验室和空间站两个任务阶段。2011年9月29日，随着我国第一个空间实验室天宫一号发射升空，中国正式迈入空间站时代。此后，随着神舟八号（未载人）、神舟九号（载3人）、神舟十号（载3人）的先后发射，并与天宫一号进行多次交会对接，我国载人航天工程“第二步”第一阶段任务圆满收官，为空间站建设奠定良好基础。每发射一次，就前进一步。2016年9月15日，天宫二号成功发射入轨。2016年10月17日，神舟十一号载人飞船搭载2名航天员发射升空，飞行期间与天宫二号进行自动交会对接，形成组合体。神舟十一号实现了我国载人航天工程计划中第二步到第三步的跨越，为中国空间站建造运营和航天员长期驻留打下了基础、做足了准备。
					</p>
					<p>
						2021年4月，习近平总书记指出：“建造空间站、建成国家太空实验室，是实现我国载人航天工程‘三步走’战略的重要目标，是建设科技强国、航天强国的重要引领性工程。”2021年6月17日，神舟十二号载人飞船成功发射，这是我国载人航天工程“第三步”的首次载人飞行。3名航天员进驻核心舱，进行了为期3个月的驻留，在轨飞行期间进行了2次航天员出舱活动，开展了一系列空间科学实验和技术试验。值得一提的是，此次飞行任务适逢中国共产党成立一百周年之际，飞船还搭载了见证中国载人航天事业达到新高度的中国共产党党旗（收藏于中国共产党历史展览馆）。2021年10月16日，神舟十三号载人飞船发射升空。神舟十三号乘组在轨飞行183天，创造了中国航天员连续在轨飞行时间的最长纪录，神舟十三号任务圆满成功标志着空间站关键技术验证阶段的完美收官。根据任务安排，我国还将在2022年内实施包括发射神舟十四号、神舟十五号载人飞船在内的6次飞行任务，完成空间站在轨建造，建成在轨稳定运行的国家太空实验室。
					</p>
					<p>
						从无人飞行到载人飞行，从一人一天到多人多天，从舱内实验到出舱活动，从交会对接到空间站建造……中国航天的高度不断刷新，距离梦想的目标不断接近，在这条从艰辛走向辉煌的奋斗路上，我国航天工作者突破和掌握了许多重大关键技术，取得了一大批自主创新技术成果，极大鼓舞了中国人民的创新信念和信心，为全社会创新创造提供了强大激励。
					</p>
					<p>
						伟大事业孕育伟大精神，伟大精神引领伟大事业。一代代航天工作者不仅创造了举世瞩目的伟大成就，更培育和形成了“特别能吃苦、特别能战斗、特别能攻关、特别能奉献”的载人航天精神。在建设航天强国的新征程上，我国航天工作者以载人航天精神为动力源泉，自立自强、创新超越，在人类探索太空的事业中不断贡献着中国力量。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>