<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>庆祝中国共产主义青年团成立100周年</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/slider2.jpg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>庆祝中国共产主义青年团成立100周年</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						5月10日上午，庆祝中国共产主义青年团成立100周年大会在北京人民大会堂隆重举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。习近平总书记掷地有声的话语，在定西公安机关全体青年民警中引发热烈反响和强烈共鸣。
					</p>
					<p>
						期间，全市各级公安机关积极组织全体民警通过电视、广播、互联网等渠道观看、聆听大会直播盛况，在观看过程中，民警们认真记录讲话要点并不时报以热烈掌声；执勤民警在岗位上利用手机客户端观看大会直播，共同见证激动人心的时刻。
					</p>
					<p>
						全市广大青年民警纷纷表示，习近平总书记重要讲话寄托希望、饱含关爱，令人鼓舞、催人奋进，为推动共青团工作高质量发展指明了新方向、提出了新要求、道出了新期盼。作为青年民警，要认真学习领会习近平总书记的重要讲话精神，以国家安定、人民安宁为己任，积极投身中国特色社会主义建设事业伟大实践，在本职岗位上纵深推进平安建设、保障群众安居乐业，为党的二十大胜利召开营造安全稳定的社会环境。
					</p>
					<p>
						市公安局团委书记、办公室副主任  韩亮石:<br />
						<hr>
					</p>
					<p>
						聆听了习近平在庆祝中国共产主义青年团成立100周年大会上的重要讲话，作为一名青年民警和从事共青团工作的干部，我深感荣幸和自豪。党旗所指，即是警心所向。我将坚定不移听党话、跟党走，牢记习近平总书记的殷殷嘱托，恪守“十六字总要求”，坚定理想信念，践行初心使命，爱党报国，服务人民，忠实履行好党和人民赋予的新时代使命任务，坚决维护社会公平正义，努力成长为堪当民族复兴重任的时代新人，为建设更高水平的平安定西、法治定西贡献力量！
					</p>
					<p>
						市公安局交警支队民警  刘燕:<br />
						<hr>
					</p>
					<p>
						百年波澜壮阔，百年青春昂扬。通过收听观看习近平总书记在庆祝中国共产主义青年团成立100周年大会上的重要讲话，我深受鼓舞，倍感振奋。作为一名90后的青年团员，要努力提高自身思想素质，弘扬社会主义道德风尚，严于律己，扬善抑恶、求实创造、与时俱进，将优秀的中华民族传统美德发扬光大。同时，在本职岗位上砥砺前行、不懈奋斗，不负青春韶华，不辱光荣使命，以青春之歌谱写建功立业。作为新时代的青年人，随着新时代经济的迅猛发展，祖国母亲日益的强大，我们更要点燃青春，立志报国，奉献社会，我们必须懂得奉献，因为奉献才是青春的价值所在,唯有奉献了的青春才是最迷人的青春。为此,通过此次的大会来祝愿我们的伟大共青团成立100周年纪念日，祝愿我们的祖国未来道路发展越来越强大。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>