<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>《先驱》创刊</title>
		<style>
		
		.rslides{
			width: 100%;
			position:relative;
			z-index:3;
		}
		.rslides img{
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			width:100%;
			margin:auto;
			z-index: -1;
			*zoom:1;
		}
		.rslides:before {
			content: "";
			display: inline-block;
			padding-bottom: 100%;
			width: 0.1px;    /*必须要有数值，否则无法把高度撑起来*/
			vertical-align: middle;
		}
		p{
			font-size: 20px;
		}
		</style>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/stisla.css">
		<link rel="stylesheet" href="../css/responsiveslides.css">
	</head>
	<body>

		<nav class="navbar navbar-expand-lg main-navbar" >
			<div class="container-fluid">			
			  <a class="navbar-brand" href="#">
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
					  
					  <div class="mr-auto"></div>
					<ul class="navbar-nav">
					  <li class="nav-item">
						<a class="nav-link smooth-link" href="../index.html">首页</a>
					  </li>
					</ul>
					<form class="form-inline">
						<a href="contact.html" class="btn smooth-link align-middle btn-primary">需要帮助?</a>
					</form>
			  </div>
		  </div>
		</nav>

		<div class="image-slider">
			<!-- Slideshow 1 -->
			<ul class="rslides" id="slider1" style="background-image: url(../img/90ecc4c23f641cca754d0af3eb825f87.jpeg);background-repeat: no-repeat;background-size: 100% 100%;" >
			  </ul>
		</div>
		<div class="wrap">
			<div class="about-us">
				 <div class="about-header">
					<h3>《先驱》创刊</h3>
				 </div>
				<div class="about-info" style="font-size: 18px;">
					<p>
						  1921年7月中国共产党成立后，开始进行恢复和整顿青年团工作。北京的青年团组织为了加强团的思想建设，创办了《先驱》半月刊，编辑部设在北京大学文学院内，由北京社会主义青年团书记邓中夏以及刘仁静等主编。
					</p>
					<p>
						  在《先驱》的发刊词中，编者鲜明地提出：刊物所担负的任务有以下三项：“一是努力唤醒国民的自觉，打破因袭、奴性、偷惰和依赖的习惯，而代之以反抗的创造精神。二是努力研究中国的客观实际情形，而求得最合宜的解决中国问题的方案。三是介绍各国社会主义运动的成绩和失败之点，以供我们运动的参考。”
					</p>
					<p>
						 1922年1月15日，《先驱》出版了第一期，成为中国社会主义青年团的第一个机关刊物。《先驱》创刊后，特别是成为团中央的机关刊物后，运用了较大篇幅探讨和研究有关中国革命和青年团的建设的一系列重大问题，如中国革命的性质、中国社会各阶级状况的分析、青年运动的方向、青年团的工作方针、共产党和青年团的关系等。
					</p>
					<p>
						  另外，还配合中国共产党关于民主革命纲领的形成和提出，刊载部分马列主义经典著作。例如列宁的《民族殖民地问题提纲初稿》就由《先驱》创刊号译载，使得列宁的民族民主革命思想得以先在青年团内传播。
					</p>
					<p>
						　1923年8月15日，《先驱》在出版第25期后停刊，出版发行时间只有一年零8个月。《先驱》作为中国共产党领导下最早的一份团中央机关刊，尽管存在时间很短，但是由于它能够旗帜鲜明地宣传马列主义、宣传十月革命、宣传共产党和青年团的主张，宣传反帝反封建，所以在扩大共产党和青年团在社会和青年中的影响，加强对团员的思想教育，统一全团的思想等方面，还是起到了十分积极的作用。
					</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h3 class="text-center">联系我们</h3>
		        <div class="row">
		            <div class="col-md-4">
		                <h3><bold>Address</bold></h3>
		                <h5>福建省厦门市集美区xxx号</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>Send Us A Message:</bold></h3>
		                <h5>xxx@qq.com</h5>
		            </div>
		            <div class="col-md-4">
		                <h3><bold>QQ：</bold></h3>
		                <h5>xxxxxxxxxxxx</h5>
		            </div>
				</div>
			</div>
			<div class="contact">
				<div class="container">
					<a href="contact.html">寻求帮助吗?</a>
				</div>
			</div>
		</div>
		<script src="../js/jquery-3.2.1.min.js"></script>
	</body>
</html>