body {
    font: 14px/1.8 "Segoe UI",Tahoma,Arial,Microsoft YaHei;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    /* background: url(images/bdbg.jpg) repeat-x; */
    color: #333;
}
body, ul, ol, li, dl, dd, form, p, h1, h2, h3, h4, h5, h6, fieldset {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Arial,Microsoft YaHei,"宋体";
}
img, iframe, fieldset {
    border: 0;
}
a {
    outline: none;
    color: #333;
}
ol, ul, li, p, img {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topnav {
    height: 40px;
    background: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
    color: #dbdbdb;
}
.warp {
    max-width: 1200px;
    min-width: 980px;
    margin: 0 auto;
    background-color: #FFF;
}
.warp {
    width: 1200px;
}
.topnav .warp {
    background: #f7f7f7;
}

.fl {
    float: left;
}
.topnav_left a {
    line-height: 40px;
    padding: 0 15px;
    color: #666;
    text-decoration: none;
}
.topnav_left a:hover{
	text-decoration: underline;
}
.header {
    overflow: hidden;
    background-color: #FFF;
}
.logo {
    margin: 15px 0 10px 0;
}
.logo a {
    display: block;
    float: left;
}
.logo img {
    display: inline-block;
}
#seach {
    width: 534px;
    margin-top: 11px;
}

.fr {
    float: right;
}
.hot {
    color: #dbdbdb;
    margin-bottom: 5px;
    margin-left: -8px;
    width: 534px;
    overflow: hidden;
    white-space: nowrap;
}
.hot a.yellow {
    color: #ff6b1b;
}

.hot a {
    font-size: 12px;
    padding: 0 10px;
    color: #666;
    text-decoration: none;
}
.hot a:hover {
	text-decoration: underline;
}

#search_form_input {
    float: left;
    display: inline;
    width: 385px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 5px 60px 5px 5px;
    background: #fff;
    border: 1px solid #e0e2e3;
    border-right: 0 none;
    color: #333;
}
.TopNav-menu {
    height: 40px;
    background: #0068a5;
}
#search_form_submit {
    float: left;
    width: 72px;
    height: 38px;
    border: 0 none;
    cursor: pointer;
    background: #37aafb url(../img/icon.png) no-repeat 24px -40px;
    color: #fff;
    text-indent: -99999px;
}
.TopNav-showWrap {
    height: 40px;
    position: relative;
    z-index: 50;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
}
.TopNav-showWrap .TopNav-layout .TopNav-menu {
    height: 40px;
    background: #0068a5;
}
 .TopNav-Centbox {
    max-width: 1200px;
    min-width: 1000px;
    margin: 0px auto;
}
.TopNav-Centbox .TopNav-MenuItem-index {
    width: 10%;
}
.menu-title {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    border-right: 1px solid #066fac;
    border-left: 1px solid #005f96;
    text-align: center;
    text-decoration: none;
}
.Mhlight {
    color: #fff;
    background-color: #0e73ba;
}
.menu-title:hover {
	background-color: #37aafb;
}
.TopNav-Centbox .TopNav-MenuItem {
    display: inline;
    float: left;
}
.TopNav-Centbox .TopNav-MenuItem-index .menu-title {
    border-left: 1px solid #005f96;
}
.TopNav-MenuItemThree {
    width: 34%;
}
.TopNav-Centbox .TopNav-MenuItemOne {
    width: 16%;
}
.TopNav-Centbox .TopNav-MenuItemtwo {
    width: 23%;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.Hme_top {
    background-color: #f7f7f7;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 36px;
    padding: 0 10px;
    color: #333;
    position: relative;
}
.mt10 {
    margin-top: 10px;
}
.pretive {
    position: relative;
}
.mb20 {
    margin-bottom: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.mr20 {
    margin-right: 20px;
}
.Hme_top a {
    color: #666;
    padding-right: 15px;
    display: inline-block;
	text-decoration: none;
}
.Hme_top a:hover{
	text-decoration: underline;
	
}

.WarpLeft {
    margin-right: 350px;
    min-height: 1000px;
    height: auto;
    max-width: 830px;
}
.WarpLeft {
    width: 830px;
}
.wper40 {
    width: 44%;
}
.ehot {
    position: absolute;
    left: 0;
    right: 0;
    width: 40px;
    height: 42px;
    display: inline-block;
    background: url(../img/home-ic.png) no-repeat;
}
.hme_tit {
    height: 40px;
    line-height: 40px;
}
.hme_tit h3 {
    color: #000;
    font-size: 18px;
}

.pl46 {
    padding-left: 44px;
}
.hme_tit span {
    font-size: 12px;
    color: #999;
    white-space: nowrap;
    width: 56%;
    overflow: hidden;
}
.tit_span em {
    color: #f59103;
}
.hme_tit {
    height: 40px;
    line-height: 40px;
}
.mt12 {
    margin-top: 12px;
}
.Everytlist ul li {
    margin-bottom: 18px;
    height: 50px;
}
.etimg {
    float: left;
    width: 48px;
    height: 48px;
    display: inline-block;
}
.etimg img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
.everytxt {
    padding-left: 60px;
    height: 48px;
}
.everytxt a {
    white-space: nowrap;
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    font-size: 16px;
	text-decoration: none;
}
.everytxt a:hover{
	color: #ff6b1b;
	text-decoration: underline;
}
.everytxt p {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    margin-top: 2px;
}
.everytxt p a:first-child {
    margin-left: 0;
    margin-right: 0;
}

.everytxt p a {
    display: inline;
    font-size: 14px;
    color: #999;
    margin-right: 6px;
    margin-left: 4px;
}
.wper60 {
    width: 56%;
}
.hme_tit {
    height: 40px;
    line-height: 40px;
}
.hme_tit h3 {
    color: #000;
    font-size: 18px;
}
.hme_tit span.tspan_a {
    width: auto;
}

.hme_tit span {
    font-size: 12px;
    color: #999;
    white-space: nowrap;
    width: 56%;
    overflow: hidden;
}
.tspan_a a.press {
    background-color: #37aafb;
    color: #FFF;
}

.tspan_a a {
    padding: 0 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    font-size: 18px;
    text-decoration: none;
}
.tspan_a a {
    padding: 0 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    font-size: 18px;
    text-decoration: none;
}
.tspan_a a i {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../img/home-ic.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.tspan_a a.press i.happ {
    background-position: -71px -20px;
}
.tspan_a a i.hpc {
    background-position: -48px 0px;
}
.tspan_a a.press i.hpc {
    background-position: -48px -20px;
}
.tspan_a a i.happ {
    background-position: -71px 0px;
    margin-top: -3px;
}
.Everynews ul li {
    font-size: 15px;
    line-height: 31px;
    white-space: nowrap;
    height: 31px;
}
.Everynews ul li span {
    width: 88%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.Everynews ul li a {
    text-decoration: none;
}
.cate {
    color: #999;
    margin-right: 3px;
}
.Everynews ul li font {
    float: right;
    color: #999;
    display: inline;
    cursor: pointer;
}
.Everynews {
    margin-top: 6px;
}
.Everynews a:hover{
	color: #ff6b1b;
	text-decoration: underline;
}
.twofloor, .fourfloor {
    border-top: solid 1px #f0f0f0;
}
.wper50 {
    width: 50%;
}
.twofl_tit {
    height: 40px;
    line-height: 40px;
}
.twofl_tit h3 {
    font-size: 18px;
    padding: 0 10px;
    color: #000;
}
.more {
    font-size: 14px;
    color: #999;
    float: right;
    display: inline;
    line-height: 40px;
    cursor: pointer;
}
.mt20 {
    margin-top: 20px;
}
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
.top_down {
    background: #fafafa;
    font-size: 14px;
    padding-bottom: 12px;
}
.top_down {
    background: #fff;
    padding-top: 10px;
}

.top_down ul li.extrude {
    overflow: hidden;
    zoom: 1;
    height: 15px;
    line-height: 15px;
    padding: 9px 0 8px 12px;
    cursor: pointer;
}
.top_down ul.twoflr_box li.extrude {
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.top_down ul li .icon span {
    display: block;
    float: left;
    background: #ced0d2;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #FFF;
    text-align: center;
}
.top_down ul li .hiden span {
    background: none;
    color: #dfdfdf;
    width: 10px;
    font-size: 28px;
}
.top_down ul.twoflr_box li .hiden span {
    color: #d2d2d2;
    line-height: 12px;
    text-align: left;
}
.top_down ul.twoflr_box li .icon a {
    width: 92%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top_down ul li .icon a {
    display: block;
    float: left;
    color: #333;
    width: 264px;
    margin-left: 5px;
    overflow: hidden;
    height: 15px;
    line-height: 15px;
}
.top_down ul li .icon a{
	text-decoration: none;
}
.top_down ul li.extrude .name {
    display: none;
    margin-left: 0px;
}
.top_down ul li.extrude .name {
    float: left;
}
.top_down ul li.extrude .price, .top_down ul li.extrude .sales, .top_down ul li.extrude .duanluo, .top_down ul li.extrude .gdl {
    display: none;
}
.top_down ul.twoflr_box li.hover1 {
    height: 90px;
    background: #f7f7f7;
    margin-bottom: 10px;
}
.top_down ul li.hover1 .hiden {
    display: none;
}
.top_down ul.twoflr_box li.hover1 .name {
    margin: 0;
}
.top_down ul li.hover1 .name {
    display: block;
    margin: 12px 0 10px 0;
    clear: left;
}
.top_down ul.twoflr_box li.hover1 .name a img {
    display: block;
    width: 140px;
    height: 90px;
    border-radius: 0;
}
.top_down ul.twoflr_box li.hover1 .ico_b_right .gdl h3 a{
	text-decoration: none;
}
.top_down ul.twoflr_box li.hover1 .ico_b_right .gdl h3 a:hover{
	text-decoration: underline;
	color: #ff6b1b;
}
.top_down ul.twoflr_box li.hover1 .ico_b_right {
    width: 63%;
}

.top_down ul li.hover1 .gdl {
    display: block;
    width: 102px;
    overflow: hidden;
    padding-left: 12px;
    color: #999;
    height: 89px;
    margin-top: 9px;
    line-height: 22px;
}
.top_down ul li.hover1 .gdl {
    width: auto;
}

.top_down ul li.hover1 .gdl h3 {
    line-height: 14px;
    height: 28px;
    overflow: hidden;
}
.top_down ul li.hover1 .gdl h3 {
    line-height: 22px;
    /* height: 44px; */
    overflow: hidden;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.top_down ul.twoflr_box li.hover1 .gdl p {
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    overflow: hidden;
}
.top_down ul li.hover1 .ico_b_right {
    float: left;
}
.threebox dl {
    width: 14.2%;
    float: left;
    text-align: center;
}
.threebox dl dt {
    background-color: #f7f7f7;
    line-height: 36px;
}
.threebox dl dd {
    padding: 5px 0 10px 0;
}
.threebox dl dt a {
    color: #0068a5;
	text-decoration: none;
}
.threebox dl dd a{
	text-decoration: none;
	
}
.threebox dl dd ul li {
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
}
.threebox dl dt a:hover{
	text-decoration: underline;
}
.threebox dl dd a:hover {
    color: #ff6b1b;
	text-decoration: underline;
}

.twofl_tit {
    height: 40px;
    line-height: 40px;
}
.twofl_tit h3 {
    font-size: 18px;
    padding: 0 10px;
    color: #000;
}
.hemtitr {
    color: #999;
}
.fr {
    float: right;
}
.hemtitr a.press {
    color: #37aafb;
}
.hemtitr a:hover {
    color: #37aafb;
}
.hemtitr a {
    padding: 0 10px;
    color: #000;
}
.Happlist {
    margin-left: -15px;
    clear: left;
    padding: 0px 0 0px 0;
    overflow: hidden;
}
.Happlist li {
    width: 14.28%;
    float: left;
    text-align: center;
    margin: 15px 0px 5px 0px;
    text-align: center;
}
.Happlist li a{
	text-decoration: none;
}
.Happlist li a:hover{
    color: #ff6b1b;
	text-decoration: underline;
}
.Happlist li a img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.Happlist li p {
    text-align: center;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}
.WarpRight {
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}
.HmeTopright {
    border: solid 1px #dedede;
    padding: 0px 15px 13px 15px;
    overflow: hidden;
    box-sizing: border-box;
}
.hme_tit {
    height: 40px;
    line-height: 40px;
}
.hme_tit h3 {
    color: #000;
    font-size: 18px;
}
.Hemfocus {
    position: relative;
    width: 300px;
    height: 194px;
}
.Hemfocus .fPic {
    position: absolute;
    left: 0px;
    top: 0px;
}
.Hemfocus .fcon {
    position: relative;
    width: 100%;
    float: left;
    display: none;
    background: #000;
}	
.Hemfocus .shadow {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 10;
    height: 36px;
    line-height: 36px;
    background: rgba(0,0,0,0.6);
    display: block;
    text-align: left;
}

.Hemfocus .shadow a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    margin-left: 10px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    width: 218px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
.HemTopList {
    padding-top: 12px;
}
.HemTopList ul li {
    width: 149px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    float: left;
    white-space: nowrap;
}
.HemTopList ul li em {
    font-size: 16px;
    font-weight: bold;
    padding-right: 8px;
    color: #d2d2d2;
}
.HemTopList ul li a {
    text-decoration: none;
}
.HemTopList ul li a:hover {
    color: #ff6b1b;
    text-decoration: underline;
}
.rmgjc {
    border: solid 1px #dedede;
    margin-top: 20px;
    overflow: hidden;
}
.rjc_title {
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    border-bottom: none;
}
.l_yc {
    margin-left: -20px;
    padding: 5px 14px 0 14px;
    overflow: hidden;
}
.l_yc li {
    float: left;
    width: 140px;
    margin-left: 19px;
    margin-bottom: 5px;
}

.l_yc li p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}
.yc_list {
    margin: 0px 14px 12px 14px;
    clear: both;
    overflow: hidden;
}
.yc_list li {
    height: 30px;
    line-height: 30px;
    background: url(../img/icon.png) no-repeat -97px 15px;
    padding-left: 13px;
    font-size: 14px;
}
.yc_list li a {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.yc_list li a{
	text-decoration: none;
}
.friendbox {
    border-top: solid 1px #ddd;
}
.friend_tit {
    height: 44px;
    line-height: 44px;
}
.friend_tit h3 a.press {
    font-size: 18px;
    color: #0068a5;
    padding-right: 20px;
    text-decoration: none;
}
.friendr {
    color: #999;
}
.friendr em {
    color: #000;
}
.friendr img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.friendr a {
    color: #999;
    text-decoration: none;
    margin-left: 10px;
}
.friend a {
    padding-right: 20px;
    line-height: 28px;
    height: 28px;
    white-space: nowrap;
    color: #666;
    text-decoration: none;
}
.footer {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
}

.bg {
    background-color: #f4f4f4;
}
.footer .sitelinks {
    height: 2.2em;
    line-height: 2.2;
    padding: 0 10px;
    word-spacing: 0.2em;
    color: #dbdbdb;
}